# Practice 3
- More LeetCode practice

# Questions # 401-425

In [ ]:
# all imports here
from typing import List

## 401. Unique Length-3 Palindromic Subsequences
- Daily problem
- Given a string s, return the number of unique palindromes of length three that are a subsequence of s.

- Note that even if there are multiple ways to obtain the same subsequence, it is still only counted once.

- A palindrome is a string that reads the same forwards and backwards.

- A subsequence of a string is a new string generated from the original string with some characters (can be none) deleted without changing the relative order of the remaining characters.

    - For example, "ace" is a subsequence of "abcde".
 

- Example 1:

    - Input: s = "aabca"
    - Output: 3
    - Explanation: The 3 palindromic subsequences of length 3 are:
- "aba" (subsequence of "aabca")
- "aaa" (subsequence of "aabca")
- "aca" (subsequence of "aabca")

- Example 2:

    - Input: s = "adc"
    - Output: 0
    - Explanation: There are no palindromic subsequences of length 3 in "adc".

- Example 3:

    - Input: s = "bbcbaba"
    - Output: 4
    - Explanation: The 4 palindromic subsequences of length 3 are:
- "bbb" (subsequence of "bbcbaba")
- "bcb" (subsequence of "bbcbaba")
- "bab" (subsequence of "bbcbaba")
- "aba" (subsequence of "bbcbaba")
 

- Constraints:

    - 3 <= s.length <= 105
    - s consists of only lowercase English letters.

In [ ]:
class Solution:
    def countPalindromicSubsequence(self, s: str) -> int:
        result = 0

        for code in range(26):
            char = chr(ord('a') + code)

            first = -1
            last = -1
            for i in range(len(s)):
                if s[i] == char:
                    if first == -1:
                        first = i 
                    last = i 
            if first == -1 or first == last:
                continue 
                
            unique = set()
            for i in range(first + 1, last):
                unique.add(s[i])

            result += len(unique)
        
        return result

# faster version
class Solution:
    def countPalindromicSubsequence(self, s: str) -> int:   
        if len(s) <= 2:
            return 0
        
        characters = set(s)
        result = 0
        for ch in characters:
            first = s.find(ch)
            last = s.rfind(ch)

            if first != last:
                result += len(set(s[first + 1:last]))

        return result

## 402. Find Minimum Operations to Make All Elements Divisible by Three

- You are given an integer array nums. In one operation, you can add or subtract 1 from any element of nums.

- Return the minimum number of operations to make all elements of nums divisible by 3.

 

- Example 1:

    - Input: nums = [1,2,3,4]
    - Output: 3
    - Explanation:
All array elements can be made divisible by 3 using 3 operations:
Subtract 1 from 1.
Add 1 to 2.
Subtract 1 from 4.

- Example 2:
    - Input: nums = [3,6,9]
    - Output: 0

 

- Constraints:
    - 1 <= nums.length <= 50
    - 1 <= nums[i] <= 50

In [ ]:
class Solution:
    def minimumOperations(self, nums: List[int]) -> int:
        count = 0
        for num in nums:
            if num % 3 != 0:
                count += 1
        return count

# it is literally the same code, but 1 liner somehow is faster, bs
class Solution:
    def minimumOperations(self, nums: List[int]) -> int:
        return sum([1 if num % 3 != 0 else 0 for num in nums])

# SQL problems

## 403. Employee Bonus


Table: Employee

| Column Name | Type    |
| ------------ | ------- |
| empId       | int     |
| name        | varchar |
| supervisor  | int     |
| salary      | int     |

empId is the column with unique values for this table.
Each row of this table indicates the name and the ID of an employee in addition to their salary and the id of their manager.
 

Table: Bonus

| Column Name | Type |
| ------------ | ---- |
| empId       | int  |
| bonus       | int  |

empId is the column of unique values for this table.
empId is a foreign key (reference column) to empId from the Employee table.
Each row of this table contains the id of an employee and their respective bonus.
 

- Write a solution to report the name and bonus amount of each employee with a bonus less than 1000.

- Return the result table in any order.

- The result format is in the following example.

 

- Example 1:
Input: 
Employee table:
| empId | name   | supervisor | salary |
| ----- | ------ | ----------- | ------ |
| 3     | Brad   | null       | 4000   |
| 1     | John   | 3          | 1000   |
| 2     | Dan    | 3          | 2000   |
| 4     | Thomas | 3          | 4000   |

Bonus table:

| empId | bonus |
| ------ | ----- |
| 2     | 500   |
| 4     | 2000  |

Output: 
| name | bonus |
| ---- | ----- |
| Brad | null  |
| John | null  |
| Dan  | 500   |

In [ ]:
%%sql
SELECT e.name, b.bonus
FROM Employee as e
LEFT JOIN BONUS as b ON e.empId = b.empId
WHERE b.bonus < 1000 OR b.bonus IS NULL;

## 404. Find Customer Referee

- Table: Customer

| Column Name | Type    |
| ----------- | ------- |
| id          | int     |
| name        | varchar |
| referee_id  | int     |

- In SQL, id is the primary key column for this table.
Each row of this table indicates the id of a customer, their name, and the id of the customer who referred them.
 

- Find the names of the customer that are either:

1. referred by any customer with id != 2.
2. not referred by any customer.

- Return the result table in any order.

- The result format is in the following example.

 

- Example 1:

 - Input: 
Customer table:

| id | name | referee_id |
| --- | ---- | ---------- |
| 1  | Will | null       |
| 2  | Jane | null       |
| 3  | Alex | 2          |
| 4  | Bill | null       |
| 5  | Zack | 1          |
| 6  | Mark | 2          |

 - Output: 
 
| name |
| ----- |
| Will |
| Jane |
| Bill |
| Zack |

In [ ]:
%%sql
SELECT name
FROM Customer
WHERE referee_id != 2 OR referee_id IS NULL;

## 405. Customer Placing the Largest Number of Orders

- Table: Orders

| Column Name     | Type     |
| --------------- | -------- |
| order_number    | int      |
| customer_number | int      |

order_number is the primary key (column with unique values) for this table.
This table contains information about the order ID and the customer ID.
 

- Write a solution to find the customer_number for the customer who has placed the largest number of orders.

- The test cases are generated so that exactly one customer will have placed more orders than any other customer.

- The result format is in the following example.

 

- Example 1:

Input: 
Orders table:

| order_number | customer_number |
| ------------ | --------------- |
| 1            | 1               |
| 2            | 2               |
| 3            | 3               |
| 4            | 3               |

- Output: 

| customer_number |
| --------------- |
| 3               |

- Explanation: 
The customer with number 3 has two orders, which is greater than either customer 1 or 2 because each of them only has one order. 
So the result is customer_number 3.

In [ ]:
%%sql
SELECT customer_number
FROM Orders
GROUP BY customer_number
ORDER BY COUNT(order_number) DESC
LIMIT 1;

## 406. Big Countries

- Table: World

| Column Name | Type    |
| ----------- | -------- |
| name        | varchar |
| continent   | varchar |
| area        | int     |
| population  | int     |
| gdp         | bigint  |

name is the primary key (column with unique values) for this table.
Each row of this table gives information about the name of a country, the continent to which it belongs, its area, the population, and its GDP value.
 

- A country is big if:

    - t has an area of at least three million (i.e., 3000000 km2), or
    - t has a population of at least twenty-five million (i.e., 25000000).

- Write a solution to find the name, population, and area of the big countries.

- Return the result table in any order.

- The result format is in the following example.

 

- Example 1:

    - Input: 
World table:

| name        | continent | area    | population | gdp          |
| ----------- | --------- | ------- | ----------- | ------------ |
| Afghanistan | Asia      | 652230  | 25500100   | 20343000000  |
| Albania     | Europe    | 28748   | 2831741    | 12960000000  |
| Algeria     | Africa    | 2381741 | 37100000   | 188681000000 |
| Andorra     | Europe    | 468     | 78115      | 3712000000   |
| Angola      | Africa    | 1246700 | 20609294   | 100990000000 |

    - Output: 
| name        | population | area    |
| ----------- | ----------- | ------- |
| Afghanistan | 25500100   | 652230  |
| Algeria     | 37100000   | 2381741 |

In [ ]:
%%sql
SELECT name, population, area
FROM World
WHERE population >= 25000000 OR area >= 3000000;

## 407. Classes With at Least 5 Students

- Table: Courses

| Column Name | Type    |
| ------------ | ------- |
| student     | varchar |
| class       | varchar |

(student, class) is the primary key (combination of columns with unique values) for this table.
Each row of this table indicates the name of a student and the class in which they are enrolled.
 

- Write a solution to find all the classes that have at least five students.

- Return the result table in any order.

- The result format is in the following example.

 

- Example 1:

Input: 
Courses table:

| student | class    |
| --------- | ---------- |
| A       | Math     |
| B       | English  |
| C       | Math     |
| D       | Biology  |
| E       | Math     |
| F       | Computer |
| G       | Math     |
| H       | Math     |
| I       | Math     |

Output: 

| class   |
| -------- |
| Math    |

- Explanation: 
    - Math has 6 students, so we include it.
    - English has 1 student, so we do not include it.
    - Biology has 1 student, so we do not include it.
    - Computer has 1 student, so we do not include it.

In [ ]:
%%sql
SELECT class
FROM Courses
GROUP BY class
HAVING COUNT(student) >= 5;

## 408. Sales Person

- Table: SalesPerson

| Column Name     | Type    |
| --------------- | ------- |
| sales_id        | int     |
| name            | varchar |
| salary          | int     |
| commission_rate | int     |
| hire_date       | date    |

sales_id is the primary key (column with unique values) for this table.
Each row of this table indicates the name and the ID of a salesperson alongside their salary, commission rate, and hire date.
 

- Table: Company

| Column Name | Type    |
| ------------- | ------- |
| com_id      | int     |
| name        | varchar |
| city        | varchar |

com_id is the primary key (column with unique values) for this table.
Each row of this table indicates the name and the ID of a company and the city in which the company is located.
 

- Table: Orders

| Column Name | Type |
| ------------ | ---- |
| order_id    | int  |
| order_date  | date |
| com_id      | int  |
| sales_id    | int  |
| amount      | int  |

order_id is the primary key (column with unique values) for this table.
com_id is a foreign key (reference column) to com_id from the Company table.
sales_id is a foreign key (reference column) to sales_id from the SalesPerson table.
Each row of this table contains information about one order. This includes the ID of the company, the ID of the salesperson, the date of the order, and the amount paid.
 

- Write a solution to find the names of all the salespersons who did not have any orders related to the company with the name "RED".

- Return the result table in any order.

- The result format is in the following example.

 

- Example 1:

Input: 
SalesPerson table:

| sales_id | name | salary | commission_rate | hire_date  |
| ---------- | ----- | ------- | --------------- | ----------- |
| 1        | John | 100000 | 6               | 4/1/2006   |
| 2        | Amy  | 12000  | 5               | 5/1/2010   |
| 3        | Mark | 65000  | 12              | 12/25/2008 |
| 4        | Pam  | 25000  | 25              | 1/1/2005   |
| 5        | Alex | 5000   | 10              | 2/3/2007   |

Company table:

| com_id | name   | city     |
| ------ | -------- | -------- |
| 1      | RED    | Boston   |
| 2      | ORANGE | New York |
| 3      | YELLOW | Boston   |
| 4      | GREEN  | Austin   |

Orders table:

| order_id | order_date | com_id | sales_id | amount |
| --------- | ----------- | ------- | --------- | ------ |
| 1        | 1/1/2014   | 3      | 4        | 10000  |
| 2        | 2/1/2014   | 4      | 5        | 5000   |
| 3        | 3/1/2014   | 1      | 1        | 50000  |
| 4        | 4/1/2014   | 1      | 4        | 25000  |

Output: 

| name |
| ------ |
| Amy  |
| Mark |
| Alex |

- Explanation: 

    - According to orders 3 and 4 in the Orders table, it is easy to tell that only salesperson John and Pam have sales to company RED, so we report all the other names in the table salesperson.

In [ ]:
%%sql
SELECT s.name
FROM SalesPerson AS s
WHERE s.sales_id NOT IN (
    SELECT o.sales_id
    FROM Orders AS o
    JOIN Company AS C ON o.com_id = c.com_id
    WHERE c.name = 'RED'
);

## 409. Triangle Judgement

- Table: Triangle

| Column Name | Type |
| ------------ | ---- |
| x           | int  |
| y           | int  |
| z           | int  |

In SQL, (x, y, z) is the primary key column for this table.
Each row of this table contains the lengths of three line segments.
 

- Report for every three line segments whether they can form a triangle.

- Return the result table in any order.

- The result format is in the following example.

 

- Example 1:

Input: 
Triangle table:

| x  | y  | z  |
| --- | --- | -- |
| 13 | 15 | 30 |
| 10 | 20 | 15 |

Output: 

| x  | y  | z  | triangle |
| -- | -- | -- | --------- |
| 13 | 15 | 30 | No       |
| 10 | 20 | 15 | Yes      |

In [ ]:
%%sql
SELECT x, y, z,
CASE
    WHEN x + y > z AND x + z > y AND y + z > x THEN 'Yes'
    ELSE 'No'
END AS triangle
FROM Triangle;

## 410. Biggest Single Number

- Table: MyNumbers

| Column Name | Type |
| ------------ | ---- |
| num         | int  |

This table may contain duplicates (In other words, there is no primary key for this table in SQL).
Each row of this table contains an integer.

- A single number is a number that appeared only once in the MyNumbers table.

- Find the largest single number. If there is no single number, report null.

- The result format is in the following example.

- Example 1:

- Input: 
- MyNumbers table:

| num |
| ----- |
| 8   |
| 8   |
| 3   |
| 3   |
| 1   |
| 4   |
| 5   |
| 6   |

Output: 

| num |
| --- |
| 6   |

- Explanation: The single numbers are 1, 4, 5, and 6.
Since 6 is the largest single number, we return it.

-Example 2:
- Input: 
- MyNumbers table:

| num |
| --- |
| 8   |
| 8   |
| 7   |
| 7   |
| 3   |
| 3   |
| 3   |

Output: 

| num  |
| ---- |
| null |

Explanation: There are no single numbers in the input table so we return null.

In [ ]:
%%sql
SELECT MAX(num) as num
FROM
(SELECT num
FROM MyNumbers
GROUP BY num
HAVING COUNT(num) = 1);

<table>
  <thead>
    <tr>
      <th colspan="2">Single Header Spanning Two Columns</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Column 1 Data</td>
      <td>Column 2 Data</td>
    </tr>
    <tr>
      <td>More Column 1 Data</td>
      <td>More Column 2 Data</td>
    </tr>
  </tbody>
</table>

## 411. Not Boring Movies

- Table: Cinema

| Column Name    | Type     |
| --------------- | -------- |
| id             | int      |
| movie          | varchar  |
| description    | varchar  |
| rating         | float    |

id is the primary key (column with unique values) for this table.
Each row contains information about the name of a movie, its genre, and its rating.
rating is a 2 decimal places float in the range [0, 10]
 

- Write a solution to report the movies with an odd-numbered ID and a description that is not "boring".

- Return the result table ordered by rating in descending order.

- The result format is in the following example.

 

- Example 1:

    - Input: 
    - Cinema table:

| id | movie      | description | rating |
| --- | ---------- | ------------ | ------ |
| 1  | War        | great 3D    | 8.9    |
| 2  | Science    | fiction     | 8.5    |
| 3  | irish      | boring      | 6.2    |
| 4  | Ice song   | Fantacy     | 8.6    |
| 5  | House card | Interesting | 9.1    |

Output: 

| id | movie      | description | rating |
| -- | ---------- | ----------- | ------ |
| 5  | House card | Interesting | 9.1    |
| 1  | War        | great 3D    | 8.9    |

- Explanation: 
We have three movies with odd-numbered IDs: 1, 3, and 5. The movie with ID = 3 is boring so we do not include it in the answer.

In [ ]:
%%sql
SELECT *
FROM Cinema
WHERE id % 2 = 1 and description != 'boring' # or use <>
ORDER BY rating desc;

## 412. Swap Sex of Employees

Table: Salary

| Column Name | Type     |
| ------------- | -------- |
| id          | int      |
| name        | varchar  |
| sex         | ENUM     |
| salary      | int      |
```
id is the primary key (column with unique values) for this table.
The sex column is ENUM (category) value of type ('m', 'f').
The table contains information about an employee.
```
 

- Write a solution to swap all 'f' and 'm' values (i.e., change all 'f' values to 'm' and vice versa) with a single update statement and no intermediate temporary tables.

- Note that you must write a single update statement, do not write any select statement for this problem.

- The result format is in the following example.

 

- Example 1:
    - Input: 
    - Salary table:

| id | name | sex | salary |
| --- | ---- | ---- | ------ |
| 1  | A    | m   | 2500   |
| 2  | B    | f   | 1500   |
| 3  | C    | m   | 5500   |
| 4  | D    | f   | 500    |

- Output: 

| id | name | sex | salary |
| --- | ------ | ---- | ------ |
| 1  | A    | f   | 2500   |
| 2  | B    | m   | 1500   |
| 3  | C    | f   | 5500   |
| 4  | D    | m   | 500    |

- Explanation: 
    - (1, A) and (3, C) were changed from 'm' to 'f'.
    - (2, B) and (4, D) were changed from 'f' to 'm'.

In [ ]:
%%sql
UPDATE Salary
SET sex = CASE
    WHEN sex = 'f' THEN 'm'
    WHEN sex = 'm' THEN 'f'
    ELSE sex
END;

## 413. Actors and Directors Who Cooperated At Least Three Times

- Table: ActorDirector

| Column Name | Type    |
| ----------- | -------- |
| actor_id    | int     |
| director_id | int     |
| timestamp   | int     |

```
timestamp is the primary key (column with unique values) for this table.
 ```

- Write a solution to find all the pairs (actor_id, director_id) where the actor has cooperated with the director at least three times.

- Return the result table in any order.

- The result format is in the following example.

 

- Example 1:
    - Input: 
    - ActorDirector table:

| actor_id    | director_id | timestamp   |
| ------------- | ------------ | ----------- |
| 1           | 1           | 0           |
| 1           | 1           | 1           |
| 1           | 1           | 2           |
| 1           | 2           | 3           |
| 1           | 2           | 4           |
| 2           | 1           | 5           |
| 2           | 1           | 6           |

- Output: 

| actor_id    | director_id |
| ------------ | ----------- |
| 1           | 1           |

Explanation: The only pair is (1, 1) where they cooperated exactly 3 times.

In [ ]:
%%sql
SELECT actor_id, director_id
FROM ActorDirector
GROUP BY actor_id, director_id
HAVING COUNT(*) >= 3;

## 414. Product Sales Analysis I

- Table: Sales

| Column Name | Type  |
| ------------ | ----- |
| sale_id     | int   |
| product_id  | int   |
| year        | int   |
| quantity    | int   |
| price       | int   |

```
(sale_id, year) is the primary key (combination of columns with unique values) of this table.
product_id is a foreign key (reference column) to Product table.
Each row of this table shows a sale on the product product_id in a certain year.
Note that the price is per unit.
 ```

- Table: Product

| Column Name  | Type    |
| ------------- | ------- |
| product_id   | int     |
| product_name | varchar |

```
product_id is the primary key (column with unique values) of this table.
Each row of this table indicates the product name of each product.
 ```

    - Write a solution to report the product_name, year, and price for each sale_id in the Sales table.

    - Return the resulting table in any order.

    - The result format is in the following example.

 

- Example 1:
    - Input: 
    - Sales table:

| sale_id | product_id | year | quantity | price |
| -------- | ---------- | ---- | -------- | ------- |
| 1       | 100        | 2008 | 10       | 5000  |
| 2       | 100        | 2009 | 12       | 5000  |
| 7       | 200        | 2011 | 15       | 9000  |

- Product table:

| product_id | product_name |
| ---------- | ------------- |
| 100        | Nokia        |
| 200        | Apple        |
| 300        | Samsung      |

- Output: 

| product_name | year  | price |
| ------------ | ------ | ----- |
| Nokia        | 2008  | 5000  |
| Nokia        | 2009  | 5000  |
| Apple        | 2011  | 9000  |

- Explanation: 
    - From sale_id = 1, we can conclude that Nokia was sold for 5000 in the year 2008.
    - From sale_id = 2, we can conclude that Nokia was sold for 5000 in the year 2009.
    - From sale_id = 7, we can conclude that Apple was sold for 9000 in the year 2011.

In [ ]:
%%sql
SELECT p.product_name, s.year, s.price
FROM Sales s
JOIN Product p ON s.product_id = p.product_id;

## 415. Project Employees I

- Table: Project

| Column Name | Type    |
| ----------- | ------- |
| project_id  | int     |
| employee_id | int     |

```
(project_id, employee_id) is the primary key of this table.
employee_id is a foreign key to Employee table.
Each row of this table indicates that the employee with employee_id is working on the project with project_id.
 ```

- Table: Employee

| Column Name      | Type    |
| ----------------- | ------- |
| employee_id      | int     |
| name             | varchar |
| experience_years | int     |

```
employee_id is the primary key of this table. It's guaranteed that experience_years is not NULL.
Each row of this table contains information about one employee.
```

- Write an SQL query that reports the average experience years of all the employees for each project, rounded to 2 digits.

- Return the result table in any order.

- The query result format is in the following example.

 

- Example 1:
    - Input: 
    - Project table:

| project_id  | employee_id |
| ------------ | ----------- |
| 1           | 1           |
| 1           | 2           |
| 1           | 3           |
| 2           | 1           |
| 2           | 4           |

- Employee table:

| employee_id | name   | experience_years |
| ------------| ------- | ---------------- |
| 1           | Khaled | 3                |
| 2           | Ali    | 2                |
| 3           | John   | 1                |
| 4           | Doe    | 2                |

- Output: 

| project_id  | average_years |
| ------------ | ------------- |
| 1           | 2.00          |
| 2           | 2.50          |

- Explanation: The average experience years for the first project is (3 + 2 + 1) / 3 = 2.00 and for the second project is (3 + 2) / 2 = 2.50

In [ ]:
%%sql
SELECT project_id, ROUND(AVG(experience_years), 2) average_years
FROM Employee e
JOIN Project p ON e.employee_id = p.employee_id
GROUP BY project_id;

## 416. Greatest Sum Divisible by Three
- Daily problem

- Given an integer array nums, return the maximum possible sum of elements of the array such that it is divisible by three.

 

- Example 1:
    - Input: nums = [3,6,5,1,8]
    - Output: 18
    - Explanation: Pick numbers 3, 6, 1 and 8 their sum is 18 (maximum sum divisible by 3).

- Example 2:
    - Input: nums = [4]
    - Output: 0
    - Explanation: Since 4 is not divisible by 3, do not pick any number.

- Example 3:
    - Input: nums = [1,2,3,4,4]
    - Output: 12
    - Explanation: Pick numbers 1, 3, 4 and 4 their sum is 12 (maximum sum divisible by 3).
 

- Constraints:
    - 1 <= nums.length <= 4 * 104
    - 1 <= nums[i] <= 104

In [ ]:
# time complexity: 0(n + 3)
# space complexity: 0(3) or constant space
# dynamic approach
class Solution:
    def maxSumDivThree(self, nums: List[int]) -> int:
        dp = [0, -1, -1]

        for num in nums:
            new_dp = list(dp)
            for remainder in range(3):
                if dp[remainder] != -1:
                    current_sum = dp[remainder] + num
                    new_remainder = current_sum % 3
                    new_dp[new_remainder] = max(new_dp[new_remainder], current_sum)
            dp = new_dp

        return dp[0] if dp[0] != -1 else 0
    
# greedy approach
# starts with the max sum and find the 2 smallest remainder 1 and remainder 2
# then depending on the max sum remainder, subtract the smallest of the 1 remainder or two of the 1 remainder to get
# the max sum to be divisible by 3.
class Solution:
    def maxSumDivThree(self, nums: List[int]) -> int:
        total_sum = sum(nums)

        if total_sum % 3 == 0:
            return total_sum

        remainder_1_smallest = 10000
        remainder_1_second_smallest = 10000
        remainder_2_smallest = 10000
        remainder_2_second_smallest = 10000

        for num in nums:
            if num % 3 == 1 and num < remainder_1_second_smallest:
                if num < remainder_1_smallest:
                    remainder_1_second_smallest = remainder_1_smallest
                    remainder_1_smallest = num
                else:
                    remainder_1_second_smallest = num
            if num % 3 == 2 and num < remainder_2_second_smallest:
                if num < remainder_2_smallest:
                    remainder_2_second_smallest = remainder_2_smallest
                    remainder_2_smallest = num
                else:
                    remainder_2_second_smallest = num
        if total_sum % 3 == 1:
            return total_sum - min(remainder_1_smallest, remainder_2_smallest+remainder_2_second_smallest)
        if total_sum % 3 == 2:
            return total_sum - min(remainder_2_smallest, remainder_1_smallest+remainder_1_second_smallest)

## 417. Sales Analysis III

- Table: Product

| Column Name  | Type    |
| ------------- | ------- |
| product_id   | int     |
| product_name | varchar |
| unit_price   | int     |

```
product_id is the primary key (column with unique values) of this table.
Each row of this table indicates the name and the price of each product.
```
- Table: Sales

| Column Name | Type    |
| ------------ | ------- |
| seller_id   | int     |
| product_id  | int     |
| buyer_id    | int     |
| sale_date   | date    |
| quantity    | int     |
| price       | int     |

```
This table can have duplicate rows.
product_id is a foreign key (reference column) to the Product table.
Each row of this table contains some information about one sale.
 ```

- Write a solution to report the products that were only sold in the first quarter of 2019. That is, between 2019-01-01 and 2019-03-31 inclusive.

- Return the result table in any order.

- The result format is in the following example.

 

- Example 1:
    - Input: 
    - Product table:

| product_id | product_name | unit_price |
| ----------- | ------------ | ----------- |
| 1          | S8           | 1000       |
| 2          | G4           | 800        |
| 3          | iPhone       | 1400       |

- Sales table:

| seller_id | product_id | buyer_id | sale_date  | quantity | price |
| --------- | ---------- | -------- | ---------- | --------- | ----- |
| 1         | 1          | 1        | 2019-01-21 | 2        | 2000  |
| 1         | 2          | 2        | 2019-02-17 | 1        | 800   |
| 2         | 2          | 3        | 2019-06-02 | 1        | 800   |
| 3         | 3          | 4        | 2019-05-13 | 2        | 2800  |

- Output: 
 
| product_id  | product_name |
| ----------- | ------------ |
| 1           | S8           |

-Explanation: 
    - The product with id 1 was only sold in the spring of 2019.
    - The product with id 2 was sold in the spring of 2019 but was also sold after the spring of 2019.
    - The product with id 3 was sold after spring 2019.
    - We return only product 1 as it is the product that was only sold in the spring of 2019.

In [ ]:
%%sql
WITH ProductSales AS (
    SELECT
        s.product_id,
        MIN(s.sale_date) AS min_sale_date,
        MAX(s.sale_date) AS max_sale_date
    FROM
        Sales s
    GROUP BY
        s.product_id
)
SELECT
    p.product_id,
    p.product_name
FROM
    Product p
JOIN
    ProductSales ps ON p.product_id = ps.product_id
WHERE
    ps.min_sale_date >= '2019-01-01'
    AND ps.max_sale_date <= '2019-03-31';
    
# group by has a shorter syntax
SELECT s.product_id, product_name
FROM Sales s
LEFT JOIN Product p
ON s.product_id = p.product_id
GROUP BY s.product_id
HAVING MIN(sale_date) >= CAST('2019-01-01' AS DATE) AND
       MAX(sale_date) <= CAST('2019-03-31' AS DATE)

## 418. User Activity for the Past 30 Days I

- Table: Activity

| Column Name   | Type    |
| ------------- | ------- | 
| user_id       | int     |
| session_id    | int     |
| activity_date | date    |
| activity_type | enum    |

```
This table may have duplicate rows.
The activity_type column is an ENUM (category) of type ('open_session', 'end_session', 'scroll_down', 'send_message').
The table shows the user activities for a social media website. 
Note that each session belongs to exactly one user.
 ```

- Write a solution to find the daily active user count for a period of 30 days ending 2019-07-27 inclusively. A user was active on someday if they made at least one activity on that day.

- Return the result table in any order.

- The result format is in the following example.

- Note: Any activity from ('open_session', 'end_session', 'scroll_down', 'send_message') will be considered valid activity for a user to be considered active on a day.

 

- Example 1:
- Input: 
- Activity table:

| user_id | session_id | activity_date | activity_type |
| ------- | ----------- | ------------- | ------------- |
| 1       | 1          | 2019-07-20    | open_session  |
| 1       | 1          | 2019-07-20    | scroll_down   |
| 1       | 1          | 2019-07-20    | end_session   |
| 2       | 4          | 2019-07-20    | open_session  |
| 2       | 4          | 2019-07-21    | send_message  |
| 2       | 4          | 2019-07-21    | end_session   |
| 3       | 2          | 2019-07-21    | open_session  |
| 3       | 2          | 2019-07-21    | send_message  |
| 3       | 2          | 2019-07-21    | end_session   |
| 4       | 3          | 2019-06-25    | open_session  |
| 4       | 3          | 2019-06-25    | end_session   |

- Output: 

| day        | active_users |
| ----------- | ------------ |
| 2019-07-20 | 2            |
| 2019-07-21 | 2            |

- Explanation: Note that we do not care about days with zero active users.

In [ ]:
%%sql
# mysql
SELECT activity_date AS day,COUNT(DISTINCT user_id) AS active_users
FROM Activity
WHERE activity_date BETWEEN SUBDATE('2019-07-27', INTERVAL 29 DAY) AND '2019-07-27'
GROUP BY activity_date;

#postgres
SELECT  activity_date AS day, COUNT(DISTINCT user_id) AS active_users
FROM  Activity
WHERE activity_date BETWEEN ('2019-07-27'::date - INTERVAL '29 days') AND '2019-07-27'::date
GROUP BY activity_date;

## 419. Article Views I

- Table: Views

| Column Name   | Type    |
| ------------- | -------- |
| article_id    | int     |
| author_id     | int     |
| viewer_id     | int     |
| view_date     | date    |

```
There is no primary key (column with unique values) for this table, the table may have duplicate rows.
Each row of this table indicates that some viewer viewed an article (written by some author) on some date. 
Note that equal author_id and viewer_id indicate the same person.
``` 

- Write a solution to find all the authors that viewed at least one of their own articles.

- Return the result table sorted by id in ascending order.

- The result format is in the following example.

 

- Example 1:
    - Input: 
    - Views table:

| article_id | author_id | viewer_id | view_date  |
| ---------- | --------- | --------- | ---------- |
| 1          | 3         | 5         | 2019-08-01 |
| 1          | 3         | 6         | 2019-08-02 |
| 2          | 7         | 7         | 2019-08-01 |
| 2          | 7         | 6         | 2019-08-02 |
| 4          | 7         | 1         | 2019-07-22 |
| 3          | 4         | 4         | 2019-07-21 |
| 3          | 4         | 4         | 2019-07-21 |

Output: 

| id   |
| ----- |
| 4    |
| 7    |

In [ ]:
%%sql
SELECT DISTINCT author_id id
FROM Views
WHERE author_id = viewer_id
ORDER BY id ASC;

## 420. Reformat Department Table

- Table: Department

| Column Name | Type    |
| ------------ | ------- |
| id          | int     |
| revenue     | int     |
| month       | varchar |

```
In SQL,(id, month) is the primary key of this table.
The table has information about the revenue of each department per month.
The month has values in ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"].
 ```

- Reformat the table such that there is a department id column and a revenue column for each month.

- Return the result table in any order.

- The result format is in the following example.

 

- Example 1:
    - Input: 
    - Department table:

| id   | revenue | month |
| ------ | ------- | ----- |
| 1    | 8000    | Jan   |
| 2    | 9000    | Jan   |
| 3    | 10000   | Feb   |
| 1    | 7000    | Feb   |
| 1    | 6000    | Mar   |

- Output: 

| id   | Jan_Revenue | Feb_Revenue | Mar_Revenue | ... | Dec_Revenue |
| ---- | ----------- | ----------- | ----------- | --- | ------------ |
| 1    | 8000        | 7000        | 6000        | ... | null        |
| 2    | 9000        | null        | null        | ... | null        |
| 3    | null        | 10000       | null        | ... | null        |

- Explanation: The revenue from Apr to Dec is null.
- Note that the result table has 13 columns (1 for the department id + 12 for the months).

In [ ]:
%%sql
# mysql
SELECT id,
Jan Jav_Revenue,
Feb Feb_Revenue, 
Mar Mar_Revenue, 
Apr Apr_Revenue, 
May May_Revenue, 
Jun Jun_Revenue, 
Jul Jul_Revenue, 
Aug Aug_Revenue, 
Sep Sep_Revenue, 
Oct Oct_Revenue, 
Nov Nov_Revenue, 
Dec Dec_Revenue
FROM Department
PIVOT (
    SUM(revenue),
    FOR month IN ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
) AS PivotTable;

# postgres does not have a pivot function
SELECT
    id,
    SUM(CASE WHEN month = 'Jan' THEN revenue ELSE NULL END) [Jan_Revenue],
    SUM(CASE WHEN month = 'Feb' THEN revenue ELSE NULL END) [Feb_Revenue],
    SUM(CASE WHEN month = 'Mar' THEN revenue ELSE NULL END) [Mar_Revenue],
    SUM(CASE WHEN month = 'Apr' THEN revenue ELSE NULL END) [Apr_Revenue],
    SUM(CASE WHEN month = 'May' THEN revenue ELSE NULL END) [May_Revenue],
    SUM(CASE WHEN month = 'Jun' THEN revenue ELSE NULL END) [Jun_Revenue],
    SUM(CASE WHEN month = 'Jul' THEN revenue ELSE NULL END) [Jul_Revenue],
    SUM(CASE WHEN month = 'Aug' THEN revenue ELSE NULL END) [Aug_Revenue],
    SUM(CASE WHEN month = 'Sep' THEN revenue ELSE NULL END) [Sep_Revenue],
    SUM(CASE WHEN month = 'Oct' THEN revenue ELSE NULL END) [Oct_Revenue],
    SUM(CASE WHEN month = 'Nov' THEN revenue ELSE NULL END) [Nov_Revenue],
    SUM(CASE WHEN month = 'Dec' THEN revenue ELSE NULL END) [Dec_Revenue]
FROM Department
GROUP BY id

## 421. Queries Quality and Percentage

- Table: Queries

| Column Name | Type    |
| ----------- | ------- |
| query_name  | varchar |
| result      | varchar |
| position    | int     |
| rating      | int     |
```
This table may have duplicate rows.
This table contains information collected from some queries on a database.
The position column has a value from 1 to 500.
The rating column has a value from 1 to 5. Query with rating less than 3 is a poor query.
```

- We define query quality as:
    - The average of the ratio between query rating and its position.

- We also define poor query percentage as:
    - The percentage of all queries with rating less than 3.

- Write a solution to find each query_name, the quality and poor_query_percentage.

- Both quality and poor_query_percentage should be rounded to 2 decimal places.

- Return the result table in any order.

- The result format is in the following example.

 

- Example 1:
    - Input: 
    - Queries table:

| query_name | result            | position | rating |
| ----------- | ----------------- | -------- | ------ |
| Dog        | Golden Retriever  | 1        | 5      |
| Dog        | German Shepherd   | 2        | 5      |
| Dog        | Mule              | 200      | 1      |
| Cat        | Shirazi           | 5        | 2      |
| Cat        | Siamese           | 3        | 3      |
| Cat        | Sphynx            | 7        | 4      |

- Output: 

| query_name | quality | poor_query_percentage |
| ---------- | --------- | --------------------- |
| Dog        | 2.50    | 33.33                 |
| Cat        | 0.66    | 33.33                 |

- Explanation: 
```
Dog queries quality is ((5 / 1) + (5 / 2) + (1 / 200)) / 3 = 2.50
Dog queries poor_ query_percentage is (1 / 3) * 100 = 33.33

Cat queries quality equals ((2 / 5) + (3 / 3) + (4 / 7)) / 3 = 0.66
Cat queries poor_ query_percentage is (1 / 3) * 100 = 33.33
```

In [ ]:
%%sql
SELECT query_name,
    ROUND(AVG(CAST(rating AS DECIMAL) / position), 2) AS quality,
    ROUND(SUM(CASE WHEN rating < 3 THEN 1 ELSE 0 END) * 100.0 / COUNT(*), 2) AS poor_query_percentage
FROM Queries
GROUP BY query_name;

## 422. Average Selling Price

- Table: Prices

| Column Name   | Type    |
| ------------- | ------- |
| product_id    | int     |
| start_date    | date    |
| end_date      | date    |
| price         | int     |

```
(product_id, start_date, end_date) is the primary key (combination of columns with unique values) for this table.
Each row of this table indicates the price of the product_id in the period from start_date to end_date.
For each product_id there will be no two overlapping periods. That means there will be no two intersecting periods for the same product_id.
 ```

- Table: UnitsSold

| Column Name   | Type    |
| -------------- | ------- |
| product_id    | int     |
| purchase_date | date    |
| units         | int     |
```
This table may contain duplicate rows.
Each row of this table indicates the date, units, and product_id of each product sold. 
 ```

- Write a solution to find the average selling price for each product. average_price should be rounded to 2 decimal places. If a product does not have any sold units, its average selling price is assumed to be 0.

- Return the result table in any order.

- The result format is in the following example.

 

- Example 1:
    - Input: 
    - Prices table:

| product_id | start_date | end_date   | price  |
| ---------- | ---------- | ---------- | ------ | 
| 1          | 2019-02-17 | 2019-02-28 | 5      |
| 1          | 2019-03-01 | 2019-03-22 | 20     |
| 2          | 2019-02-01 | 2019-02-20 | 15     |
| 2          | 2019-02-21 | 2019-03-31 | 30     |

UnitsSold table:

| product_id | purchase_date | units |
| ---------- | ------------- | ----- |
| 1          | 2019-02-25    | 100   |
| 1          | 2019-03-01    | 15    |
| 2          | 2019-02-10    | 200   |
| 2          | 2019-03-22    | 30    |

- Output: 

| product_id | average_price |
| ---------- | ------------- |
| 1          | 6.96          |
| 2          | 16.96         |

- Explanation: 
```
Average selling price = Total Price of Product / Number of products sold.
Average selling price for product 1 = ((100 * 5) + (15 * 20)) / 115 = 6.96
Average selling price for product 2 = ((200 * 15) + (30 * 30)) / 230 = 16.96
```

In [ ]:
%%sql
# mysql
SELECT p.product_id,
    IFNULL(ROUND(SUM(p.price * u.units) / SUM(u.units), 2), 0) AS average_price
FROM Prices p
LEFT JOIN UnitsSold u ON p.product_id = u.product_id
               AND u.purchase_date BETWEEN p.start_date AND p.end_date
GROUP BY p.product_id;

# postgres
SELECT p.product_id,
    ROUND(COALESCE(SUM(p.price * u.units)::numeric / SUM(u.units), 0), 2) AS average_price
FROM Prices p
LEFT JOIN UnitsSold u 
    ON p.product_id = u.product_id
    AND u.purchase_date BETWEEN p.start_date AND p.end_date
GROUP BY p.product_id;

## 423. Students and Examinations

- Table: Students

| Column Name   | Type    |
| ------------- | -------- |
| student_id    | int     |
| student_name  | varchar |
```
student_id is the primary key (column with unique values) for this table.
Each row of this table contains the ID and the name of one student in the school.
 ```

- Table: Subjects

| Column Name  | Type    |
| ------------ | ------- |
| subject_name | varchar |
```
subject_name is the primary key (column with unique values) for this table.
Each row of this table contains the name of one subject in the school.
 ```

- Table: Examinations

| Column Name  | Type    |
| ------------ | ------- |
| student_id   | int     |
| subject_name | varchar |
```
There is no primary key (column with unique values) for this table. It may contain duplicates.
Each student from the Students table takes every course from the Subjects table.
Each row of this table indicates that a student with ID student_id attended the exam of subject_name.
 ```

- Write a solution to find the number of times each student attended each exam.

- Return the result table ordered by student_id and subject_name.

- The result format is in the following example.

 

- Example 1:
    - Input: 
    - Students table:

| student_id | student_name |
| ----------- | ------------ |
| 1          | Alice        |
| 2          | Bob          |
| 13         | John         |
| 6          | Alex         |

- Subjects table:

| subject_name |
| ------------ |
| Math         |
| Physics      |
| Programming  |

- Examinations table:

| student_id | subject_name |
| ----------- | ------------ |
| 1          | Math         |
| 1          | Physics      |
| 1          | Programming  |
| 2          | Programming  |
| 1          | Physics      |
| 1          | Math         |
| 13         | Math         |
| 13         | Programming  |
| 13         | Physics      |
| 2          | Math         |
| 1          | Math         |

- Output: 

| student_id | student_name | subject_name | attended_exams |
| ---------- | ------------ | ------------ | -------------- |
| 1          | Alice        | Math         | 3              |
| 1          | Alice        | Physics      | 2              |
| 1          | Alice        | Programming  | 1              |
| 2          | Bob          | Math         | 1              |
| 2          | Bob          | Physics      | 0              |
| 2          | Bob          | Programming  | 1              |
| 6          | Alex         | Math         | 0              |
| 6          | Alex         | Physics      | 0              |
| 6          | Alex         | Programming  | 0              |
| 13         | John         | Math         | 1              |
| 13         | John         | Physics      | 1              |
| 13         | John         | Programming  | 1              |

- Explanation: 
    - The result table should contain all students and all subjects.
    - Alice attended the Math exam 3 times, the Physics exam 2 times, and the Programming exam 1 time.
    - Bob attended the Math exam 1 time, the Programming exam 1 time, and did not attend the Physics exam.
    - Alex did not attend any exams.
    - John attended the Math exam 1 time, the Physics exam 1 time, and the Programming exam 1 time.

In [ ]:
%%sql
SELECT
    s.student_id,
    s.student_name,
    sub.subject_name,
    COUNT(e.subject_name) AS attended_exams
FROM
    Students AS s
CROSS JOIN
    Subjects AS sub
LEFT JOIN
    Examinations AS e ON s.student_id = e.student_id AND sub.subject_name = e.subject_name
GROUP BY
    s.student_id,
    s.student_name,
    sub.subject_name
ORDER BY
    s.student_id,
    sub.subject_name;

## 424. List the Products Ordered in a Period

- Table: Products

| Column Name      | Type    |
| ---------------- | ------- |
| product_id       | int     |
| product_name     | varchar |
| product_category | varchar |
```
product_id is the primary key (column with unique values) for this table.
This table contains data about the company's products.
 ```

- Table: Orders

| Column Name   | Type    |
| ------------ | ------- |
| product_id    | int     |
| order_date    | date    |
| unit          | int     |
```
This table may have duplicate rows.
product_id is a foreign key (reference column) to the Products table.
unit is the number of products ordered in order_date.
 ```

- Write a solution to get the names of products that have at least 100 units ordered in February 2020 and their amount.

- Return the result table in any order.

- The result format is in the following example.

 

- Example 1:
    - Input: 
    - Products table:

| product_id  | product_name          | product_category |
| ------------ | -------------------- | ---------------- |
| 1           | Leetcode Solutions    | Book             |
| 2           | Jewels of Stringology | Book             |
| 3           | HP                    | Laptop           |
| 4           | Lenovo                | Laptop           |
| 5           | Leetcode Kit          | T-shirt          |

- Orders table:

| product_id   | order_date   | unit     |
| ------------ | ------------- | -------- |
| 1            | 2020-02-05   | 60       |
| 1            | 2020-02-10   | 70       |
| 2            | 2020-01-18   | 30       |
| 2            | 2020-02-11   | 80       |
| 3            | 2020-02-17   | 2        |
| 3            | 2020-02-24   | 3        |
| 4            | 2020-03-01   | 20       |
| 4            | 2020-03-04   | 30       |
| 4            | 2020-03-04   | 60       |
| 5            | 2020-02-25   | 50       |
| 5            | 2020-02-27   | 50       |
| 5            | 2020-03-01   | 50       |

- Output: 

| product_name       | unit    |
| ------------------ | ------- |
| Leetcode Solutions | 130     |
| Leetcode Kit       | 100     |

- Explanation: 
```
Products with product_id = 1 is ordered in February a total of (60 + 70) = 130.
Products with product_id = 2 is ordered in February a total of 80.
Products with product_id = 3 is ordered in February a total of (2 + 3) = 5.
Products with product_id = 4 was not ordered in February 2020.
Products with product_id = 5 is ordered in February a total of (50 + 50) = 100.
```

In [ ]:
%%sql
SELECT
    p.product_name,
    SUM(o.unit) AS unit
FROM
    Products AS p
JOIN
    Orders AS o ON p.product_id = o.product_id
WHERE
    o.order_date BETWEEN '2020-02-01' AND '2020-02-29'
GROUP BY
    p.product_name
HAVING
    SUM(o.unit) >= 100;

## 425. Replace Employee ID With The Unique Identifier

- Table: Employees

| Column Name   | Type    |
| ------------- | ------- |
| id            | int     |
| name          | varchar |
```
id is the primary key (column with unique values) for this table.
Each row of this table contains the id and the name of an employee in a company.
 ```

- Table: EmployeeUNI

| Column Name   | Type    |
| -------------- | ------- |
| id            | int     |
| unique_id     | int     |
```
(id, unique_id) is the primary key (combination of columns with unique values) for this table.
Each row of this table contains the id and the corresponding unique id of an employee in the company.
 ```

- Write a solution to show the unique ID of each user, If a user does not have a unique ID replace just show null.

- Return the result table in any order.

- The result format is in the following example.

 

- Example 1:
    - Input: 
    - Employees table:

| id | name     |
| -- | -------- |
| 1  | Alice    |
| 7  | Bob      |
| 11 | Meir     |
| 90 | Winston  |
| 3  | Jonathan |

- EmployeeUNI table:

| id | unique_id |
| --- | --------- |
| 3  | 1         |
| 11 | 2         |
| 90 | 3         |

- Output: 

| unique_id | name     |
| --------- | -------- |
| null      | Alice    |
| null      | Bob      |
| 2         | Meir     |
| 3         | Winston  |
| 1         | Jonathan |

- Explanation: 
    - Alice and Bob do not have a unique ID, We will show null instead.
    - The unique ID of Meir is 2.
    - The unique ID of Winston is 3.
    - The unique ID of Jonathan is 1.

In [ ]:
%%sql
SELECT eu.unique_id, e.name
FROM Employees AS e
LEFT JOIN EmployeeUNI AS eu ON e.id = eu.id;

# Questions # 426-450

## 426. Binary Prefix Divisible By 5

- You are given a binary array nums (0-indexed).

- We define xi as the number whose binary representation is the subarray nums[0..i] (from most-significant-bit to least-significant-bit).

    - For example, if nums = [1,0,1], then x0 = 1, x1 = 2, and x2 = 5.
    
- Return an array of booleans answer where answer[i] is true if xi is divisible by 5.

 

- Example 1:
    - Input: nums = [0,1,1]
    - Output: [true,false,false]
    - Explanation: The input numbers in binary are 0, 01, 011; which are 0, 1, and 3 in base-10.
Only the first number is divisible by 5, so answer[0] is true.

- Example 2:
    - Input: nums = [1,1,1]
    - Output: [false,false,false]
 

- Constraints:
    - 1 <= nums.length <= 105
    - nums[i] is either 0 or 1.

In [ ]:
class Solution:
    def prefixesDivBy5(self, nums: List[int]) -> List[bool]:
        state = 0
        result = []
        for num in nums:
            state = (state * 2 + num) % 5
            result.append(state == 0)
        return result

## 427. Smallest Integer Divisible by K

- Given a positive integer k, you need to find the length of the smallest positive integer n such that n is divisible by k, and n only contains the digit 1.

- Return the length of n. If there is no such n, return -1.

- Note: n may not fit in a 64-bit signed integer.

 

- Example 1:
    - Input: k = 1
    - Output: 1
    - Explanation: The smallest answer is n = 1, which has length 1.

- Example 2:
    - Input: k = 2
    - Output: -1
    - Explanation: There is no such positive integer n divisible by 2.

- Example 3:
    - Input: k = 3
    - Output: 3
    - Explanation: The smallest answer is n = 111, which has length 3.
 

- Constraints:
    - 1 <= k <= 10**5

In [ ]:
# n cannot end in 2 or 5
class Solution:
    def smallestRepunitDivByK(self, k: int) -> int:
        if k % 2 == 0 or k % 5 == 0:
            return -1

        remainder = 0
        seen = set()
        for length in range(1, k + 2):
            remainder = (remainder * 10 + 1) % k
            if remainder == 0:
                return length 
            if remainder in seen:
                return -1
            seen.add(remainder)
        
        return -1

# Monotonic Stack
- Will concentrate on medium to hard problems

## 428. Sum of Subarray Minimums

- Given an array of integers arr, find the sum of min(b), where b ranges over every (contiguous) subarray of arr. Since the answer may be large, return the answer modulo 10**9 + 7.

 

- Example 1:
    - Input: arr = [3,1,2,4]
    - Output: 17
    - Explanation: 
Subarrays are [3], [1], [2], [4], [3,1], [1,2], [2,4], [3,1,2], [1,2,4], [3,1,2,4]. 
Minimums are 3, 1, 2, 4, 1, 1, 2, 1, 1, 1.
Sum is 17.

- Example 2:
    - Input: arr = [11,81,94,43,3]
    - Output: 444
 

- Constraints:
    - 1 <= arr.length <= 3 * 104
    - 1 <= arr[i] <= 3 * 104

In [ ]:
class Solution:
    def sumSubarrayMins(self, arr: List[int]) -> int:
        MOD = 10**9 + 7
        n = len(arr)

        left = [0] * n 
        stack = []

        for i in range(n):
            while stack and arr[stack[-1]] > arr[i]:
                stack.pop()

            if stack:
                left[i] = i - stack[-1]
            else:
                left[i] = i + 1
            
            stack.append(i)
        
        right = [0] * n
        stack = []

        for i in range(n - 1, -1, -1):
            while stack and arr[stack[-1]] >= arr[i]:
                stack.pop()

            if stack:
                right[i] = stack[-1] - i
            else:
                right[i] = n - i
            
            stack.append(i)
        
        total_sum = 0
        for i in range(n):
            contribution = arr[i] * left[i] * right[i]
            total_sum = (total_sum + contribution) % MOD 
        
        return total_sum

## 429. Minimum Cost to Hire K Workers

- There are n workers. You are given two integer arrays quality and wage where quality[i] is the quality of the ith worker and wage[i] is the minimum wage expectation for the ith worker.

- We want to hire exactly k workers to form a paid group. To hire a group of k workers, we must pay them according to the following rules:

- Every worker in the paid group must be paid at least their minimum wage expectation.
In the group, each worker's pay must be directly proportional to their quality. This means if a workers quality is double that of another worker in the group, then they must be paid twice as much as the other worker.
Given the integer k, return the least amount of money needed to form a paid group satisfying the above conditions. Answers within 10-5 of the actual answer will be accepted.

 

- Example 1:
    - Input: quality = [10,20,5], wage = [70,50,30], k = 2
    - Output: 105.00000
    - Explanation: We pay 70 to 0th worker and 35 to 2nd worker.

- Example 2:
    - Input: quality = [3,1,10,10,1], wage = [4,8,2,2,7], k = 3
    - Output: 30.66667
    - Explanation: We pay 4 to 0th worker, 13.33333 to 2nd and 3rd workers separately.
 

- Constraints:
    - n == quality.length == wage.length
    - 1 <= k <= n <= 104
    - 1 <= quality[i], wage[i] <= 104

In [ ]:
# Not part of the montonic stack questions, but a good problem to know.
from collections import heapq
class Solution:
    def mincostToHireWorkers(self, quality: List[int], wage: List[int], k: int) -> float:
        workers = []
        for q, w in zip(quality, wage):
            workers.append((w / q, q))

        workers.sort(key=lambda x: x[0])

        max_quality_heap = []

        min_cost = float("inf")
        current_total_quality = 0

        for ratio, q in workers:
            current_total_quality += q

            heapq.heappush(max_quality_heap, -q)

            if len(max_quality_heap) > k:
                highest_quality = -heapq.heappop(max_quality_heap)
                current_total_quality -= highest_quality

            if len(max_quality_heap) == k:
                current_cost = current_total_quality * ratio
                min_cost = min(min_cost, current_cost)

        return min_cost

## 430. 132 Pattern

- Given an array of n integers nums, a 132 pattern is a subsequence of three integers nums[i], nums[j] and nums[k] such that i < j < k and nums[i] < nums[k] < nums[j].

- Return true if there is a 132 pattern in nums, otherwise, return false.

 

- Example 1:
    - Input: nums = [1,2,3,4]
    - Output: false
    - Explanation: There is no 132 pattern in the sequence.

- Example 2:
    - Input: nums = [3,1,4,2]
    - Output: true
    - Explanation: There is a 132 pattern in the sequence: [1, 4, 2].

- Example 3:
    - Input: nums = [-1,3,2,0]
    - Output: true
    - Explanation: There are three 132 patterns in the sequence: [-1, 3, 2], [-1, 3, 0] and [-1, 2, 0].
 

- Constraints:
    - n == nums.length
    - 1 <= n <= 2 * 105
    - -109 <= nums[i] <= 109

In [ ]:
class Solution:
    def find132pattern(self, nums: List[int]) -> bool:
        stack = [] 
        s3 = float('-inf') 

        for i in range(len(nums) - 1, -1, -1):
            if nums[i] < s3:
                return True

            while stack and nums[i] > stack[-1]:
                s3 = max(s3, stack.pop())
            
            stack.append(nums[i])
        
        return False

# Weekly Contest 477
- Take a break from studying and enter a contest to test current understanding

## 431. Concatenate Non-Zero Digits and Multiply by Sum I

- You are given an integer n.

- Form a new integer x by concatenating all the non-zero digits of n in their original order. If there are no non-zero digits, x = 0.

- Let sum be the sum of digits in x.

- Return an integer representing the value of x * sum.



- Example 1:
    - Input: n = 10203004
    - Output: 12340
    - Explanation:
The non-zero digits are 1, 2, 3, and 4. Thus, x = 1234.
The sum of digits is sum = 1 + 2 + 3 + 4 = 10.
Therefore, the answer is x * sum = 1234 * 10 = 12340.

- Example 2:
    - Input: n = 1000
    - Output: 1
    - Explanation:
The non-zero digit is 1, so x = 1 and sum = 1.
Therefore, the answer is x * sum = 1 * 1 = 1.


- Constraints:
    - 0 <= n <= 109

In [ ]:
class Solution:
    def sumAndMultiply(self, n: int) -> int:
        total = 0
        digit = -1
        new_digit = 0
        to_power = 0


        while n != 0:
            digit = n % 10
            n = n // 10
            if digit != 0:
                placeth = 10 ** to_power
                total += digit
                new_digit += digit * placeth
                to_power += 1
        return new_digit * total

## 432. Find Maximum Balanced XOR Subarray Length

- Given an integer array nums, return the length of the longest subarray that has a bitwise XOR of zero and contains an equal number of even and odd numbers. If no such subarray exists, return 0.



- Example 1:
    - Input: nums = [3,1,3,2,0]
    - Output: 4
    - Explanation:
The subarray [1, 3, 2, 0] has bitwise XOR 1 XOR 3 XOR 2 XOR 0 = 0 and contains 2 even and 2 odd numbers.

- Example 2:
    - Input: nums = [3,2,8,5,4,14,9,15]
    - Output: 8
    - Explanation:
The whole array has bitwise XOR 0 and contains 4 even and 4 odd numbers.

- Example 3:
    - Input: nums = [0]
    - Output: 0
    - Explanation:
No non-empty subarray satisfies both conditions.



- Constraints:
    - 1 <= nums.length <= 105
    - 0 <= nums[i] <= 10**9

In [ ]:
class Solution:
    def maxBalancedSubarray(self, nums: List[int]) -> int:
        seen = {}
        seen[(0, 0)] = -1

        pre_xor = 0
        balance = 0
        max_length = 0

        for i, num in enumerate(nums):

            pre_xor ^= num

            if num % 2 == 0:
                balance -= 1
            else:
                balance += 1
            
            current = (pre_xor, balance)

            if current in seen:
                max_length = max(max_length, i - seen[current])
            else:
                seen[current] = i
        
        return max_length

## 433. Concatenate Non-Zero Digits and Multiply by Sum II

You are given a string s of length m consisting of digits. You are also given a 2D integer array queries, where queries[i] = [li, ri].

For each queries[i], extract the substring s[li..ri]. Then, perform the following:

Form a new integer x by concatenating all the non-zero digits from the substring in their original order. If there are no non-zero digits, x = 0.
Let sum be the sum of digits in x. The answer is x * sum.
Return an array of integers answer where answer[i] is the answer to the ith query.

Since the answers may be very large, return them modulo 10**9 + 7.



Example 1:

Input: s = "10203004", queries = [[0,7],[1,3],[4,6]]

Output: [12340, 4, 9]

Explanation:

s[0..7] = "10203004"
x = 1234
sum = 1 + 2 + 3 + 4 = 10
Therefore, answer is 1234 * 10 = 12340.
s[1..3] = "020"
x = 2
sum = 2
Therefore, the answer is 2 * 2 = 4.
s[4..6] = "300"
x = 3
sum = 3
Therefore, the answer is 3 * 3 = 9.
Example 2:

Input: s = "1000", queries = [[0,3],[1,1]]

Output: [1, 0]

Explanation:

s[0..3] = "1000"
x = 1
sum = 1
Therefore, the answer is 1 * 1 = 1.
s[1..1] = "0"
x = 0
sum = 0
Therefore, the answer is 0 * 0 = 0.
Example 3:

Input: s = "9876543210", queries = [[0,9]]

Output: [444444137]

Explanation:

s[0..9] = "9876543210"
x = 987654321
sum = 9 + 8 + 7 + 6 + 5 + 4 + 3 + 2 + 1 = 45
Therefore, the answer is 987654321 * 45 = 44444444445.
We return 44444444445 modulo (109 + 7) = 444444137.


Constraints:

1 <= m == s.length <= 105
s consists of digits only.
1 <= queries.length <= 105
queries[i] = [li, ri]
0 <= li <= ri < m

In [ ]:
class Solution:
    def sumAndMultiply(self, s: str, queries: List[List[int]]) -> List[int]:
        

        def sumAndMultiply(n: int) -> int:
            MOD = 10**9 + 7
            total = 0
            digit = -1
            new_digit = 0
            to_power = 0


            while n > 0:
                digit = n % 10
                n = n // 10
                if digit != 0:
                    placeth = 10 ** to_power
                    total += digit
                    new_digit += digit * placeth
                    to_power += 1
            return (new_digit * total) % MOD
        
        results = []
        for left, right in queries:
            n = int(s[left:right + 1])
            results.append(sumAndMultiply(n))
        
        return results
    
class Solution:
    def concatenateNonZeroDigitsAndMultiplyBySum(self, s: str, queries: list[list[int]]) -> list[int]:
        MOD = 10**9 + 7
        m = len(s)
        
        # Fenwick Tree/BIT implementation
        class FenwickTree:
            def __init__(self, size, default_val=0):
                self.tree = [default_val] * (size + 1)
                self.size = size

            def update(self, i, val):
                while i <= self.size:
                    self.tree[i] = (self.tree[i] + val) % MOD
                    i += i & -i

            def query(self, i):
                sum_val = 0
                while i > 0:
                    sum_val = (sum_val + self.tree[i]) % MOD
                    i -= i & -i
                return sum_val
            
            def query_range(self, i, j):
                if i == 0:
                    return self.query(j)
                return (self.query(j) - self.query(i - 1) + MOD) % MOD

        non_zero_indices = []
        for i, char in enumerate(s):
            if char != '0':
                non_zero_indices.append(i)
        
        results = []
        for li, ri in queries:
            substring = s[li : ri+1]
            x_str = ""
            for char in substring:
                if char != '0':
                    x_str += char
            
            if not x_str:
                x = 0
                digit_sum = 0
            else:
                x = int(x_str)
                digit_sum = sum(int(d) for d in x_str)
            
            results.append((x * digit_sum) % MOD)
            
        return results



import bisect
from typing import List

class Solution:
    def sumAndMultiply(self, s: str, queries: List[List[int]]) -> List[int]:
        n = len(s)
        pos = []
        digits = []

        for i in range(n):
            if s[i] != '0':
                pos.append(i)
                digits.append(int(s[i]))
                
        m = len(pos)

        if m == 0:
            return [0] * len(queries)
        
        prefix_sum = [0] * (m + 1)

        for i in range(m):
            prefix_sum[i + 1] = prefix_sum[i] + digits[i]

        MOD = 10**9 + 7
        P = [0] * (m + 1)

        for i in range(m):
            P[i + 1] = (P[i] * 10 + digits[i]) % MOD

        pow10 = [1] * (m + 1)

        for i in range(1, m + 1):
            pow10[i] = (pow10[i - 1] * 10) % MOD

        result = []

        for l, r in queries:
            ii = bisect.bisect_left(pos, l)
            jj = bisect.bisect_right(pos, r) - 1
            if ii > jj:
                result.append(0)
                continue
            length = jj - ii + 1
            total_sum = prefix_sum[jj + 1] - prefix_sum[ii]
            x = (P[jj + 1] - (P[ii] * pow10[length]) % MOD + MOD) % MOD
            res = (x * (total_sum % MOD)) % MOD
            result.append(res)
            
        return  result

## 434. Number of Effective Subsequences

- You are given an integer array nums.

- The strength of the array is defined as the bitwise OR of all its elements.

- A subsequence is considered effective if removing that subsequence strictly decreases the strength of the remaining elements.

- Return the number of effective subsequences in nums. Since the answer may be large, return it modulo 10**9 + 7.

- The bitwise OR of an empty array is 0.



- Example 1:
    - Input: nums = [1,2,3]
    - Output: 3
    - Explanation:
The Bitwise OR of the array is 1 OR 2 OR 3 = 3.
Subsequences that are effective are:
[1, 3]: The remaining element [2] has a Bitwise OR of 2.
[2, 3]: The remaining element [1] has a Bitwise OR of 1.
[1, 2, 3]: The remaining elements [] have a Bitwise OR of 0.
Thus, the total number of effective subsequences is 3.

- Example 2:
    - Input: nums = [7,4,6]
    - Output: 4
    - Explanation:
The Bitwise OR of the array is 7 OR 4 OR 6 = 7.
Subsequences that are effective are:
[7]: The remaining elements [4, 6] have a Bitwise OR of 6.
[7, 4]: The remaining element [6] has a Bitwise OR of 6.
[7, 6]: The remaining element [4] has a Bitwise OR of 4.
[7, 4, 6]: The remaining elements [] have a Bitwise OR of 0.
Thus, the total number of effective subsequences is 4.

- Example 3:
    - Input: nums = [8,8]
    - Output: 1
    - Explanation:
The Bitwise OR of the array is 8 OR 8 = 8.
Only the subsequence [8, 8] is effective since removing it leaves [] which has a Bitwise OR of 0.
Thus, the total number of effective subsequences is 1.

- Example 4:
    - Input: nums = [2,2,1]
    - Output: 5
    - Explanation:
The Bitwise OR of the array is 2 OR 2 OR 1 = 3.
Subsequences that are effective are:
[1]: The remaining elements [2, 2] have a Bitwise OR of 2.
[2, 1] (using nums[0], nums[2]): The remaining element [2] has a Bitwise OR of 2.
[2, 1] (using nums[1], nums[2]): The remaining element [2] has a Bitwise OR of 2.
[2, 2]: The remaining element [1] has a Bitwise OR of 1.
[2, 2, 1]: The remaining elements [] have a Bitwise OR of 0.
Thus, the total number of effective subsequences is 5.


- Constraints:
    - 1 <= nums.length <= 105
    - 1 <= nums[i] <= 106

In [ ]:
class Solution:
    def countEffective(self, nums: List[int]) -> int:
        MOD = 10**9 + 7
        n = len(nums)
        total = 0

        for x in nums:
            total |= x
            
        if total == 0:
            return 0
        
        m_bits = total.bit_length()
        limit = 1 << m_bits
        dp = [0] * limit

        for x in nums:
            if x < limit:
                dp[x] += 1

        for i in range(m_bits):
            bit = 1 << i
            for mask in range(limit):
                if mask & bit:
                    dp[mask] += dp[mask ^ bit]
        
        count = 0
        ts = total.bit_count()
        pow2 = [1] * (n + 1)

        for i in range(1, n + 1):
            pow2[i] = (pow2[i-1] * 2) % MOD

        s = total

        while True:
            sp = s.bit_count()
            d = ts - sp
            t = pow2[dp[s]]
            if d % 2 == 1:
                count = (count - t + MOD) % MOD
            else:
                count = (count + t) % MOD
                
            if s == 0:
                break
            s = (s - 1) & total
        total_sub = pow2[n]
        result = (total_sub - count + MOD) % MOD
        
        return result

# Back to Monotonic Stack

## 435. Next Greater Element II

- Given a circular integer array nums (i.e., the next element of nums[nums.length - 1] is nums[0]), return the next greater number for every element in nums.

- The next greater number of a number x is the first greater number to its traversing-order next in the array, which means you could search circularly to find its next greater number. If it doesn't exist, return -1 for this number.

 

- Example 1:
    - Input: nums = [1,2,1]
    - Output: [2,-1,2]
    - Explanation: The first 1's next greater number is 2; 
The number 2 can't find next greater number. 
The second 1's next greater number needs to search circularly, which is also 2.

- Example 2:
    - Input: nums = [1,2,3,4,3]
    - Output: [2,3,4,-1,4]
 

- Constraints:
    - 1 <= nums.length <= 104
    - -109 <= nums[i] <= 109

In [ ]:
class Solution:
    def nextGreaterElements(self, nums: List[int]) -> List[int]:
        n = len(nums)
        results = [-1] * n
        stack = []
        
        for i in range(n * 2):
            num = nums[i % n]
            while stack and num > nums[stack[-1]]:
                position = stack.pop() 
                results[position] = num
            
            if i < n:
                stack.append(i)
        
        return results

## 436. Maximum Binary Tree

- You are given an integer array nums with no duplicates. A maximum binary tree can be built recursively from nums using the following algorithm:
    - Create a root node whose value is the maximum value in nums.
    - Recursively build the left subtree on the subarray prefix to the left of the maximum value.
    - Recursively build the right subtree on the subarray suffix to the right of the maximum value.

- Return the maximum binary tree built from nums.

 

- Example 1:
    - Input: nums = [3,2,1,6,0,5]
    - Output: [6,3,5,null,2,0,null,null,1]
    - Explanation: The recursive calls are as follow:
- The largest value in [3,2,1,6,0,5] is 6. Left prefix is [3,2,1] and right suffix is [0,5].
    - The largest value in [3,2,1] is 3. Left prefix is [] and right suffix is [2,1].
        - Empty array, so no child.
        - The largest value in [2,1] is 2. Left prefix is [] and right suffix is [1].
            - Empty array, so no child.
            - Only one element, so child is a node with value 1.
    - The largest value in [0,5] is 5. Left prefix is [0] and right suffix is [].
        - Only one element, so child is a node with value 0.
        - Empty array, so no child.

- Example 2:
    - Input: nums = [3,2,1]
    - Output: [3,null,2,null,1]
 

- Constraints:
    - 1 <= nums.length <= 1000
    - 0 <= nums[i] <= 1000
    - All integers in nums are unique.

In [ ]:
from typing import Optional

# Definition for a binary tree node.
class TreeNode:
    def __init__(self, val=0, left=None, right=None):
        self.val = val
        self.left = left
        self.right = right
class Solution:
    def constructMaximumBinaryTree(self, nums: List[int]) -> Optional[TreeNode]:
        stack = []
        
        for num in nums:
            current = TreeNode(num)
            
            while stack and current.val > stack[-1].val:
                current.left = stack.pop()
                
            if stack:
                stack[-1].right = current
            
            stack.append(current)
        
        return stack[0]

## 437. Maximal Rectangle

- Given a rows x cols binary matrix filled with 0's and 1's, find the largest rectangle containing only 1's and return its area.

 
- Example 1:
    - Input: matrix = [["1","0","1","0","0"],["1","0","1","1","1"],["1","1","1","1","1"],["1","0","0","1","0"]]
    - Output: 6
    - Explanation: The maximal rectangle is shown in the above picture.

- Example 2:
    - Input: matrix = [["0"]]
    - Output: 0

- Example 3:
    - Input: matrix = [["1"]]
    - Output: 1
 

- Constraints:
    - rows == matrix.length
    - cols == matrix[i].length
    - 1 <= rows, cols <= 200
    - matrix[i][j] is '0' or '1'.

In [ ]:
class Solution:
    def largestRectangleArea(self, heights: List[int]) -> int:
        stack = []
        max_area = 0

        heights.append(0)

        for i, h in enumerate(heights):

            while stack and heights[stack[-1]] > h:
                height = heights[stack.pop()]

                if not stack:
                    width = i
                else:
                    width = i - stack[-1] - 1
                
                max_area = max(max_area, height * width)
            
            stack.append(i)
            
        return max_area
    
    def maximalRectangle(self, matrix: List[List[str]]) -> int:
        if not matrix or not matrix[0]:
            return 0
        
        rows = len(matrix)
        cols = len(matrix[0])
        max_area = 0
        heights = [0] * cols
        
        for r in range(rows):
            for c in range(cols):
                if matrix[r][c] == '1':
                    heights[c] += 1
                else:
                    heights[c] = 0
                    
            max_area = max(max_area, self.largestRectangleArea(heights))
            
        return max_area

## 438. Paths in Matrix Whose Sum Is Divisible by K
- Daily Problem

- You are given a 0-indexed m x n integer matrix grid and an integer k. You are currently at position (0, 0) and you want to reach position (m - 1, n - 1) moving only down or right.

- Return the number of paths where the sum of the elements on the path is divisible by k. Since the answer may be very large, return it modulo 10**9 + 7.

 

- Example 1:
    - Input: grid = [[5,2,4],[3,0,5],[0,7,2]], k = 3
    - Output: 2
    - Explanation: There are two paths where the sum of the elements on the path is divisible by k.
The first path highlighted in red has a sum of 5 + 2 + 4 + 5 + 2 = 18 which is divisible by 3.
The second path highlighted in blue has a sum of 5 + 3 + 0 + 5 + 2 = 15 which is divisible by 3.

- Example 2:
    - Input: grid = [[0,0]], k = 5
    - Output: 1
    - Explanation: The path highlighted in red has a sum of 0 + 0 = 0 which is divisible by 5.

- Example 3:
    - Input: grid = [[7,3,4,9],[2,3,6,2],[2,3,7,0]], k = 1
    - Output: 10
    - Explanation: Every integer is divisible by 1 so the sum of the elements on every possible path is divisible by k.
 

- Constraints:
    - m == grid.length
    - n == grid[i].length
    - 1 <= m, n <= 5 * 104
    - 1 <= m * n <= 5 * 104
    - 0 <= grid[i][j] <= 100
    - 1 <= k <= 50

In [ ]:
# dynamic programming - top down, but bottom up is faster
class Solution:
    def numberOfPaths(self, grid: List[List[int]], k: int) -> int:
        MOD = 10**9 + 7
        m, n = len(grid), len(grid[0])

        memo = [[[-1] * k for _ in range(n)] for _ in range(m)]

        def dp(i, j, current_sum_mod):
            if i == m or j == n:
                return 0

            next_sum_mod = (current_sum_mod + grid[i][j]) % k

            if i == m - 1 and j == n - 1:
                return 1 if next_sum_mod == 0 else 0
            
            if memo[i][j][next_sum_mod] != -1:                
                return memo[i][j][next_sum_mod]

            paths_from_down = dp(i + 1, j, next_sum_mod)
            paths_from_right = dp(i, j + 1, next_sum_mod)

            memo[i][j][next_sum_mod] = (
                paths_from_down + paths_from_right) % MOD

            return memo[i][j][next_sum_mod]

        return dp(0, 0, 0)

## 439. Max Chunks To Make Sorted

- You are given an integer array arr of length n that represents a permutation of the integers in the range [0, n - 1].

- We split arr into some number of chunks (i.e., partitions), and individually sort each chunk. After concatenating them, the result should equal the sorted array.

- Return the largest number of chunks we can make to sort the array.

 

- Example 1:
    - Input: arr = [4,3,2,1,0]
    - Output: 1
    - Explanation:
Splitting into two or more chunks will not return the required result.
For example, splitting into [4, 3], [2, 1, 0] will result in [3, 4, 0, 1, 2], which isn't sorted.

- Example 2:
    - Input: arr = [1,0,2,3,4]
    - Output: 4
    - Explanation:
We can split into two chunks, such as [1, 0], [2, 3, 4].
However, splitting into [1, 0], [2], [3], [4] is the highest number of chunks possible.
 

- Constraints:
    - n == arr.length
    - 1 <= n <= 10
    - 0 <= arr[i] < n
    - All the elements of arr are unique.

In [ ]:
# key insight is when the max equal the index,
# since all the values of the array are the permutations of the array.
# if we encouter a value that equals its index, then all larger numbers should be in
# subsequence instead of the numbers before it.
class Solution:
    def maxChunksToSorted(self, arr: List[int]) -> int:
        chunks = 0
        current_max = 0
        for i in range(len(arr)):
            current_max = max(current_max, arr[i])
            if current_max == i:
                chunks += 1
        return chunks

## 440. Online Stock Span

- Design an algorithm that collects daily price quotes for some stock and returns the span of that stock's price for the current day.

- The span of the stock's price in one day is the maximum number of consecutive days (starting from that day and going backward) for which the stock price was less than or equal to the price of that day.

- For example, if the prices of the stock in the last four days is [7,2,1,2] and the price of the stock today is 2, then the span of today is 4 because starting from today, the price of the stock was less than or equal 2 for 4 consecutive days.
Also, if the prices of the stock in the last four days is [7,34,1,2] and the price of the stock today is 8, then the span of today is 3 because starting from today, the price of the stock was less than or equal 8 for 3 consecutive days.
Implement the StockSpanner class:

- StockSpanner() Initializes the object of the class.
int next(int price) Returns the span of the stock's price given that today's price is price.
 

- Example 1:
    - Input
["StockSpanner", "next", "next", "next", "next", "next", "next", "next"]
[[], [100], [80], [60], [70], [60], [75], [85]]
    - Output: [null, 1, 1, 1, 2, 1, 4, 6]
    - Explanation
StockSpanner stockSpanner = new StockSpanner();
stockSpanner.next(100); // return 1
stockSpanner.next(80);  // return 1
stockSpanner.next(60);  // return 1
stockSpanner.next(70);  // return 2
stockSpanner.next(60);  // return 1
stockSpanner.next(75);  // return 4, because the last 4 prices (including today's price of 75) were less than or equal to today's price.
stockSpanner.next(85);  // return 6
 

- Constraints:
    - 1 <= price <= 105
    - At most 104 calls will be made to next.

In [ ]:
# very slow, barely passed. beat 5%
class StockSpanner:

    def __init__(self):
        self.stack = []

    def next(self, price: int) -> int:
        span = 1
        for num in reversed(self.stack):
            if price >= num:
                span += 1
            else:
                break
        
        self.stack.append(price)
        
        return span


class StockSpanner:

    def __init__(self):
        self.stack = []

    def next(self, price: int) -> int:
        span = 1
        while self.stack and self.stack[-1][0] <= price:
            span += self.stack.pop()[1]

        self.stack.append((price, span))

        return span
# Your StockSpanner object will be instantiated and called as such:
# obj = StockSpanner()
# param_1 = obj.next(price)

## 441. Maximum Subarray Sum With Length Divisible by K

- You are given an array of integers nums and an integer k.

- Return the maximum sum of a subarray of nums, such that the size of the subarray is divisible by k.

 

- Example 1:
    - Input: nums = [1,2], k = 1
    - Output: 3
    - Explanation:
The subarray [1, 2] with sum 3 has length equal to 2 which is divisible by 1.

- Example 2:
    - Input: nums = [-1,-2,-3,-4,-5], k = 4
    - Output: -10
    - Explanation:
The maximum sum subarray is [-1, -2, -3, -4] which has length equal to 4 which is divisible by 4.

- Example 3:
    - Input: nums = [-5,1,2,-3,4], k = 2
    - Output: 4
    - Explanation:
The maximum sum subarray is [1, 2, -3, 4] which has length equal to 4 which is divisible by 2.

 

- Constraints:
    - 1 <= k <= nums.length <= 2 * 105
    - -109 <= nums[i] <= 109

In [ ]:
# naive approach (brute force) O(n + (n + k))
class Solution:
    def maxSubarraySum(self, nums: List[int], k: int) -> int:
        n = len(nums)
        prefix = [nums[0]]

        for i in range(1, n):
            prefix.append(prefix[-1] + nums[i])

        result = float("-inf")
        for left in range(1, n):
            right = left
            while right + k - 1 < n:
                subtract = 0 if left == 0 else prefix[left - 1]
                result = max(result, prefix[right + k - 1] - subtract)
                right += k

        return result
    
    
class Solution:
    def maxSubarraySum(self, nums: List[int], k: int) -> int:
        result = float("-inf")
        prefix_sum = 0

        min_prefix = [float("inf")] * k

        min_prefix[k - 1] = 0

        for i in range(len(nums)):
            prefix_sum += nums[i]

            current_remainder = i % k

            result = max(result, prefix_sum - min_prefix[current_remainder])

            min_prefix[current_remainder] = min(
                min_prefix[current_remainder], prefix_sum)

        return result

## 442. Maximum Width Ramp

- Daily problem

- A ramp in an integer array nums is a pair (i, j) for which i < j and nums[i] <= nums[j]. The width of such a ramp is j - i.

- Given an integer array nums, return the maximum width of a ramp in nums. If there is no ramp in nums, return 0.

 

- Example 1:
    - Input: nums = [6,0,8,2,1,5]
    - Output: 4
    - Explanation: The maximum width ramp is achieved at (i, j) = (1, 5): nums[1] = 0 and nums[5] = 5.

- Example 2:
    - Input: nums = [9,8,1,0,1,9,4,0,4,1]
    - Output: 7
    - Explanation: The maximum width ramp is achieved at (i, j) = (2, 9): nums[2] = 1 and nums[9] = 1.
 

- Constraints:
    - 2 <= nums.length <= 5 * 104
    - 0 <= nums[i] <= 5 * 104

In [ ]:
class Solution:
    def maxWidthRamp(self, nums: List[int]) -> int:
        max_width = 0
        stack = []
        
        for i, num in enumerate(nums):
            if not stack or num < nums[stack[-1]]:
                stack.append(i)            
        
        for j in range(len(nums) - 1, -1, -1):
            while stack and nums[j] >= nums[stack[-1]]:
                max_width = max(max_width, j - stack.pop())    
                    
        return max_width

## 443. Construct Binary Search Tree from Preorder Traversal

- Given an array of integers preorder, which represents the preorder traversal of a BST (i.e., binary search tree), construct the tree and return its root.

- It is guaranteed that there is always possible to find a binary search tree with the given requirements for the given test cases.

- A binary search tree is a binary tree where for every node, any descendant of Node.left has a value strictly less than Node.val, and any descendant of Node.right has a value strictly greater than Node.val.

- A preorder traversal of a binary tree displays the value of the node first, then traverses Node.left, then traverses Node.right.

 

- Example 1:
    - Input: preorder = [8,5,1,7,10,12]
    - Output: [8,5,10,1,7,null,12]

- Example 2:
    - Input: preorder = [1,3]
    - Output: [1,null,3]
 

- Constraints:
    - 1 <= preorder.length <= 100
    - 1 <= preorder[i] <= 1000
    - All the values of preorder are unique.

In [ ]:
# convert a binary tree in a list to Node,
# basicaly could also use an array for a binary tree
# Definition for a binary tree node.
# class TreeNode:
#     def __init__(self, val=0, left=None, right=None):
#         self.val = val
#         self.left = left
#         self.right = right
class Solution:
    def bstFromPreorder(self, preorder: List[int]) -> Optional[TreeNode]:
        if not preorder:
            return None
        
        root = TreeNode(preorder[0])
        stack = [root]
        
        for val in preorder[1:]:
            child = TreeNode(val)
            parent = stack[-1]
            
            while stack and stack[-1].val < val:
                parent = stack.pop()
                
            if parent.val > val:
                parent.left = child
            else:
                parent.right = child
            
            stack.append(child)
        return root

## 444. Next Greater Node In Linked List

- You are given the head of a linked list with n nodes.

- For each node in the list, find the value of the next greater node. That is, for each node, find the value of the first node that is next to it and has a strictly larger value than it.

- Return an integer array answer where answer[i] is the value of the next greater node of the ith node (1-indexed). If the ith node does not have a next greater node, set answer[i] = 0.

 

- Example 1:
    - Input: head = [2,1,5]
    - Output: [5,5,0]

- Example 2:
    - Input: head = [2,7,4,3,5]
    - Output: [7,0,5,5,0]
 

- Constraints:
    - The number of nodes in the list is n.
    - 1 <= n <= 104
    - 1 <= Node.val <= 109

In [ ]:
# The simple answer is to convert Linked List to array
# This solution needs a monontonic decreasing stack. Cannot do it in 1 pass 
# because the solution needs out of order access and it is not possible with 
# a Linked List.
# Definition for singly-linked list.
class ListNode:
    def __init__(self, val=0, next=None):
        self.val = val
        self.next = next
class Solution:
    def nextLargerNodes(self, head: Optional[ListNode]) -> List[int]:
        nums = []
        while head:
            nums.append(head.val)
            head = head.next
        
        stack = []
        results = [0] * len(nums)
        for i, num in enumerate(nums):
            
            while stack and num > nums[stack[-1]]:
                position = stack.pop()
                results[position] = num
            
            stack.append(i)
            
            
        return results

## 445. Maximum Number of K-Divisible Components

- There is an undirected tree with n nodes labeled from 0 to n - 1. You are given the integer n and a 2D integer array edges of length n - 1, where edges[i] = [ai, bi] indicates that there is an edge between nodes ai and bi in the tree.

- You are also given a 0-indexed integer array values of length n, where values[i] is the value associated with the ith node, and an integer k.

- A valid split of the tree is obtained by removing any set of edges, possibly empty, from the tree such that the resulting components all have values that are divisible by k, where the value of a connected component is the sum of the values of its nodes.

- Return the maximum number of components in any valid split.

 

- Example 1:
    - Input: n = 5, edges = [[0,2],[1,2],[1,3],[2,4]], values = [1,8,1,4,4], k = 6
    - Output: 2
    - Explanation: We remove the edge connecting node 1 with 2. The resulting split is valid because:
- The value of the component containing nodes 1 and 3 is values[1] + values[3] = 12.
- The value of the component containing nodes 0, 2, and 4 is values[0] + values[2] + values[4] = 6.
It can be shown that no other valid split has more than 2 connected components.

- Example 2:
    - Input: n = 7, edges = [[0,1],[0,2],[1,3],[1,4],[2,5],[2,6]], values = [3,0,6,1,5,2,1], k = 3
    - Output: 3
    - Explanation: We remove the edge connecting node 0 with 2, and the edge connecting node 0 with 1. The resulting split is valid because:
- The value of the component containing node 0 is values[0] = 3.
- The value of the component containing nodes 2, 5, and 6 is values[2] + values[5] + values[6] = 9.
- The value of the component containing nodes 1, 3, and 4 is values[1] + values[3] + values[4] = 6.
It can be shown that no other valid split has more than 3 connected components.
 

- Constraints:
    - 1 <= n <= 3 * 104
    - edges.length == n - 1
    - edges[i].length == 2
    - 0 <= ai, bi < n
    - values.length == n
    - 0 <= values[i] <= 109
    - 1 <= k <= 109
    - Sum of values is divisible by k.
    - The input is generated such that edges represents a valid tree.

In [ ]:
from collections import defaultdict

class Solution:
    def maxKDivisibleComponents(self, n: int, edges: List[List[int]], values: List[int], k: int) -> int:
        adj = defaultdict(list)
        
        for n1, n2 in edges:
            adj[n1].append(n2)
            adj[n2].append(n1)
            
        result = 0
        
        def dfs(cur, parent):
            total = values[cur]
            
            for child in adj[cur]:
                if child != parent:
                    total += dfs(child, cur)
            
            if total % k == 0:
                nonlocal result
                result += 1
            
            return total
        
        dfs(0, -1)
        return result

# Random Questions

## 446. Continuous Subarray Sum
- Given an integer array nums and an integer k, return true if nums has a good subarray or false otherwise.

- A good subarray is a subarray where:
    - its length is at least two, and
    - the sum of the elements of the subarray is a multiple of k.

- Note that:
    - A subarray is a contiguous part of the array.
    - An integer x is a multiple of k if there exists an integer n such that x = n * k. 0 is always a multiple of k.
 

- Example 1:
Input: nums = [23,2,4,6,7], k = 6
Output: true
Explanation: [2, 4] is a continuous subarray of size 2 whose elements sum up to 6.

- Example 2:
Input: nums = [23,2,6,4,7], k = 6
Output: true
Explanation: [23, 2, 6, 4, 7] is an continuous subarray of size 5 whose elements sum up to 42.
42 is a multiple of 6 because 42 = 7 * 6 and 7 is an integer.

- Example 3:
Input: nums = [23,2,6,4,7], k = 13
Output: false
 

- Constraints:
1 <= nums.length <= 105
0 <= nums[i] <= 109
0 <= sum(nums[i]) <= 231 - 1
1 <= k <= 231 - 1

In [ ]:
# prefix sum and modular arithmetic - need to know a % k congruence b is the same as a - b % k congruence  0
# The core idea is based on the property that if the sum of a subarray between 
# indices j and i (inclusive) is a multiple of k, then (prefix_sum[i] - prefix_sum[j-1]) is divisible by k. 
# This mathematically implies that prefix_sum[i] % k == prefix_sum[j-1] % k
class Solution:
    def checkSubarraySum(self, nums: List[int], k: int) -> bool:
        remainder_map = {0: -1}
        total = 0
        
        for i in range(len(nums)):
            total += nums[i]
            if k != 0:
                total = total % k
            
            if total not in remainder_map:
                remainder_map[total] = i
            elif i - remainder_map[total] > 1:
                return True
        
        return False

## 447.  Minimum Operations to Make Array Sum Divisible by K

- You are given an integer array nums and an integer k. You can perform the following operation any number of times:

- Select an index i and replace nums[i] with nums[i] - 1.
- Return the minimum number of operations required to make the sum of the array divisible by k.

 

- Example 1:
    - Input: nums = [3,9,7], k = 5
    - Output: 4
    - Explanation:
Perform 4 operations on nums[1] = 9. Now, nums = [3, 5, 7].
The sum is 15, which is divisible by 5.

- Example 2:
    - Input: nums = [4,1,3], k = 4
    - Output: 0
    - Explanation:
The sum is 8, which is already divisible by 4. Hence, no operations are needed.

- Example 3:
    - Input: nums = [3,2], k = 6
    - Output: 5
    - Explanation:
Perform 3 operations on nums[0] = 3 and 2 operations on nums[1] = 2. Now, nums = [0, 0].
The sum is 0, which is divisible by 6.
 

- Constraints:
    - 1 <= nums.length <= 1000
    - 1 <= nums[i] <= 1000
    - 1 <= k <= 100

In [ ]:
#problem is super easy as long as you know the property of modular arithmetic
# this problem is indicative of LeetCode, there are multiple solutions
# if you don't know a trick, then you could do the naive approach and loop and subtract
class Solution:
    def minOperations(self, nums: List[int], k: int) -> int:
        return sum(nums) % k

## 448. Make Sum Divisible by P
- Daily Problem

- Given an array of positive integers nums, remove the smallest subarray (possibly empty) such that the sum of the remaining elements is divisible by p. It is not allowed to remove the whole array.

- Return the length of the smallest subarray that you need to remove, or -1 if it's impossible.

- A subarray is defined as a contiguous block of elements in the array.

 

- Example 1:
    - Input: nums = [3,1,4,2], p = 6
    - Output: 1
    - Explanation: The sum of the elements in nums is 10, which is not divisible by 6. We can remove the subarray [4], and the sum of the remaining elements is 6, which is divisible by 6.

- Example 2:
    - Input: nums = [6,3,5,2], p = 9
    - Output: 2
    - Explanation: We cannot remove a single element to get a sum divisible by 9. The best way is to remove the subarray [5,2], leaving us with [6,3] with sum 9.

- Example 3:
    - Input: nums = [1,2,3], p = 3
    - Output: 0
    - Explanation: Here the sum is 6. which is already divisible by 3. Thus we do not need to remove anything.
 

- Constraints:
    - 1 <= nums.length <= 105
    - 1 <= nums[i] <= 109
    - 1 <= p <= 109

In [ ]:
#prefix sum and modular arithmetic complements
class Solution:
    def minSubarray(self, nums: List[int], p: int) -> int:
        hash_map = {0: -1}
        nums_sum = sum(nums)
        nums_len = len(nums)

        target_remainder = nums_sum % p
        if target_remainder == 0:
            return 0

        prefix_mod = 0
        min_length = nums_len

        for i, num in enumerate(nums):
            prefix_mod = (num + prefix_mod) % p
            complement_remainder = (prefix_mod + p - target_remainder) % p

            if complement_remainder in hash_map:
                min_length = min(min_length, i - hash_map[complement_remainder])

            hash_map[prefix_mod] = i

        return min_length if min_length < nums_len else -1

## 449. Dota2 Senate
- In the world of Dota2, there are two parties: the Radiant and the Dire.

- The Dota2 senate consists of senators coming from two parties. Now the Senate wants to decide on a change in the Dota2 game. The voting for this change is a round-based procedure. In each round, each senator can exercise one of the two rights:

- Ban one senator's right: A senator can make another senator lose all his rights in this and all the following rounds.
Announce the victory: If this senator found the senators who still have rights to vote are all from the same party, he can announce the victory and decide on the change in the game.
Given a string senate representing each senator's party belonging. The character 'R' and 'D' represent the Radiant party and the Dire party. Then if there are n senators, the size of the given string will be n.

- The round-based procedure starts from the first senator to the last senator in the given order. This procedure will last until the end of voting. All the senators who have lost their rights will be skipped during the procedure.

- Suppose every senator is smart enough and will play the best strategy for his own party. Predict which party will finally announce the victory and change the Dota2 game. The output should be "Radiant" or "Dire".

 

- Example 1:
    - Input: senate = "RD"
    - Output: "Radiant"
Explanation: 
    - The first senator comes from Radiant and he can just ban the next senator's right in round 1. 
And the second senator can't exercise any rights anymore since his right has been banned. 
And in round 2, the first senator can just announce the victory since he is the only guy in the senate who can vote.

- Example 2:
    - Input: senate = "RDD"
    - Output: "Dire"
    - Explanation: 
The first senator comes from Radiant and he can just ban the next senator's right in round 1. 
And the second senator can't exercise any rights anymore since his right has been banned. 
And the third senator comes from Dire and he can ban the first senator's right in round 1. 
And in round 2, the third senator can just announce the victory since he is the only guy in the senate who can vote.
 

- Constraints:
    - n == senate.length
    - 1 <= n <= 104
    - senate[i] is either 'R' or 'D'.

In [ ]:
from collections import deque

class Solution:
    def predictPartyVictory(self, senate: str) -> str:
        n = len(senate)
        dire_queue = deque()
        radiant_queue = deque()

        for i, senator in enumerate(senate):
            if senator == "D":
                dire_queue.append(i)
            else:
                radiant_queue.append(i)

        while dire_queue and radiant_queue:
            index_d = dire_queue.popleft()
            index_r = radiant_queue.popleft()

            if index_d < index_r:
                dire_queue.append(index_d + n)
            else:
                radiant_queue.append(index_r + n)

        return "Radiant" if radiant_queue else "Dire"

## 450. Maximum Running Time of N Computers
- Daily problem

- You have n computers. You are given the integer n and a 0-indexed integer array batteries where the ith battery can run a computer for batteries[i] minutes. You are interested in running all n computers simultaneously using the given batteries.

- Initially, you can insert at most one battery into each computer. After that and at any integer time moment, you can remove a battery from a computer and insert another battery any number of times. The inserted battery can be a totally new battery or a battery from another computer. You may assume that the removing and inserting processes take no time.

- Note that the batteries cannot be recharged.

- Return the maximum number of minutes you can run all the n computers simultaneously.

 

- Example 1:
    - Input: n = 2, batteries = [3,3,3]
    - Output: 4
    - Explanation: 
Initially, insert battery 0 into the first computer and battery 1 into the second computer.
After two minutes, remove battery 1 from the second computer and insert battery 2 instead. Note that battery 1 can still run for one minute.
At the end of the third minute, battery 0 is drained, and you need to remove it from the first computer and insert battery 1 instead.
By the end of the fourth minute, battery 1 is also drained, and the first computer is no longer running.
We can run the two computers simultaneously for at most 4 minutes, so we return 4.

- Example 2:
    - Input: n = 2, batteries = [1,1,1,1]
    - Output: 2
    - Explanation: 
Initially, insert battery 0 into the first computer and battery 2 into the second computer. 
After one minute, battery 0 and battery 2 are drained so you need to remove them and insert battery 1 into the first computer and battery 3 into the second computer. 
After another minute, battery 1 and battery 3 are also drained so the first and second computers are no longer running.
We can run the two computers simultaneously for at most 2 minutes, so we return 2.
 

- Constraints:
    - 1 <= n <= batteries.length <= 105
    - 1 <= batteries[i] <= 109

In [ ]:
class Solution:
    def maxRunTime(self, n: int, batteries: List[int]) -> int:
        sum_power = sum(batteries)
        left = 1
        right = sum_power // n 

        while left < right:
            target = right - (right - left) // 2
            extra = 0

            for power in batteries:
                extra += min(power, target)

            if extra >= n * target:
                left = target
            else:
                right = target - 1
        return left

# Questions # 451-475

## 451. Count Number of Trapezoids I
- Daily Problem

- You are given a 2D integer array points, where points[i] = [xi, yi] represents the coordinates of the ith point on the Cartesian plane.

- A horizontal trapezoid is a convex quadrilateral with at least one pair of horizontal sides (i.e. parallel to the x-axis). Two lines are parallel if and only if they have the same slope.

- Return the number of unique horizontal trapezoids that can be formed by choosing any four distinct points from points.

- Since the answer may be very large, return it modulo 10^9 + 7.

 

- Example 1:
    - Input: points = [[1,0],[2,0],[3,0],[2,2],[3,2]]
    - Output: 3
    - Explanation:
There are three distinct ways to pick four points that form a horizontal trapezoid:
Using points [1,0], [2,0], [3,2], and [2,2].
Using points [2,0], [3,0], [3,2], and [2,2].
Using points [1,0], [3,0], [3,2], and [2,2].

- Example 2:
    - Input: points = [[0,0],[1,0],[0,1],[2,1]]
    - Output: 1
    - Explanation:
There is only one horizontal trapezoid that can be formed.

 

- Constraints:
    - 4 <= points.length <= 105
    - 108 <= xi, yi <= 108
    - All points are pairwise distinct.

In [ ]:
from collections import Counter
# Intuition
# The problem asks us to find the number of horizontal trapezoids. 
# To do this, we can count how many points lie at each height, that is, at each distinct y value. 
# Suppose there are py points at height y. 
# Then the number of horizontal edges that can be formed at this height is  py(py - 1) / 2
# A horizontal trapezoid can be formed by choosing one such edge from one height and another from a different height. 
# We count all possible combinations of these edges.

# Complexity Analysis
# Let n be the length of points.
# Time complexity: O(n).
# Space complexity: O(n).
class Solution:
    def countTrapezoids(self, points: List[List[int]]) -> int:
        MOD = 10**9 + 7
        point_map = Counter(y for _, y in points)
        result = 0
        total = 0

        for _, val in point_map.items():
            edge = val * (val - 1) // 2
            result += edge * total
            total += edge

        return result % MOD

## 452. Count Number of Trapezoids II

- Daily Problem

- You are given a 2D integer array points where points[i] = [xi, yi] represents the coordinates of the ith point on the Cartesian plane.

- Return the number of unique trapezoids that can be formed by choosing any four distinct points from points.

- A trapezoid is a convex quadrilateral with at least one pair of parallel sides. Two lines are parallel if and only if they have the same slope.

 

- Example 1:
    - Input: points = [[-3,2],[3,0],[2,3],[3,2],[2,-3]]
    - Output: 2
    - Explanation:
There are two distinct ways to pick four points that form a trapezoid:
The points [-3,2], [2,3], [3,2], [2,-3] form one trapezoid.
The points [2,3], [3,2], [3,0], [2,-3] form another trapezoid.

- Example 2:
    - Input: points = [[0,0],[1,0],[0,1],[2,1]]
    - Output: 1
    - Explanation: There is only one trapezoid which can be formed.

- Constraints:
    - 4 <= points.length <= 500
    - 1000 <= xi, yi <= 1000
    - All points are pairwise distinct.

In [ ]:
class Solution:
    def countTrapezoids(self, points: List[List[int]]) -> int:
        n = len(points)
        slope_counts = defaultdict(list)
        midpoint_counts = defaultdict(list)
        result = 0

        for i in range(n):
            x1, y1 = points[i]
            for j in range(i + 1, n):
                x2, y2 = points[j]
                dx = x1 - x2
                dy = y1 - y2

                if x2 == x1:
                    k = float("inf")
                    b = x1
                else:
                    k = (y2 - y1) / (x2 - x1)
                    b = (y1 * dx - x1 * dy) / dx

                mid = (x1 + x2) * 10000 + (y1 + y2)
                slope_counts[k].append(b)
                midpoint_counts[mid].append(k)

        for count in slope_counts.values():
            if len (count) == 1:
                continue

            cnt = defaultdict(int)
            for b_val in count:
                cnt[b_val] += 1

            total_sum = 0
            for count in cnt.values():
                result += total_sum * count
                total_sum += count

        for count in midpoint_counts.values():
            if len(count) == 1:
                continue

            cnt = defaultdict(int)
            for k_val in count:
                cnt[k_val] += 1

            total_sum = 0
            for count in cnt.values():
                result -= total_sum * count
                total_sum += count

        return result

## 453. Count Collisions on a Road

- There are n cars on an infinitely long road. The cars are numbered from 0 to n - 1 from left to right and each car is present at a unique point.

- You are given a 0-indexed string directions of length n. directions[i] can be either 'L', 'R', or 'S' denoting whether the ith car is moving towards the left, towards the right, or staying at its current point respectively. Each moving car has the same speed.

- The number of collisions can be calculated as follows:
    - When two cars moving in opposite directions collide with each other, the number of collisions increases by 2.
    - When a moving car collides with a stationary car, the number of collisions increases by 1.

- After a collision, the cars involved can no longer move and will stay at the point where they collided. Other than that, cars cannot change their state or direction of motion.

- Return the total number of collisions that will happen on the road.

 

- Example 1:
    - Input: directions = "RLRSLL"
    - Output: 5
    - Explanation: The collisions that will happen on the road are:
 Cars 0 and 1 will collide with each other. Since they are moving in opposite directions, the number of collisions becomes 0 + 2 = 2.
 Cars 2 and 3 will collide with each other. Since car 3 is stationary, the number of collisions becomes 2 + 1 = 3.
 Cars 3 and 4 will collide with each other. Since car 3 is stationary, the number of collisions becomes 3 + 1 = 4.
 Cars 4 and 5 will collide with each other. After car 4 collides with car 3, it will stay at the point of collision and get hit by car 5. The number of collisions becomes 4 + 1 = 5.
Thus, the total number of collisions that will happen on the road is 5. 

- Example 2:
    - Input: directions = "LLRR"
    - Output: 0
    - Explanation: No cars will collide with each other. Thus, the total number of collisions that will happen on the road is 0.
 

- Constraints:
    - 1 <= directions.length <= 105
    - directions[i] is either 'L', 'R', or 'S'.

In [ ]:
# the logical checking is more complex and bad
class Solution:
    def countCollisions(self, directions: str) -> int:
        flag = -1
        total = 0
        directions = directions.lstrip('L').rstrip('R')
        for direction in directions:
            if direction == 'L':
                if flag >= 0:
                    total += flag + 1
                    flag = 0
                
            elif direction == 'S':
                if flag > 0:
                    total += flag 
                flag = 0
            else:
                if flag >= 0:
                    flag += 1
                else:
                    flag = 1
        return total

# the number of Ls and Rs not at the end counts as 1, S count as zero.
class Solution:
    def countCollisions(self, directions: str) -> int:
        directions = directions.lstrip('L').rstrip('R')
        return len(directions) - directions.count('S')
    
class Solution:
    def countCollisions(self, directions: str) -> int:
        return len(directions.lstrip('L').rstrip('R').replace('S',''))

## 454. Count Partitions with Even Sum Difference

- You are given an integer array nums of length n.

- A partition is defined as an index i where 0 <= i < n - 1, splitting the array into two non-empty subarrays such that:
    - Left subarray contains indices [0, i].
    - Right subarray contains indices [i + 1, n - 1].

- Return the number of partitions where the difference between the sum of the left and right subarrays is even.

 

- Example 1:
    - Input: nums = [10,10,3,7,6]
    - Output: 4
    - Explanation:
The 4 partitions are:
[10], [10, 3, 7, 6] with a sum difference of 10 - 26 = -16, which is even.
[10, 10], [3, 7, 6] with a sum difference of 20 - 16 = 4, which is even.
[10, 10, 3], [7, 6] with a sum difference of 23 - 13 = 10, which is even.
[10, 10, 3, 7], [6] with a sum difference of 30 - 6 = 24, which is even.

- Example 2:
    - Input: nums = [1,2,2]
    - Output: 0
    - Explanation:
No partition results in an even sum difference.

- Example 3:
    - Input: nums = [2,4,6,8]
    - Output: 3
    - Explanation:
All partitions result in an even sum difference.

 

- Constraints:
    - 2 <= n == nums.length <= 100
    - 1 <= nums[i] <= 100

In [ ]:
class Solution:
    def countPartitions(self, nums: List[int]) -> int:
        total = sum(nums)
        # base case
        if total % 2 != 0:
            return 0
        # as long as the sum is even, then the total partition is always n - 1
        return len(nums) - 1

## 455. Count Partitions With Max-Min Difference at Most K

- You are given an integer array nums and an integer k. Your task is to partition nums into one or more non-empty contiguous segments such that in each segment, the difference between its maximum and minimum elements is at most k.

- Return the total number of ways to partition nums under this condition.

- Since the answer may be too large, return it modulo 10**9 + 7.

 

- Example 1:
    - Input: nums = [9,4,1,3,7], k = 4
    - Output: 6
    - Explanation:
There are 6 valid partitions where the difference between the maximum and minimum elements in each segment is at most k = 4:
[[9], [4], [1], [3], [7]]
[[9], [4], [1], [3, 7]]
[[9], [4], [1, 3], [7]]
[[9], [4, 1], [3], [7]]
[[9], [4, 1], [3, 7]]
[[9], [4, 1, 3], [7]]

- Example 2:
    - Input: nums = [3,3,4], k = 0
    - Output: 2
    - Explanation:
There are 2 valid partitions that satisfy the given conditions:
[[3], [3], [4]]
[[3, 3], [4]]
 

- Constraints:
    - 2 <= nums.length <= 5 * 104
    - 1 <= nums[i] <= 109
    - 0 <= k <= 109

In [ ]:
# dynamic programming and sliding window with SortedList
from collections import deque
from sortedcontainers import SortedList
class Solution:
    def countPartitions(self, nums: List[int], k: int) -> int:
        MOD = 10**9 + 7
        n = len(nums)
        dp = [0] * (n + 1)
        prefix = [0] * (n + 1)
        count = SortedList()

        dp[0] = 1
        prefix[0] = 1

        left = 0
        for right in range(n):
            count.add(nums[right])

            while left <= right and count[-1] - count[0] > k:
                count.remove(nums[left])
                left += 1

            dp[right + 1] = (prefix[right] - (prefix[left - 1]
                             if right > 0 else 0)) % MOD
            prefix[right + 1] = (prefix[right] + dp[right + 1]) % MOD

        return dp[n]

from collections import deque 
# dynamic programming and sliding window and 2 queues
class Solution:
    def countPartitions(self, nums: List[int], k: int) -> int:
        MOD = 10**9 + 7
        n = len(nums)
        max_queue = deque()
        min_queue = deque()
        count = 1
        dp = [count]
        left = 0
        
        for right in range(n):
            while max_queue and nums[right] > max_queue[-1]:
                max_queue.pop()
            while min_queue and nums[right] < min_queue[-1]:
                min_queue.pop()
            
            max_queue.append(nums[right])
            min_queue.append(nums[right])
            
            while max_queue[0] - min_queue[0] > k:
                count -= dp[left]
                if nums[left] == max_queue[0]: 
                    max_queue.popleft()
                if nums[left] == min_queue[0]:
                    min_queue.popleft()
                    
                left += 1
                
            dp.append(count)
            count *= 2
            count %= MOD
        return dp[-1] % MOD

## 456. Count Odd Numbers in an Interval Range

- Given two non-negative integers low and high. Return the count of odd numbers between low and high (inclusive).


- Example 1:
    - Input: low = 3, high = 7
    - Output: 3
    - Explanation: The odd numbers between 3 and 7 are [3,5,7].

- Example 2:
    - Input: low = 8, high = 10
    - Output: 1
    - Explanation: The odd numbers between 8 and 10 are [9].
 

- Constraints:
    - 0 <= low <= high <= 10^9

In [ ]:
# in low-high range, the number of odd and even are equal so: number of odd = (H-L) / 2
# high or low is ODD, the number of odd = ((H-L) / 2 )+ 1
class Solution:
    def countOdds(self, low: int, high: int) -> int:
        if low % 2 == 0 and high % 2 == 0:
            return (high - low) // 2

        if high % 2 == 1 or low % 2 == 1:
            return ((high - low) // 2) + 1

# even quicker solution
class Solution:
    def countOdds(self, low: int, high: int) -> int:
        return ((high+1)//2)-(low//2)

## 457. Count Square Sum Triples

- A square triple (a,b,c) is a triple where a, b, and c are integers and a2 + b2 = c2.

- Given an integer n, return the number of square triples such that 1 <= a, b, c <= n.

- Example 1:
    - Input: n = 5
    - Output: 2
    - Explanation: The square triples are (3,4,5) and (4,3,5).

- Example 2:
    - Input: n = 10
    - Output: 4
    - Explanation: The square triples are (3,4,5), (4,3,5), (6,8,10), and (8,6,10).
 

- Constraints:
    - 1 <= n <= 250

In [ ]:
import math
## standard solution to iterate over each numbers twice and check for the square
# root and count twice for its combinations
class Solution:
    def countTriples(self, n: int) -> int:
        count = 0
        list_n = list(range(1, n + 1))
        for a in range(1, n):
            for b in range(a, n):
                c = math.sqrt((a*a) + (b*b))
                if c in list_n:
                    count += 1
        return count * 2
    
# Another basterd notice that n is <= 250 and listed all possible solutions at each n and just return that
# so I did the same, I took the function above and generate all solutions from 1 - 250, 
# unfortunately, the constraint is wrong, I need to generate from 0 - 250 inclusive
class Solution:
    def countTriples(self, n: int) -> int:
        sol = [0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 4, 4, 4, 6, 6, 8, 8, 10, 10, 10, 12, 12, 12, 12, 12, 16, 18, 18, 18, 20, 22, 22, 22, 22, 24, 26, 26, 28, 28, 30, 32, 34, 34, 34, 34, 36, 36, 36, 36, 36, 40, 42, 44, 46, 46, 48, 48, 48, 50, 50, 52, 54, 54, 54, 54, 62, 62, 62, 64, 64, 66, 66, 66, 68, 70, 74, 74, 74, 76, 76, 78, 78, 80, 80, 80, 88, 88, 90, 90, 92, 94, 96, 96, 96, 96, 98, 98, 100, 100, 100, 104, 106, 108, 108, 110, 112, 114, 114, 114, 116, 118, 120, 120, 122, 122, 124, 126, 128, 128, 130, 132, 132, 134, 136, 136, 142, 142, 142, 142, 142, 150, 150, 150, 150, 150, 152, 154,
               156, 156, 156, 158, 158, 158, 160, 160, 168, 170, 170, 172, 174, 178, 178, 178, 180, 180, 182, 184, 186, 186, 188, 190, 190, 190, 190, 192, 194, 194, 194, 194, 198, 206, 206, 206, 208, 210, 214, 214, 214, 216, 216, 218, 220, 222, 224, 224, 232, 232, 234, 234, 234, 236, 236, 236, 238, 240, 248, 248, 250, 250, 250, 254, 254, 256, 258, 260, 268, 268, 268, 270, 270, 272, 272, 274, 274, 274, 276, 276, 276, 278, 280, 282, 290, 292, 292, 292, 296, 298, 298, 298, 300, 302, 302, 304, 306, 308, 310, 310, 310, 312, 312, 314, 316, 316, 316, 318, 320, 322, 324, 324, 324, 330]
        # n might be larger than the array, so check bounds
        if n < len(sol):
            return sol[n]
        else:
            raise ValueError("n is larger than the precomputed array")

## 458. Count Special Triplets
- You are given an integer array nums.

- A special triplet is defined as a triplet of indices (i, j, k) such that:
    - 0 <= i < j < k < n, where n = nums.length
    - nums[i] == nums[j] * 2
    - nums[k] == nums[j] * 2

- Return the total number of special triplets in the array.

- Since the answer may be large, return it modulo 10^9 + 7.

 

- Example 1:
    - Input: nums = [6,3,6]
    - Output: 1
    - Explanation:
The only special triplet is (i, j, k) = (0, 1, 2), where:
nums[0] = 6, nums[1] = 3, nums[2] = 6
nums[0] = nums[1] * 2 = 3 * 2 = 6
nums[2] = nums[1] * 2 = 3 * 2 = 6

- Example 2:
    - Input: nums = [0,1,0,0]
    - Output: 1
    - Explanation:
The only special triplet is (i, j, k) = (0, 2, 3), where:
nums[0] = 0, nums[2] = 0, nums[3] = 0
nums[0] = nums[2] * 2 = 0 * 2 = 0
nums[3] = nums[2] * 2 = 0 * 2 = 0

- Example 3:
    - Input: nums = [8,4,2,8,4]
    - Output: 2
    - Explanation:
There are exactly two special triplets:
(i, j, k) = (0, 1, 3)
nums[0] = 8, nums[1] = 4, nums[3] = 8
nums[0] = nums[1] * 2 = 4 * 2 = 8
nums[3] = nums[1] * 2 = 4 * 2 = 8
(i, j, k) = (1, 2, 4)
nums[1] = 4, nums[2] = 2, nums[4] = 4
nums[1] = nums[2] * 2 = 2 * 2 = 4
nums[4] = nums[2] * 2 = 2 * 2 = 4
 

- Constraints:
    - 3 <= n == nums.length <= 105
    - 0 <= nums[i] <= 105

In [ ]:
# It is a counting problem.
# The trick is to count the number of numbers that are twice as much as 
# the current number that exist before and after the current number
# Brute force will see n^2 or n^3 without the Counter data structure
# Need to maintain a Counter of before and after and 
# multiple the double before and after to get the current triple, 
# then add that to the running result, of course we need to use the MOD as well
class Solution:
    def specialTriplets(self, nums: List[int]) -> int:
        MOD = 10**9 + 7
        result = 0

        right_counts = Counter(nums)
        left_counts = Counter()
        for j in range(len(nums)):

            right_counts[nums[j]] -= 1

            target = nums[j] * 2
            if target in left_counts and target in right_counts:
                result = (
                    result + (left_counts[target] * right_counts[target])) % MOD
            left_counts[nums[j]] += 1
        return result

## 459. Count the Number of Computer Unlocking Permutations

- You are given an array complexity of length n.

- There are n locked computers in a room with labels from 0 to n - 1, each with its own unique password. The password of the computer i has a complexity complexity[i].

- The password for the computer labeled 0 is already decrypted and serves as the root. All other computers must be unlocked using it or another previously unlocked computer, following this information:
    - You can decrypt the password for the computer i using the password for computer j, where j is any integer less than i with a lower complexity. (i.e. j < i and complexity[j] < complexity[i])
    - To decrypt the password for computer i, you must have already unlocked a computer j such that j < i and complexity[j] < complexity[i].

- Find the number of permutations of [0, 1, 2, ..., (n - 1)] that represent a valid order in which the computers can be unlocked, starting from computer 0 as the only initially unlocked one.

- Since the answer may be large, return it modulo 10^9 + 7.

- Note that the password for the computer with label 0 is decrypted, and not the computer with the first position in the permutation.

 

- Example 1:
    - Input: complexity = [1,2,3]
    - Output: 2
    - Explanation:

The valid permutations are:

[0, 1, 2]
Unlock computer 0 first with root password.
Unlock computer 1 with password of computer 0 since complexity[0] < complexity[1].
Unlock computer 2 with password of computer 1 since complexity[1] < complexity[2].
[0, 2, 1]
Unlock computer 0 first with root password.
Unlock computer 2 with password of computer 0 since complexity[0] < complexity[2].
Unlock computer 1 with password of computer 0 since complexity[0] < complexity[1].
- Example 2:
    - Input: complexity = [3,3,3,4,4,4]
    - Output: 0
    - Explanation:

There are no possible permutations which can unlock all computers.

 

- Constraints:
    - 2 <= complexity.length <= 105
    - 1 <= complexity[i] <= 109

In [ ]:
# Hint 1: Ensure that the element at index 0 has the unique minimum complexity (no other element can match its value).
# Hint 2: Fix index 0 as the first in the unlocking order.
# Hint 3: The remaining indices from 1 to n - 1 can then be arranged arbitrarily, yielding factorial(n - 1) possible orders.
class Solution:
    def countPermutations(self, complexity: List[int]) -> int:
        MOD = 10**9 + 7
        n = len(complexity)
        # first constraint, if any password is less than index 0, then we can't unlock them all
        for i in range(1, n):
            if complexity[i] <= complexity[0]:
                return 0
        
        # simple counting (n - 1)! factorial
        result = 1
        for i in range(2, n):
            result = (result * i) % MOD
        return result

## 460.

## 461.

## 462.

## 463.

## 464.

## 465.

## 467.

## 468.

## 469.

## 470.

## 471.

## 472.

## 473.

## 474.

## 475.

# Questions # 476-500

## 476.

## 477.

## 478.

## 479.

## 480.

## 481.

## 482.

## 483.

## 484.

## 485.

## 486.

## 487.

## 488.

## 489.

## 490.

## 491.

## 492.

## 493.

## 494.

## 495.

## 496.

## 497.

## 498.

## 499.

## 500.

# Questions # 501-525

## 501.

## 502.

## 503.

## 504.

## 505.

## 506.

## 507.

## 508.

## 509.

## 510.

## 511.

## 512.

## 513.

## 514.

## 515.

## 516.

## 517.

## 518.

## 519.

## 520.

## 521.

## 512.

## 513.

## 514.

## 515.

## 516.

## 517.

## 518.

## 519.

## 520.

## 521.

## 522.

## 523.

## 524.

## 525.

# Questions # 526-550

## 526.

## 527.

## 528.

## 529.

## 530.

## 531.

## 532.

## 533.

## 534.

## 535.

## 536.

## 537.

## 538.

## 539.

## 540.

## 541.

## 542.

## 543.

## 544.

## 545.

## 546.

## 547.

## 548.

## 549.

## 550.

# Questions # 551-575

## 551.

## 552.

## 553.

## 554.

## 555.

## 556.

## 557.

## 558.

## 559.

## 560.

## 561.

## 562.

## 563.

## 564.

## 565.

## 566.

## 567.

## 568.

## 569.

## 570.

## 571.

## 572.

## 573.

## 574.

## 575.

# Questions # 576-600

## 576.

## 577.

## 578.

## 579.

## 580.

## 581.

## 582.

## 583.

## 584.

## 585.

## 586.

## 587.

## 588.

## 589.

## 590.

## 591.

## 592.

## 593.

## 594.

## 595.

## 596.

## 597.

## 598.

## 599.

## 600.