# Practice 3
- More LeetCode practice

# Questions # 401-425

In [ ]:
# all imports here
from typing import List

## 401. Unique Length-3 Palindromic Subsequences
- Daily problem
- Given a string s, return the number of unique palindromes of length three that are a subsequence of s.

- Note that even if there are multiple ways to obtain the same subsequence, it is still only counted once.

- A palindrome is a string that reads the same forwards and backwards.

- A subsequence of a string is a new string generated from the original string with some characters (can be none) deleted without changing the relative order of the remaining characters.

    - For example, "ace" is a subsequence of "abcde".
 

- Example 1:

    - Input: s = "aabca"
    - Output: 3
    - Explanation: The 3 palindromic subsequences of length 3 are:
- "aba" (subsequence of "aabca")
- "aaa" (subsequence of "aabca")
- "aca" (subsequence of "aabca")

- Example 2:

    - Input: s = "adc"
    - Output: 0
    - Explanation: There are no palindromic subsequences of length 3 in "adc".

- Example 3:

    - Input: s = "bbcbaba"
    - Output: 4
    - Explanation: The 4 palindromic subsequences of length 3 are:
- "bbb" (subsequence of "bbcbaba")
- "bcb" (subsequence of "bbcbaba")
- "bab" (subsequence of "bbcbaba")
- "aba" (subsequence of "bbcbaba")
 

- Constraints:

    - 3 <= s.length <= 105
    - s consists of only lowercase English letters.

In [ ]:
class Solution:
    def countPalindromicSubsequence(self, s: str) -> int:
        result = 0

        for code in range(26):
            char = chr(ord('a') + code)

            first = -1
            last = -1
            for i in range(len(s)):
                if s[i] == char:
                    if first == -1:
                        first = i 
                    last = i 
            if first == -1 or first == last:
                continue 
                
            unique = set()
            for i in range(first + 1, last):
                unique.add(s[i])

            result += len(unique)
        
        return result

# faster version
class Solution:
    def countPalindromicSubsequence(self, s: str) -> int:   
        if len(s) <= 2:
            return 0
        
        characters = set(s)
        result = 0
        for ch in characters:
            first = s.find(ch)
            last = s.rfind(ch)

            if first != last:
                result += len(set(s[first + 1:last]))

        return result

## 402. Find Minimum Operations to Make All Elements Divisible by Three

- You are given an integer array nums. In one operation, you can add or subtract 1 from any element of nums.

- Return the minimum number of operations to make all elements of nums divisible by 3.

 

- Example 1:

    - Input: nums = [1,2,3,4]
    - Output: 3
    - Explanation:
All array elements can be made divisible by 3 using 3 operations:
Subtract 1 from 1.
Add 1 to 2.
Subtract 1 from 4.

- Example 2:
    - Input: nums = [3,6,9]
    - Output: 0

 

- Constraints:
    - 1 <= nums.length <= 50
    - 1 <= nums[i] <= 50

In [ ]:
class Solution:
    def minimumOperations(self, nums: List[int]) -> int:
        count = 0
        for num in nums:
            if num % 3 != 0:
                count += 1
        return count

# it is literally the same code, but 1 liner somehow is faster, bs
class Solution:
    def minimumOperations(self, nums: List[int]) -> int:
        return sum([1 if num % 3 != 0 else 0 for num in nums])

# SQL problems

## 403. Employee Bonus


Table: Employee

| Column Name | Type    |
| ------------ | ------- |
| empId       | int     |
| name        | varchar |
| supervisor  | int     |
| salary      | int     |

empId is the column with unique values for this table.
Each row of this table indicates the name and the ID of an employee in addition to their salary and the id of their manager.
 

Table: Bonus

| Column Name | Type |
| ------------ | ---- |
| empId       | int  |
| bonus       | int  |

empId is the column of unique values for this table.
empId is a foreign key (reference column) to empId from the Employee table.
Each row of this table contains the id of an employee and their respective bonus.
 

- Write a solution to report the name and bonus amount of each employee with a bonus less than 1000.

- Return the result table in any order.

- The result format is in the following example.

 

- Example 1:
Input: 
Employee table:
| empId | name   | supervisor | salary |
| ----- | ------ | ----------- | ------ |
| 3     | Brad   | null       | 4000   |
| 1     | John   | 3          | 1000   |
| 2     | Dan    | 3          | 2000   |
| 4     | Thomas | 3          | 4000   |

Bonus table:

| empId | bonus |
| ------ | ----- |
| 2     | 500   |
| 4     | 2000  |

Output: 
| name | bonus |
| ---- | ----- |
| Brad | null  |
| John | null  |
| Dan  | 500   |

In [ ]:
%%sql
SELECT e.name, b.bonus
FROM Employee as e
LEFT JOIN BONUS as b ON e.empId = b.empId
WHERE b.bonus < 1000 OR b.bonus IS NULL;

## 404. Find Customer Referee

- Table: Customer

| Column Name | Type    |
| ----------- | ------- |
| id          | int     |
| name        | varchar |
| referee_id  | int     |

- In SQL, id is the primary key column for this table.
Each row of this table indicates the id of a customer, their name, and the id of the customer who referred them.
 

- Find the names of the customer that are either:

1. referred by any customer with id != 2.
2. not referred by any customer.

- Return the result table in any order.

- The result format is in the following example.

 

- Example 1:

 - Input: 
Customer table:

| id | name | referee_id |
| --- | ---- | ---------- |
| 1  | Will | null       |
| 2  | Jane | null       |
| 3  | Alex | 2          |
| 4  | Bill | null       |
| 5  | Zack | 1          |
| 6  | Mark | 2          |

 - Output: 
 
| name |
| ----- |
| Will |
| Jane |
| Bill |
| Zack |

In [ ]:
%%sql
SELECT name
FROM Customer
WHERE referee_id != 2 OR referee_id IS NULL;

## 405. Customer Placing the Largest Number of Orders

- Table: Orders

| Column Name     | Type     |
| --------------- | -------- |
| order_number    | int      |
| customer_number | int      |

order_number is the primary key (column with unique values) for this table.
This table contains information about the order ID and the customer ID.
 

- Write a solution to find the customer_number for the customer who has placed the largest number of orders.

- The test cases are generated so that exactly one customer will have placed more orders than any other customer.

- The result format is in the following example.

 

- Example 1:

Input: 
Orders table:

| order_number | customer_number |
| ------------ | --------------- |
| 1            | 1               |
| 2            | 2               |
| 3            | 3               |
| 4            | 3               |

- Output: 

| customer_number |
| --------------- |
| 3               |

- Explanation: 
The customer with number 3 has two orders, which is greater than either customer 1 or 2 because each of them only has one order. 
So the result is customer_number 3.

In [ ]:
%%sql
SELECT customer_number
FROM Orders
GROUP BY customer_number
ORDER BY COUNT(order_number) DESC
LIMIT 1;

## 406. Big Countries

- Table: World

| Column Name | Type    |
| ----------- | -------- |
| name        | varchar |
| continent   | varchar |
| area        | int     |
| population  | int     |
| gdp         | bigint  |

name is the primary key (column with unique values) for this table.
Each row of this table gives information about the name of a country, the continent to which it belongs, its area, the population, and its GDP value.
 

- A country is big if:

    - t has an area of at least three million (i.e., 3000000 km2), or
    - t has a population of at least twenty-five million (i.e., 25000000).

- Write a solution to find the name, population, and area of the big countries.

- Return the result table in any order.

- The result format is in the following example.

 

- Example 1:

    - Input: 
World table:

| name        | continent | area    | population | gdp          |
| ----------- | --------- | ------- | ----------- | ------------ |
| Afghanistan | Asia      | 652230  | 25500100   | 20343000000  |
| Albania     | Europe    | 28748   | 2831741    | 12960000000  |
| Algeria     | Africa    | 2381741 | 37100000   | 188681000000 |
| Andorra     | Europe    | 468     | 78115      | 3712000000   |
| Angola      | Africa    | 1246700 | 20609294   | 100990000000 |

    - Output: 
| name        | population | area    |
| ----------- | ----------- | ------- |
| Afghanistan | 25500100   | 652230  |
| Algeria     | 37100000   | 2381741 |

In [ ]:
%%sql
SELECT name, population, area
FROM World
WHERE population >= 25000000 OR area >= 3000000;

## 407. Classes With at Least 5 Students

- Table: Courses

| Column Name | Type    |
| ------------ | ------- |
| student     | varchar |
| class       | varchar |

(student, class) is the primary key (combination of columns with unique values) for this table.
Each row of this table indicates the name of a student and the class in which they are enrolled.
 

- Write a solution to find all the classes that have at least five students.

- Return the result table in any order.

- The result format is in the following example.

 

- Example 1:

Input: 
Courses table:

| student | class    |
| --------- | ---------- |
| A       | Math     |
| B       | English  |
| C       | Math     |
| D       | Biology  |
| E       | Math     |
| F       | Computer |
| G       | Math     |
| H       | Math     |
| I       | Math     |

Output: 

| class   |
| -------- |
| Math    |

- Explanation: 
    - Math has 6 students, so we include it.
    - English has 1 student, so we do not include it.
    - Biology has 1 student, so we do not include it.
    - Computer has 1 student, so we do not include it.

In [ ]:
%%sql
SELECT class
FROM Courses
GROUP BY class
HAVING COUNT(student) >= 5;

## 408. Sales Person

- Table: SalesPerson

| Column Name     | Type    |
| --------------- | ------- |
| sales_id        | int     |
| name            | varchar |
| salary          | int     |
| commission_rate | int     |
| hire_date       | date    |

sales_id is the primary key (column with unique values) for this table.
Each row of this table indicates the name and the ID of a salesperson alongside their salary, commission rate, and hire date.
 

- Table: Company

| Column Name | Type    |
| ------------- | ------- |
| com_id      | int     |
| name        | varchar |
| city        | varchar |

com_id is the primary key (column with unique values) for this table.
Each row of this table indicates the name and the ID of a company and the city in which the company is located.
 

- Table: Orders

| Column Name | Type |
| ------------ | ---- |
| order_id    | int  |
| order_date  | date |
| com_id      | int  |
| sales_id    | int  |
| amount      | int  |

order_id is the primary key (column with unique values) for this table.
com_id is a foreign key (reference column) to com_id from the Company table.
sales_id is a foreign key (reference column) to sales_id from the SalesPerson table.
Each row of this table contains information about one order. This includes the ID of the company, the ID of the salesperson, the date of the order, and the amount paid.
 

- Write a solution to find the names of all the salespersons who did not have any orders related to the company with the name "RED".

- Return the result table in any order.

- The result format is in the following example.

 

- Example 1:

Input: 
SalesPerson table:

| sales_id | name | salary | commission_rate | hire_date  |
| ---------- | ----- | ------- | --------------- | ----------- |
| 1        | John | 100000 | 6               | 4/1/2006   |
| 2        | Amy  | 12000  | 5               | 5/1/2010   |
| 3        | Mark | 65000  | 12              | 12/25/2008 |
| 4        | Pam  | 25000  | 25              | 1/1/2005   |
| 5        | Alex | 5000   | 10              | 2/3/2007   |

Company table:

| com_id | name   | city     |
| ------ | -------- | -------- |
| 1      | RED    | Boston   |
| 2      | ORANGE | New York |
| 3      | YELLOW | Boston   |
| 4      | GREEN  | Austin   |

Orders table:

| order_id | order_date | com_id | sales_id | amount |
| --------- | ----------- | ------- | --------- | ------ |
| 1        | 1/1/2014   | 3      | 4        | 10000  |
| 2        | 2/1/2014   | 4      | 5        | 5000   |
| 3        | 3/1/2014   | 1      | 1        | 50000  |
| 4        | 4/1/2014   | 1      | 4        | 25000  |

Output: 

| name |
| ------ |
| Amy  |
| Mark |
| Alex |

- Explanation: 

    - According to orders 3 and 4 in the Orders table, it is easy to tell that only salesperson John and Pam have sales to company RED, so we report all the other names in the table salesperson.

In [ ]:
%%sql
SELECT s.name
FROM SalesPerson AS s
WHERE s.sales_id NOT IN (
    SELECT o.sales_id
    FROM Orders AS o
    JOIN Company AS C ON o.com_id = c.com_id
    WHERE c.name = 'RED'
);

## 409. Triangle Judgement

- Table: Triangle

| Column Name | Type |
| ------------ | ---- |
| x           | int  |
| y           | int  |
| z           | int  |

In SQL, (x, y, z) is the primary key column for this table.
Each row of this table contains the lengths of three line segments.
 

- Report for every three line segments whether they can form a triangle.

- Return the result table in any order.

- The result format is in the following example.

 

- Example 1:

Input: 
Triangle table:

| x  | y  | z  |
| --- | --- | -- |
| 13 | 15 | 30 |
| 10 | 20 | 15 |

Output: 

| x  | y  | z  | triangle |
| -- | -- | -- | --------- |
| 13 | 15 | 30 | No       |
| 10 | 20 | 15 | Yes      |

In [ ]:
%%sql
SELECT x, y, z,
CASE
    WHEN x + y > z AND x + z > y AND y + z > x THEN 'Yes'
    ELSE 'No'
END AS triangle
FROM Triangle;

## 410. Biggest Single Number

- Table: MyNumbers

| Column Name | Type |
| ------------ | ---- |
| num         | int  |

This table may contain duplicates (In other words, there is no primary key for this table in SQL).
Each row of this table contains an integer.

- A single number is a number that appeared only once in the MyNumbers table.

- Find the largest single number. If there is no single number, report null.

- The result format is in the following example.

- Example 1:

- Input: 
- MyNumbers table:

| num |
| ----- |
| 8   |
| 8   |
| 3   |
| 3   |
| 1   |
| 4   |
| 5   |
| 6   |

Output: 

| num |
| --- |
| 6   |

- Explanation: The single numbers are 1, 4, 5, and 6.
Since 6 is the largest single number, we return it.

-Example 2:
- Input: 
- MyNumbers table:

| num |
| --- |
| 8   |
| 8   |
| 7   |
| 7   |
| 3   |
| 3   |
| 3   |

Output: 

| num  |
| ---- |
| null |

Explanation: There are no single numbers in the input table so we return null.

In [ ]:
%%sql
SELECT MAX(num) as num
FROM
(SELECT num
FROM MyNumbers
GROUP BY num
HAVING COUNT(num) = 1);

## 411. Not Boring Movies

- Table: Cinema

| Column Name    | Type     |
| --------------- | -------- |
| id             | int      |
| movie          | varchar  |
| description    | varchar  |
| rating         | float    |

id is the primary key (column with unique values) for this table.
Each row contains information about the name of a movie, its genre, and its rating.
rating is a 2 decimal places float in the range [0, 10]
 

- Write a solution to report the movies with an odd-numbered ID and a description that is not "boring".

- Return the result table ordered by rating in descending order.

- The result format is in the following example.

 

- Example 1:

    - Input: 
    - Cinema table:

| id | movie      | description | rating |
| --- | ---------- | ------------ | ------ |
| 1  | War        | great 3D    | 8.9    |
| 2  | Science    | fiction     | 8.5    |
| 3  | irish      | boring      | 6.2    |
| 4  | Ice song   | Fantacy     | 8.6    |
| 5  | House card | Interesting | 9.1    |

Output: 

| id | movie      | description | rating |
| -- | ---------- | ----------- | ------ |
| 5  | House card | Interesting | 9.1    |
| 1  | War        | great 3D    | 8.9    |

- Explanation: 
We have three movies with odd-numbered IDs: 1, 3, and 5. The movie with ID = 3 is boring so we do not include it in the answer.

In [ ]:
%%sql
SELECT *
FROM Cinema
WHERE id % 2 = 1 and description != 'boring' # or use <>
ORDER BY rating desc;

## 412. Swap Sex of Employees

Table: Salary

| Column Name | Type     |
| ------------- | -------- |
| id          | int      |
| name        | varchar  |
| sex         | ENUM     |
| salary      | int      |
```
id is the primary key (column with unique values) for this table.
The sex column is ENUM (category) value of type ('m', 'f').
The table contains information about an employee.
```
 

- Write a solution to swap all 'f' and 'm' values (i.e., change all 'f' values to 'm' and vice versa) with a single update statement and no intermediate temporary tables.

- Note that you must write a single update statement, do not write any select statement for this problem.

- The result format is in the following example.

 

- Example 1:
    - Input: 
    - Salary table:

| id | name | sex | salary |
| --- | ---- | ---- | ------ |
| 1  | A    | m   | 2500   |
| 2  | B    | f   | 1500   |
| 3  | C    | m   | 5500   |
| 4  | D    | f   | 500    |

- Output: 

| id | name | sex | salary |
| --- | ------ | ---- | ------ |
| 1  | A    | f   | 2500   |
| 2  | B    | m   | 1500   |
| 3  | C    | f   | 5500   |
| 4  | D    | m   | 500    |

- Explanation: 
    - (1, A) and (3, C) were changed from 'm' to 'f'.
    - (2, B) and (4, D) were changed from 'f' to 'm'.

In [ ]:
%%sql
UPDATE Salary
SET sex = CASE
    WHEN sex = 'f' THEN 'm'
    WHEN sex = 'm' THEN 'f'
    ELSE sex
END;

## 413. Actors and Directors Who Cooperated At Least Three Times

- Table: ActorDirector

| Column Name | Type    |
| ----------- | -------- |
| actor_id    | int     |
| director_id | int     |
| timestamp   | int     |

```
timestamp is the primary key (column with unique values) for this table.
 ```

- Write a solution to find all the pairs (actor_id, director_id) where the actor has cooperated with the director at least three times.

- Return the result table in any order.

- The result format is in the following example.

 

- Example 1:
    - Input: 
    - ActorDirector table:

| actor_id    | director_id | timestamp   |
| ------------- | ------------ | ----------- |
| 1           | 1           | 0           |
| 1           | 1           | 1           |
| 1           | 1           | 2           |
| 1           | 2           | 3           |
| 1           | 2           | 4           |
| 2           | 1           | 5           |
| 2           | 1           | 6           |

- Output: 

| actor_id    | director_id |
| ------------ | ----------- |
| 1           | 1           |

Explanation: The only pair is (1, 1) where they cooperated exactly 3 times.

In [ ]:
%%sql
SELECT actor_id, director_id
FROM ActorDirector
GROUP BY actor_id, director_id
HAVING COUNT(*) >= 3;

## 414. Product Sales Analysis I

- Table: Sales

| Column Name | Type  |
| ------------ | ----- |
| sale_id     | int   |
| product_id  | int   |
| year        | int   |
| quantity    | int   |
| price       | int   |

```
(sale_id, year) is the primary key (combination of columns with unique values) of this table.
product_id is a foreign key (reference column) to Product table.
Each row of this table shows a sale on the product product_id in a certain year.
Note that the price is per unit.
 ```

- Table: Product

| Column Name  | Type    |
| ------------- | ------- |
| product_id   | int     |
| product_name | varchar |

```
product_id is the primary key (column with unique values) of this table.
Each row of this table indicates the product name of each product.
 ```

    - Write a solution to report the product_name, year, and price for each sale_id in the Sales table.

    - Return the resulting table in any order.

    - The result format is in the following example.

 

- Example 1:
    - Input: 
    - Sales table:

| sale_id | product_id | year | quantity | price |
| -------- | ---------- | ---- | -------- | ------- |
| 1       | 100        | 2008 | 10       | 5000  |
| 2       | 100        | 2009 | 12       | 5000  |
| 7       | 200        | 2011 | 15       | 9000  |

- Product table:

| product_id | product_name |
| ---------- | ------------- |
| 100        | Nokia        |
| 200        | Apple        |
| 300        | Samsung      |

- Output: 

| product_name | year  | price |
| ------------ | ------ | ----- |
| Nokia        | 2008  | 5000  |
| Nokia        | 2009  | 5000  |
| Apple        | 2011  | 9000  |

- Explanation: 
    - From sale_id = 1, we can conclude that Nokia was sold for 5000 in the year 2008.
    - From sale_id = 2, we can conclude that Nokia was sold for 5000 in the year 2009.
    - From sale_id = 7, we can conclude that Apple was sold for 9000 in the year 2011.

In [ ]:
%%sql
SELECT p.product_name, s.year, s.price
FROM Sales s
JOIN Product p ON s.product_id = p.product_id;

## 415. Project Employees I

- Table: Project

| Column Name | Type    |
| ----------- | ------- |
| project_id  | int     |
| employee_id | int     |

```
(project_id, employee_id) is the primary key of this table.
employee_id is a foreign key to Employee table.
Each row of this table indicates that the employee with employee_id is working on the project with project_id.
 ```

- Table: Employee

| Column Name      | Type    |
| ----------------- | ------- |
| employee_id      | int     |
| name             | varchar |
| experience_years | int     |

```
employee_id is the primary key of this table. It's guaranteed that experience_years is not NULL.
Each row of this table contains information about one employee.
```

- Write an SQL query that reports the average experience years of all the employees for each project, rounded to 2 digits.

- Return the result table in any order.

- The query result format is in the following example.

 

- Example 1:
    - Input: 
    - Project table:

| project_id  | employee_id |
| ------------ | ----------- |
| 1           | 1           |
| 1           | 2           |
| 1           | 3           |
| 2           | 1           |
| 2           | 4           |

- Employee table:

| employee_id | name   | experience_years |
| ------------| ------- | ---------------- |
| 1           | Khaled | 3                |
| 2           | Ali    | 2                |
| 3           | John   | 1                |
| 4           | Doe    | 2                |

- Output: 

| project_id  | average_years |
| ------------ | ------------- |
| 1           | 2.00          |
| 2           | 2.50          |

- Explanation: The average experience years for the first project is (3 + 2 + 1) / 3 = 2.00 and for the second project is (3 + 2) / 2 = 2.50

In [ ]:
%%sql
SELECT project_id, ROUND(AVG(experience_years), 2) average_years
FROM Employee e
JOIN Project p ON e.employee_id = p.employee_id
GROUP BY project_id;

## 416. Greatest Sum Divisible by Three
- Daily problem

- Given an integer array nums, return the maximum possible sum of elements of the array such that it is divisible by three.

 

- Example 1:
    - Input: nums = [3,6,5,1,8]
    - Output: 18
    - Explanation: Pick numbers 3, 6, 1 and 8 their sum is 18 (maximum sum divisible by 3).

- Example 2:
    - Input: nums = [4]
    - Output: 0
    - Explanation: Since 4 is not divisible by 3, do not pick any number.

- Example 3:
    - Input: nums = [1,2,3,4,4]
    - Output: 12
    - Explanation: Pick numbers 1, 3, 4 and 4 their sum is 12 (maximum sum divisible by 3).
 

- Constraints:
    - 1 <= nums.length <= 4 * 104
    - 1 <= nums[i] <= 104

In [ ]:
# time complexity: 0(n + 3)
# space complexity: 0(3) or constant space
# dynamic approach
class Solution:
    def maxSumDivThree(self, nums: List[int]) -> int:
        dp = [0, -1, -1]

        for num in nums:
            new_dp = list(dp)
            for remainder in range(3):
                if dp[remainder] != -1:
                    current_sum = dp[remainder] + num
                    new_remainder = current_sum % 3
                    new_dp[new_remainder] = max(new_dp[new_remainder], current_sum)
            dp = new_dp

        return dp[0] if dp[0] != -1 else 0
    
# greedy approach
# starts with the max sum and find the 2 smallest remainder 1 and remainder 2
# then depending on the max sum remainder, subtract the smallest of the 1 remainder or two of the 1 remainder to get
# the max sum to be divisible by 3.
class Solution:
    def maxSumDivThree(self, nums: List[int]) -> int:
        total_sum = sum(nums)

        if total_sum % 3 == 0:
            return total_sum

        remainder_1_smallest = 10000
        remainder_1_second_smallest = 10000
        remainder_2_smallest = 10000
        remainder_2_second_smallest = 10000

        for num in nums:
            if num % 3 == 1 and num < remainder_1_second_smallest:
                if num < remainder_1_smallest:
                    remainder_1_second_smallest = remainder_1_smallest
                    remainder_1_smallest = num
                else:
                    remainder_1_second_smallest = num
            if num % 3 == 2 and num < remainder_2_second_smallest:
                if num < remainder_2_smallest:
                    remainder_2_second_smallest = remainder_2_smallest
                    remainder_2_smallest = num
                else:
                    remainder_2_second_smallest = num
        if total_sum % 3 == 1:
            return total_sum - min(remainder_1_smallest, remainder_2_smallest+remainder_2_second_smallest)
        if total_sum % 3 == 2:
            return total_sum - min(remainder_2_smallest, remainder_1_smallest+remainder_1_second_smallest)

## 417. Sales Analysis III

- Table: Product

| Column Name  | Type    |
| ------------- | ------- |
| product_id   | int     |
| product_name | varchar |
| unit_price   | int     |

```
product_id is the primary key (column with unique values) of this table.
Each row of this table indicates the name and the price of each product.
```
- Table: Sales

| Column Name | Type    |
| ------------ | ------- |
| seller_id   | int     |
| product_id  | int     |
| buyer_id    | int     |
| sale_date   | date    |
| quantity    | int     |
| price       | int     |

```
This table can have duplicate rows.
product_id is a foreign key (reference column) to the Product table.
Each row of this table contains some information about one sale.
 ```

- Write a solution to report the products that were only sold in the first quarter of 2019. That is, between 2019-01-01 and 2019-03-31 inclusive.

- Return the result table in any order.

- The result format is in the following example.

 

- Example 1:
    - Input: 
    - Product table:

| product_id | product_name | unit_price |
| ----------- | ------------ | ----------- |
| 1          | S8           | 1000       |
| 2          | G4           | 800        |
| 3          | iPhone       | 1400       |

- Sales table:

| seller_id | product_id | buyer_id | sale_date  | quantity | price |
| --------- | ---------- | -------- | ---------- | --------- | ----- |
| 1         | 1          | 1        | 2019-01-21 | 2        | 2000  |
| 1         | 2          | 2        | 2019-02-17 | 1        | 800   |
| 2         | 2          | 3        | 2019-06-02 | 1        | 800   |
| 3         | 3          | 4        | 2019-05-13 | 2        | 2800  |

- Output: 
 
| product_id  | product_name |
| ----------- | ------------ |
| 1           | S8           |

-Explanation: 
    - The product with id 1 was only sold in the spring of 2019.
    - The product with id 2 was sold in the spring of 2019 but was also sold after the spring of 2019.
    - The product with id 3 was sold after spring 2019.
    - We return only product 1 as it is the product that was only sold in the spring of 2019.

In [ ]:
%%sql
WITH ProductSales AS (
    SELECT
        s.product_id,
        MIN(s.sale_date) AS min_sale_date,
        MAX(s.sale_date) AS max_sale_date
    FROM
        Sales s
    GROUP BY
        s.product_id
)
SELECT
    p.product_id,
    p.product_name
FROM
    Product p
JOIN
    ProductSales ps ON p.product_id = ps.product_id
WHERE
    ps.min_sale_date >= '2019-01-01'
    AND ps.max_sale_date <= '2019-03-31';
    
# group by has a shorter syntax
SELECT s.product_id, product_name
FROM Sales s
LEFT JOIN Product p
ON s.product_id = p.product_id
GROUP BY s.product_id
HAVING MIN(sale_date) >= CAST('2019-01-01' AS DATE) AND
       MAX(sale_date) <= CAST('2019-03-31' AS DATE)

## 418. User Activity for the Past 30 Days I

- Table: Activity

| Column Name   | Type    |
| ------------- | ------- | 
| user_id       | int     |
| session_id    | int     |
| activity_date | date    |
| activity_type | enum    |

```
This table may have duplicate rows.
The activity_type column is an ENUM (category) of type ('open_session', 'end_session', 'scroll_down', 'send_message').
The table shows the user activities for a social media website. 
Note that each session belongs to exactly one user.
 ```

- Write a solution to find the daily active user count for a period of 30 days ending 2019-07-27 inclusively. A user was active on someday if they made at least one activity on that day.

- Return the result table in any order.

- The result format is in the following example.

- Note: Any activity from ('open_session', 'end_session', 'scroll_down', 'send_message') will be considered valid activity for a user to be considered active on a day.

 

- Example 1:
- Input: 
- Activity table:

| user_id | session_id | activity_date | activity_type |
| ------- | ----------- | ------------- | ------------- |
| 1       | 1          | 2019-07-20    | open_session  |
| 1       | 1          | 2019-07-20    | scroll_down   |
| 1       | 1          | 2019-07-20    | end_session   |
| 2       | 4          | 2019-07-20    | open_session  |
| 2       | 4          | 2019-07-21    | send_message  |
| 2       | 4          | 2019-07-21    | end_session   |
| 3       | 2          | 2019-07-21    | open_session  |
| 3       | 2          | 2019-07-21    | send_message  |
| 3       | 2          | 2019-07-21    | end_session   |
| 4       | 3          | 2019-06-25    | open_session  |
| 4       | 3          | 2019-06-25    | end_session   |

- Output: 

| day        | active_users |
| ----------- | ------------ |
| 2019-07-20 | 2            |
| 2019-07-21 | 2            |

- Explanation: Note that we do not care about days with zero active users.

In [ ]:
%%sql
# mysql
SELECT activity_date AS day,COUNT(DISTINCT user_id) AS active_users
FROM Activity
WHERE activity_date BETWEEN SUBDATE('2019-07-27', INTERVAL 29 DAY) AND '2019-07-27'
GROUP BY activity_date;

#postgres
SELECT  activity_date AS day, COUNT(DISTINCT user_id) AS active_users
FROM  Activity
WHERE activity_date BETWEEN ('2019-07-27'::date - INTERVAL '29 days') AND '2019-07-27'::date
GROUP BY activity_date;

## 419. Article Views I

- Table: Views

| Column Name   | Type    |
| ------------- | -------- |
| article_id    | int     |
| author_id     | int     |
| viewer_id     | int     |
| view_date     | date    |

```
There is no primary key (column with unique values) for this table, the table may have duplicate rows.
Each row of this table indicates that some viewer viewed an article (written by some author) on some date. 
Note that equal author_id and viewer_id indicate the same person.
``` 

- Write a solution to find all the authors that viewed at least one of their own articles.

- Return the result table sorted by id in ascending order.

- The result format is in the following example.

 

- Example 1:
    - Input: 
    - Views table:

| article_id | author_id | viewer_id | view_date  |
| ---------- | --------- | --------- | ---------- |
| 1          | 3         | 5         | 2019-08-01 |
| 1          | 3         | 6         | 2019-08-02 |
| 2          | 7         | 7         | 2019-08-01 |
| 2          | 7         | 6         | 2019-08-02 |
| 4          | 7         | 1         | 2019-07-22 |
| 3          | 4         | 4         | 2019-07-21 |
| 3          | 4         | 4         | 2019-07-21 |

Output: 

| id   |
| ----- |
| 4    |
| 7    |

In [ ]:
%%sql
SELECT DISTINCT author_id id
FROM Views
WHERE author_id = viewer_id
ORDER BY id ASC;

## 420. Reformat Department Table

- Table: Department

| Column Name | Type    |
| ------------ | ------- |
| id          | int     |
| revenue     | int     |
| month       | varchar |

```
In SQL,(id, month) is the primary key of this table.
The table has information about the revenue of each department per month.
The month has values in ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"].
 ```

- Reformat the table such that there is a department id column and a revenue column for each month.

- Return the result table in any order.

- The result format is in the following example.

 

- Example 1:
    - Input: 
    - Department table:

| id   | revenue | month |
| ------ | ------- | ----- |
| 1    | 8000    | Jan   |
| 2    | 9000    | Jan   |
| 3    | 10000   | Feb   |
| 1    | 7000    | Feb   |
| 1    | 6000    | Mar   |

- Output: 

| id   | Jan_Revenue | Feb_Revenue | Mar_Revenue | ... | Dec_Revenue |
| ---- | ----------- | ----------- | ----------- | --- | ------------ |
| 1    | 8000        | 7000        | 6000        | ... | null        |
| 2    | 9000        | null        | null        | ... | null        |
| 3    | null        | 10000       | null        | ... | null        |

- Explanation: The revenue from Apr to Dec is null.
- Note that the result table has 13 columns (1 for the department id + 12 for the months).

In [ ]:
%%sql
# mysql
SELECT id,
Jan Jav_Revenue,
Feb Feb_Revenue, 
Mar Mar_Revenue, 
Apr Apr_Revenue, 
May May_Revenue, 
Jun Jun_Revenue, 
Jul Jul_Revenue, 
Aug Aug_Revenue, 
Sep Sep_Revenue, 
Oct Oct_Revenue, 
Nov Nov_Revenue, 
Dec Dec_Revenue
FROM Department
PIVOT (
    SUM(revenue),
    FOR month IN ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
) AS PivotTable;

# postgres does not have a pivot function
SELECT
    id,
    SUM(CASE WHEN month = 'Jan' THEN revenue ELSE NULL END) [Jan_Revenue],
    SUM(CASE WHEN month = 'Feb' THEN revenue ELSE NULL END) [Feb_Revenue],
    SUM(CASE WHEN month = 'Mar' THEN revenue ELSE NULL END) [Mar_Revenue],
    SUM(CASE WHEN month = 'Apr' THEN revenue ELSE NULL END) [Apr_Revenue],
    SUM(CASE WHEN month = 'May' THEN revenue ELSE NULL END) [May_Revenue],
    SUM(CASE WHEN month = 'Jun' THEN revenue ELSE NULL END) [Jun_Revenue],
    SUM(CASE WHEN month = 'Jul' THEN revenue ELSE NULL END) [Jul_Revenue],
    SUM(CASE WHEN month = 'Aug' THEN revenue ELSE NULL END) [Aug_Revenue],
    SUM(CASE WHEN month = 'Sep' THEN revenue ELSE NULL END) [Sep_Revenue],
    SUM(CASE WHEN month = 'Oct' THEN revenue ELSE NULL END) [Oct_Revenue],
    SUM(CASE WHEN month = 'Nov' THEN revenue ELSE NULL END) [Nov_Revenue],
    SUM(CASE WHEN month = 'Dec' THEN revenue ELSE NULL END) [Dec_Revenue]
FROM Department
GROUP BY id

## 421. Queries Quality and Percentage

- Table: Queries

| Column Name | Type    |
| ----------- | ------- |
| query_name  | varchar |
| result      | varchar |
| position    | int     |
| rating      | int     |
```
This table may have duplicate rows.
This table contains information collected from some queries on a database.
The position column has a value from 1 to 500.
The rating column has a value from 1 to 5. Query with rating less than 3 is a poor query.
```

- We define query quality as:
    - The average of the ratio between query rating and its position.

- We also define poor query percentage as:
    - The percentage of all queries with rating less than 3.

- Write a solution to find each query_name, the quality and poor_query_percentage.

- Both quality and poor_query_percentage should be rounded to 2 decimal places.

- Return the result table in any order.

- The result format is in the following example.

 

- Example 1:
    - Input: 
    - Queries table:

| query_name | result            | position | rating |
| ----------- | ----------------- | -------- | ------ |
| Dog        | Golden Retriever  | 1        | 5      |
| Dog        | German Shepherd   | 2        | 5      |
| Dog        | Mule              | 200      | 1      |
| Cat        | Shirazi           | 5        | 2      |
| Cat        | Siamese           | 3        | 3      |
| Cat        | Sphynx            | 7        | 4      |

- Output: 

| query_name | quality | poor_query_percentage |
| ---------- | --------- | --------------------- |
| Dog        | 2.50    | 33.33                 |
| Cat        | 0.66    | 33.33                 |

- Explanation: 
```
Dog queries quality is ((5 / 1) + (5 / 2) + (1 / 200)) / 3 = 2.50
Dog queries poor_ query_percentage is (1 / 3) * 100 = 33.33

Cat queries quality equals ((2 / 5) + (3 / 3) + (4 / 7)) / 3 = 0.66
Cat queries poor_ query_percentage is (1 / 3) * 100 = 33.33
```

In [ ]:
%%sql
SELECT query_name,
    ROUND(AVG(CAST(rating AS DECIMAL) / position), 2) AS quality,
    ROUND(SUM(CASE WHEN rating < 3 THEN 1 ELSE 0 END) * 100.0 / COUNT(*), 2) AS poor_query_percentage
FROM Queries
GROUP BY query_name;

## 422. Average Selling Price

- Table: Prices

| Column Name   | Type    |
| ------------- | ------- |
| product_id    | int     |
| start_date    | date    |
| end_date      | date    |
| price         | int     |

```
(product_id, start_date, end_date) is the primary key (combination of columns with unique values) for this table.
Each row of this table indicates the price of the product_id in the period from start_date to end_date.
For each product_id there will be no two overlapping periods. That means there will be no two intersecting periods for the same product_id.
 ```

- Table: UnitsSold

| Column Name   | Type    |
| -------------- | ------- |
| product_id    | int     |
| purchase_date | date    |
| units         | int     |
```
This table may contain duplicate rows.
Each row of this table indicates the date, units, and product_id of each product sold. 
 ```

- Write a solution to find the average selling price for each product. average_price should be rounded to 2 decimal places. If a product does not have any sold units, its average selling price is assumed to be 0.

- Return the result table in any order.

- The result format is in the following example.

 

- Example 1:
    - Input: 
    - Prices table:

| product_id | start_date | end_date   | price  |
| ---------- | ---------- | ---------- | ------ | 
| 1          | 2019-02-17 | 2019-02-28 | 5      |
| 1          | 2019-03-01 | 2019-03-22 | 20     |
| 2          | 2019-02-01 | 2019-02-20 | 15     |
| 2          | 2019-02-21 | 2019-03-31 | 30     |

UnitsSold table:

| product_id | purchase_date | units |
| ---------- | ------------- | ----- |
| 1          | 2019-02-25    | 100   |
| 1          | 2019-03-01    | 15    |
| 2          | 2019-02-10    | 200   |
| 2          | 2019-03-22    | 30    |

- Output: 

| product_id | average_price |
| ---------- | ------------- |
| 1          | 6.96          |
| 2          | 16.96         |

- Explanation: 
```
Average selling price = Total Price of Product / Number of products sold.
Average selling price for product 1 = ((100 * 5) + (15 * 20)) / 115 = 6.96
Average selling price for product 2 = ((200 * 15) + (30 * 30)) / 230 = 16.96
```

In [ ]:
%%sql
# mysql
SELECT p.product_id,
    IFNULL(ROUND(SUM(p.price * u.units) / SUM(u.units), 2), 0) AS average_price
FROM Prices p
LEFT JOIN UnitsSold u ON p.product_id = u.product_id
               AND u.purchase_date BETWEEN p.start_date AND p.end_date
GROUP BY p.product_id;

# postgres
SELECT p.product_id,
    ROUND(COALESCE(SUM(p.price * u.units)::numeric / SUM(u.units), 0), 2) AS average_price
FROM Prices p
LEFT JOIN UnitsSold u 
    ON p.product_id = u.product_id
    AND u.purchase_date BETWEEN p.start_date AND p.end_date
GROUP BY p.product_id;

## 423. Students and Examinations

- Table: Students

| Column Name   | Type    |
| ------------- | -------- |
| student_id    | int     |
| student_name  | varchar |
```
student_id is the primary key (column with unique values) for this table.
Each row of this table contains the ID and the name of one student in the school.
 ```

- Table: Subjects

| Column Name  | Type    |
| ------------ | ------- |
| subject_name | varchar |
```
subject_name is the primary key (column with unique values) for this table.
Each row of this table contains the name of one subject in the school.
 ```

- Table: Examinations

| Column Name  | Type    |
| ------------ | ------- |
| student_id   | int     |
| subject_name | varchar |
```
There is no primary key (column with unique values) for this table. It may contain duplicates.
Each student from the Students table takes every course from the Subjects table.
Each row of this table indicates that a student with ID student_id attended the exam of subject_name.
 ```

- Write a solution to find the number of times each student attended each exam.

- Return the result table ordered by student_id and subject_name.

- The result format is in the following example.

 

- Example 1:
    - Input: 
    - Students table:

| student_id | student_name |
| ----------- | ------------ |
| 1          | Alice        |
| 2          | Bob          |
| 13         | John         |
| 6          | Alex         |

- Subjects table:

| subject_name |
| ------------ |
| Math         |
| Physics      |
| Programming  |

- Examinations table:

| student_id | subject_name |
| ----------- | ------------ |
| 1          | Math         |
| 1          | Physics      |
| 1          | Programming  |
| 2          | Programming  |
| 1          | Physics      |
| 1          | Math         |
| 13         | Math         |
| 13         | Programming  |
| 13         | Physics      |
| 2          | Math         |
| 1          | Math         |

- Output: 

| student_id | student_name | subject_name | attended_exams |
| ---------- | ------------ | ------------ | -------------- |
| 1          | Alice        | Math         | 3              |
| 1          | Alice        | Physics      | 2              |
| 1          | Alice        | Programming  | 1              |
| 2          | Bob          | Math         | 1              |
| 2          | Bob          | Physics      | 0              |
| 2          | Bob          | Programming  | 1              |
| 6          | Alex         | Math         | 0              |
| 6          | Alex         | Physics      | 0              |
| 6          | Alex         | Programming  | 0              |
| 13         | John         | Math         | 1              |
| 13         | John         | Physics      | 1              |
| 13         | John         | Programming  | 1              |

- Explanation: 
    - The result table should contain all students and all subjects.
    - Alice attended the Math exam 3 times, the Physics exam 2 times, and the Programming exam 1 time.
    - Bob attended the Math exam 1 time, the Programming exam 1 time, and did not attend the Physics exam.
    - Alex did not attend any exams.
    - John attended the Math exam 1 time, the Physics exam 1 time, and the Programming exam 1 time.

In [ ]:
%%sql
SELECT
    s.student_id,
    s.student_name,
    sub.subject_name,
    COUNT(e.subject_name) AS attended_exams
FROM
    Students AS s
CROSS JOIN
    Subjects AS sub
LEFT JOIN
    Examinations AS e ON s.student_id = e.student_id AND sub.subject_name = e.subject_name
GROUP BY
    s.student_id,
    s.student_name,
    sub.subject_name
ORDER BY
    s.student_id,
    sub.subject_name;

## 424. List the Products Ordered in a Period

- Table: Products

| Column Name      | Type    |
| ---------------- | ------- |
| product_id       | int     |
| product_name     | varchar |
| product_category | varchar |
```
product_id is the primary key (column with unique values) for this table.
This table contains data about the company's products.
 ```

- Table: Orders

| Column Name   | Type    |
| ------------ | ------- |
| product_id    | int     |
| order_date    | date    |
| unit          | int     |
```
This table may have duplicate rows.
product_id is a foreign key (reference column) to the Products table.
unit is the number of products ordered in order_date.
 ```

- Write a solution to get the names of products that have at least 100 units ordered in February 2020 and their amount.

- Return the result table in any order.

- The result format is in the following example.

 

- Example 1:
    - Input: 
    - Products table:

| product_id  | product_name          | product_category |
| ------------ | -------------------- | ---------------- |
| 1           | Leetcode Solutions    | Book             |
| 2           | Jewels of Stringology | Book             |
| 3           | HP                    | Laptop           |
| 4           | Lenovo                | Laptop           |
| 5           | Leetcode Kit          | T-shirt          |

- Orders table:

| product_id   | order_date   | unit     |
| ------------ | ------------- | -------- |
| 1            | 2020-02-05   | 60       |
| 1            | 2020-02-10   | 70       |
| 2            | 2020-01-18   | 30       |
| 2            | 2020-02-11   | 80       |
| 3            | 2020-02-17   | 2        |
| 3            | 2020-02-24   | 3        |
| 4            | 2020-03-01   | 20       |
| 4            | 2020-03-04   | 30       |
| 4            | 2020-03-04   | 60       |
| 5            | 2020-02-25   | 50       |
| 5            | 2020-02-27   | 50       |
| 5            | 2020-03-01   | 50       |

- Output: 

| product_name       | unit    |
| ------------------ | ------- |
| Leetcode Solutions | 130     |
| Leetcode Kit       | 100     |

- Explanation: 
```
Products with product_id = 1 is ordered in February a total of (60 + 70) = 130.
Products with product_id = 2 is ordered in February a total of 80.
Products with product_id = 3 is ordered in February a total of (2 + 3) = 5.
Products with product_id = 4 was not ordered in February 2020.
Products with product_id = 5 is ordered in February a total of (50 + 50) = 100.
```

In [ ]:
%%sql
SELECT
    p.product_name,
    SUM(o.unit) AS unit
FROM
    Products AS p
JOIN
    Orders AS o ON p.product_id = o.product_id
WHERE
    o.order_date BETWEEN '2020-02-01' AND '2020-02-29'
GROUP BY
    p.product_name
HAVING
    SUM(o.unit) >= 100;

## 425. Replace Employee ID With The Unique Identifier

- Table: Employees

| Column Name   | Type    |
| ------------- | ------- |
| id            | int     |
| name          | varchar |
```
id is the primary key (column with unique values) for this table.
Each row of this table contains the id and the name of an employee in a company.
 ```

- Table: EmployeeUNI

| Column Name   | Type    |
| -------------- | ------- |
| id            | int     |
| unique_id     | int     |
```
(id, unique_id) is the primary key (combination of columns with unique values) for this table.
Each row of this table contains the id and the corresponding unique id of an employee in the company.
 ```

- Write a solution to show the unique ID of each user, If a user does not have a unique ID replace just show null.

- Return the result table in any order.

- The result format is in the following example.

 

- Example 1:
    - Input: 
    - Employees table:

| id | name     |
| -- | -------- |
| 1  | Alice    |
| 7  | Bob      |
| 11 | Meir     |
| 90 | Winston  |
| 3  | Jonathan |

- EmployeeUNI table:

| id | unique_id |
| --- | --------- |
| 3  | 1         |
| 11 | 2         |
| 90 | 3         |

- Output: 

| unique_id | name     |
| --------- | -------- |
| null      | Alice    |
| null      | Bob      |
| 2         | Meir     |
| 3         | Winston  |
| 1         | Jonathan |

- Explanation: 
    - Alice and Bob do not have a unique ID, We will show null instead.
    - The unique ID of Meir is 2.
    - The unique ID of Winston is 3.
    - The unique ID of Jonathan is 1.

In [ ]:
%%sql
SELECT eu.unique_id, e.name
FROM Employees AS e
LEFT JOIN EmployeeUNI AS eu ON e.id = eu.id;

# Questions # 426-450

## 426.

## 427.

## 428.

## 429.

## 430.

## 431.

## 432.

## 433.

## 434.

## 435.

## 436.

## 437.

## 438.

## 439.

## 440.

## 441.

## 442.

## 443.

## 444.

## 445.

## 446.

## 447.

## 448.

## 449.

## 450.

# Questions # 451-475

## 451.

## 452.

## 453.

## 454.

## 455.

## 456.

## 457.

## 458.

## 459.

## 460.

## 461.

## 462.

## 463.

## 464.

## 465.

## 467.

## 468.

## 469.

## 470.

## 471.

## 472.

## 473.

## 474.

## 475.

# Questions # 476-500

## 476.

## 477.

## 478.

## 479.

## 480.

## 481.

## 482.

## 483.

## 484.

## 485.

## 486.

## 487.

## 488.

## 489.

## 490.

## 491.

## 492.

## 493.

## 494.

## 495.

## 496.

## 497.

## 498.

## 499.

## 500.

# Questions # 501-525

## 501.

## 502.

## 503.

## 504.

## 505.

## 506.

## 507.

## 508.

## 509.

## 510.

## 511.

## 512.

## 513.

## 514.

## 515.

## 516.

## 517.

## 518.

## 519.

## 520.

## 521.

## 512.

## 513.

## 514.

## 515.

## 516.

## 517.

## 518.

## 519.

## 520.

## 521.

## 522.

## 523.

## 524.

## 525.

# Questions # 526-550

## 526.

## 527.

## 528.

## 529.

## 530.

## 531.

## 532.

## 533.

## 534.

## 535.

## 536.

## 537.

## 538.

## 539.

## 540.

## 541.

## 542.

## 543.

## 544.

## 545.

## 546.

## 547.

## 548.

## 549.

## 550.

# Questions # 551-575

## 551.

## 552.

## 553.

## 554.

## 555.

## 556.

## 557.

## 558.

## 559.

## 560.

## 561.

## 562.

## 563.

## 564.

## 565.

## 566.

## 567.

## 568.

## 569.

## 570.

## 571.

## 572.

## 573.

## 574.

## 575.

# Questions # 576-600

## 576.

## 577.

## 578.

## 579.

## 580.

## 581.

## 582.

## 583.

## 584.

## 585.

## 586.

## 587.

## 588.

## 589.

## 590.

## 591.

## 592.

## 593.

## 594.

## 595.

## 596.

## 597.

## 598.

## 599.

## 600.