## Userful Python build-in Data Structure, Algorithm and Modules

## Build-in function

### abs
- return the absolute value of a number

In [35]:
print(abs(-132))
print(abs(546))

132
546

### aiter
- returns an async iterable
- asynchronous equivalent of the iter()
- use with asyncio

### all
- Check if an iterable is True

### anext
- returns an async iterator
- asynchronous versionf of next

### any

### ascii

### bin

### bool

### breakpoint

### bytearray

### bytes

### callable

### chr

### classmethod

### compile

### complex

### delattr

### dict

### dir

### divmod

### enumerate

### eval

### exec

### filter

### float

### format

### frozenset

### getattr

### globals

### hasattr

### hash

### help

### hex

### id

### input

### int

### isinstance

### issubclass

### iter

### len

### list

### locals

### map

### max

### memoryview

### min

### next

### object

### oct

### open

### ord

### pow

### print

### property

### range

### repr

### reversed

### round

### set

### setattr

### slice

### sorted

### staticmethod

### str

### sum

### super

### tuple

### type

### vars

### zip

## list - array
- In python arrays are called list

### append
- Adds a single element to the end of the list.

### clear
- Removes all elements from the list, making it empty.

### copy
- Returns a shallow copy of the list.

### count
 - Returns the number of elements with the specified value.

### extend
- Adds elements of an iterable to the end of the list.

### index
- Returns the index of the first element with the specified value.

### insert
- Adds an element at the specified position.

### pop
- Removes the element at the specified position.

### remove
- Removes the first item with the specified value.

### reverse
- Reverses the order of the list.

### sort
- Sorts the list.

In [36]:
# All of list usage
# Initial list for examples
fruits = ['apple', 'banana', 'cherry', 'date', 'apple']
print(f"Initial List: {fruits}\n")

# 1. append(element)
fruits.append('elderberry')
print(f"1. append: {fruits}")
# Output: ['apple', 'banana', 'cherry', 'date', 'apple', 'elderberry']

# 2. extend(iterable)
citrus = ['lemon', 'lime']
fruits.extend(citrus)
print(f"2. extend: {fruits}")
# Output: ['apple', 'banana', 'cherry', 'date', 'apple', 'elderberry', 'lemon', 'lime']

# 3. insert(index, element)
fruits.insert(1, 'avocado')
print(f"3. insert: {fruits}")
# Output: ['apple', 'avocado', 'banana', 'cherry', 'date', 'apple', 'elderberry', 'lemon', 'lime']

# 4. remove(value)
# Removes the first occurrence of 'apple'
fruits.remove('apple')
print(f"4. remove: {fruits}")
# Output: ['avocado', 'banana', 'cherry', 'date', 'apple', 'elderberry', 'lemon', 'lime']

# 5. pop(index=-1)
# Pop the last item (default index)
popped_item = fruits.pop()
print(f"5. pop (last item): {popped_item}")
print(f"   List after pop: {fruits}")
# Output: pop (last item): lime
# Output: List after pop: ['avocado', 'banana', 'cherry', 'date', 'apple', 'elderberry', 'lemon']

# Pop a specific index (e.g., index 0: 'avocado')
popped_avocado = fruits.pop(0)
print(f"   Pop index 0: {popped_avocado}")
print(f"   List after pop(0): {fruits}")
# Output: Pop index 0: avocado
# Output: List after pop(0): ['banana', 'cherry', 'date', 'apple', 'elderberry', 'lemon']

# 6. index(value, start, end)
index_of_cherry = fruits.index('cherry')
print(f"6. index('cherry'): {index_of_cherry}")
# Output: index('cherry'): 1

# 7. count(value)
apple_count = fruits.count('apple')
print(f"7. count('apple'): {apple_count}")
# Output: count('apple'): 1

# 8. sort(key=None, reverse=False)
fruits.sort()
print(f"8. sort (ascending): {fruits}")
# Output: ['apple', 'banana', 'cherry', 'date', 'elderberry', 'lemon']

fruits.sort(reverse=True)
print(f"   sort (descending): {fruits}")
# Output: ['lemon', 'elderberry', 'date', 'cherry', 'banana', 'apple']

# 9. reverse()
fruits.reverse()
print(f"9. reverse: {fruits}")
# Output: ['apple', 'banana', 'cherry', 'date', 'elderberry', 'lemon'] (back to original 'sorted ascending' order)

# 10. copy()
fruits_copy = fruits.copy()
fruits_copy.append('mango') # Modify the copy
print(f"10. copy: {fruits_copy} (Copy modified)")
print(f"    Original List remains: {fruits}")
# Output: copy: ['apple', 'banana', 'cherry', 'date', 'elderberry', 'lemon', 'mango']
# Output: Original List remains: ['apple', 'banana', 'cherry', 'date', 'elderberry', 'lemon']

# 11. clear()
fruits.clear()
print(f"11. clear: {fruits}")
# Output: clear: []

Initial List: ['apple', 'banana', 'cherry', 'date', 'apple']

1. append: ['apple', 'banana', 'cherry', 'date', 'apple', 'elderberry']
2. extend: ['apple', 'banana', 'cherry', 'date', 'apple', 'elderberry', 'lemon', 'lime']
3. insert: ['apple', 'avocado', 'banana', 'cherry', 'date', 'apple', 'elderberry', 'lemon', 'lime']
4. remove: ['avocado', 'banana', 'cherry', 'date', 'apple', 'elderberry', 'lemon', 'lime']
5. pop (last item): lime
   List after pop: ['avocado', 'banana', 'cherry', 'date', 'apple', 'elderberry', 'lemon']
   Pop index 0: avocado
   List after pop(0): ['banana', 'cherry', 'date', 'apple', 'elderberry', 'lemon']
6. index('cherry'): 1
7. count('apple'): 1
8. sort (ascending): ['apple', 'banana', 'cherry', 'date', 'elderberry', 'lemon']
   sort (descending): ['lemon', 'elderberry', 'date', 'cherry', 'banana', 'apple']
9. reverse: ['apple', 'banana', 'cherry', 'date', 'elderberry', 'lemon']
10. copy: ['apple', 'banana', 'cherry', 'date', 'elderberry', 'lemon', 'mango'] (Copy modified)
    Original List remains: ['apple', 'banana', 'cherry', 'date', 'elderberry', 'lemon']
11. clear: []

## strings

### capitalize
- capitalize first letter of string

In [3]:
"a really long string".capitalize()

'A really long string'

### casefold
- convert the string to lower
- better than lower for Unicode (foreign language)

In [4]:
"WILL ALL BE LOWERCASE".casefold()

'will all be lowercase'

### center
- Center the text by width and input character
- Padding by both side. If width is less then the string, then nothing happens

In [9]:
"will_center_with_stars".center(50, "*")

'**************will_center_with_stars**************'

### count
- Count the number of occurrences of substring

In [10]:
"how chick many chick are chick are chick there?".count("chick")

4

### encode
- converts a string (a sequence of Unicode characters) into a sequence of bytes, using a specified encoding

In [11]:
# Define a string with a special character
original_string = "Hello, Pythön!"

# Encode the string using UTF-8 (default if no encoding is specified)
encoded_utf8 = original_string.encode('utf-8')

# Encode the string using ASCII, handling errors by replacing them
# 'xmlcharrefreplace' replaces unencodable characters with XML character references
encoded_ascii_replace = original_string.encode(
    'ascii', errors='xmlcharrefreplace')

# Encode the string using ASCII, handling errors by ignoring them
# 'ignore' simply drops unencodable characters
encoded_ascii_ignore = original_string.encode('ascii', errors='ignore')

# Print the original and encoded strings
print(f"Original string: {original_string}")
print(f"Encoded (UTF-8): {encoded_utf8}")
print(f"Encoded (ASCII, xmlcharrefreplace): {encoded_ascii_replace}")
print(f"Encoded (ASCII, ignore): {encoded_ascii_ignore}")

# Demonstrate decoding back to a string
decoded_utf8 = encoded_utf8.decode('utf-8')
print(f"Decoded (UTF-8): {decoded_utf8}")

Original string: Hello, Pythön!
Encoded (UTF-8): b'Hello, Pyth\xc3\xb6n!'
Encoded (ASCII, xmlcharrefreplace): b'Hello, Pyth&#246;n!'
Encoded (ASCII, ignore): b'Hello, Pythn!'
Decoded (UTF-8): Hello, Pythön!

### endswith
- return True if substring is a suffix

In [2]:
"tempting".endswith("ting")

True

### expandtabs
- set the tab size of the string

In [12]:
s = "Name\tAge\tCity"
result_default = s.expandtabs()  # Uses default tabsize of 8
print(f"Default expandtabs: '{result_default}'")

result_custom = s.expandtabs(tabsize=4)  # Uses a custom tabsize of 4
print(f"Custom expandtabs (tabsize=4): '{result_custom}'")

Default expandtabs: 'Name    Age     City'
Custom expandtabs (tabsize=4): 'Name    Age City'

### find
- Returns the lowest index of the first occurrence of substring. Returns -1 if not found.

In [14]:
"find me in this long string".find("me")

5

### format
- formatting using placeholders in the string.

In [15]:
message3 = "My name is {} and I live in {}.".format("Bob", "London")
print(message3)

# Keyword arguments
message4 = "The product is {item} and the price is ${cost:.2f}.".format(
    item="Laptop", cost=1200.50)
print(message4)

My name is Bob and I live in London.
The product is Laptop and the price is $1200.50.

### format_map
- accepts a mapping object (like a dictionary or a dictionary subclass) as its argument

In [16]:
# Create a dictionary with values to be used in the string
data = {
    'name': 'Alice',
    'age': 30,
    'city': 'New York'
}

# Define the string with placeholders corresponding to dictionary keys
template_string = "My name is {name}, I am {age} years old, and I live in {city}."

# Use format_map() to substitute the placeholders with values from the dictionary
formatted_string = template_string.format_map(data)

# Print the result
print(formatted_string)

My name is Alice, I am 30 years old, and I live in New York.

### index
- Similar to find(), but raises a ValueError if substring is not found.

In [21]:
"alex find alex me alex please".index("me")

15

### isalnum
- Returns True if all characters are alphanumeric (letters or numbers).

In [24]:
print("ejis3k3k3dk33l".isalnum()) # cannot have space
print("dfjads sdfjslk2".isalnum())

True
False

### isalpha
- Return True if all characters in the string are alphabetic and there is at least one character, False otherwise.

In [26]:
print("sjafdlsk".isalpha())
print("djfkas dsjafl".isalpha()) # cannot have space

True
False

### isascii
- Return True if the string is empty or all characters in the string are ASCII, False otherwise.

In [27]:
print('ASCII characters'.isascii())
print('µ'.isascii())

True
False

### isdecimal
- Return True if all characters in the string are decimal characters and there is at least one character, False otherwise.
- Does not actual check for a decimal number.

In [30]:
print('0123456789'.isdecimal())
print('0123.456789'.isdecimal())
print('٠١٢٣٤٥٦٧٨٩'.isdecimal()) # works on Arabic - Indian number
print('alphabetic'.isdecimal())

True
False
True
False

###  isdigit
- Return True if all characters in the string are digits and there is at least one character, False otherwise
- works on superscript while isdecimal does not

In [31]:
print('0123456789'.isdigit())
print('٠١٢٣٤٥٦٧٨٩'.isdigit())
print("²".isdecimal())    # False (superscript is not a decimal digit)
print("²".isdigit())     # True (superscript is considered a digit)

True
True
False
True

### isidentifier
- Return True if the string is a valid identifier according to the language definition
- aka naming for a variable

In [33]:
print('def'.isidentifier())
print('hello'.isidentifier())
print('1010hello'.isidentifier())

True
True
False

### islower
- Return True if all cased characters in the string are lowercase and there is at least one cased character, False otherwise.

In [35]:
"am i lower".islower()

True

### isnumeric
- Return True if all characters in the string are numeric characters, and there is at least one character, False otherwise.

In [ ]:
print("1234".isnumeric())
print("123 4343".isnumeric()) # no gaps
print("123.4343".isnumeric()) # no decimal

True
False
False

### isprintable
- Return True if all characters in the string are printable, False if it contains at least one non-printable character.
- Here “printable” means the character is suitable for repr() to use in its output; “non-printable” means that repr() on built-in types will hex-escape the character.

### isspace
- Return True if there are only whitespace characters in the string and there is at least one character, False otherwise.

In [ ]:
print("  ".isspace())
print(" \t\r".isspace())
# \t: tab
# \n: newline
# \r: carriage return
# " ": space

True
True

### istitle
- Return True if the string is a titlecased string and there is at least one character, for example uppercase characters may only follow uncased characters and lowercase characters only cased ones.

In [ ]:
print("I Am Title".istitle())
# The first character in each word must be capitalize

True

### isupper
- Return True if all cased characters in the string are uppercase and there is at least one cased character, False otherwise.

In [45]:
print("ALL CAPS BRO".isupper())

True

### join
- Return a string which is the concatenation of the strings in iterable.

In [34]:
print(', '.join(['spam', 'spam', 'spam']))
print('-'.join('Python'))
print('sd-fsd-s'.join(["what", "do", "mean"]))

spam, spam, spam
P-y-t-h-o-n
whatsd-fsd-sdosd-fsd-smean

### ljust
- Return the string left justified in a string of length width. Padding is done using the specified fillchar (default is an ASCII space). The original string is returned if width is less than or equal to len(s).

In [47]:
print("will be fill on the right".ljust(75, "="))

will be fill on the right==================================================

### lower
- Return a copy of the string with all the cased characters [4] converted to lowercase.

In [48]:
print("JAKLJKLJ".lower())

jakljklj

### lstrip
- Return a copy of the string with leading characters removed. The chars argument is a string specifying the set of characters to be removed. If omitted or None, the chars argument defaults to removing whitespace. The chars argument is not a prefix; rather, all combinations of its values are stripped:

In [51]:
print('   spacious   '.lstrip()) # good for strip white space on the left
print('www.example.com'.lstrip('w.')) # or unwanted characters

spacious
example.com

### maketrans
- used to create a translation table, which is then typically used with the str.translate() method to perform character-by-character replacements in a strin
- use in conjunction with str.translate()

In [52]:
original_string = "hello world"
translation_table = str.maketrans("aeiou", "12345")
translated_string = original_string.translate(translation_table)
print(translated_string)

h2ll4 w4rld

### partition
- split the string at the first occurrence of sep, and return a 3-tuple containing the part before the separator, the separator itself, and the part after the separator. 
- If the separator is not found, return a 3-tuple containing the string itself, followed by two empty strings.

In [ ]:
text = "apple,orange,banana"
result = text.partition(',') # returns (1st_part, separator, remaining)
print(result)

('apple', ',', 'orange,banana')

In [54]:
# Safely Separating Key-Value Pairs
settings_line = "path=C:\\Users\\Admin\\Documents:config"

# We want only the key and the full value
key, _, value = settings_line.partition("=")

print(f"Key: {key}")
print(f"Value: {value}")

Key: path
Value: C:\Users\Admin\Documents:config

In [55]:
# Parsing Email Addresses into User and Domain
address = "contact.support@company.org"

user_name, at_sign, domain_name = address.partition("@")

print(f"Username: {user_name}")
print(f"Domain: {domain_name}")

Username: contact.support
Domain: company.org

### removeprefix
- If the string starts with the prefix string, return string[len(prefix):]. Otherwise, return a copy of the original string

In [57]:
print('TestHook'.removeprefix('Test'))

Hook

### removesuffix
- If the string ends with the suffix string and that suffix is not empty, return string[:-len(suffix)]. Otherwise, return a copy of the original string:

In [58]:
print('MiscTests'.removesuffix('Tests'))

Misc

### replace
- Return a copy of the string with all occurrences of substring old replaced by new.
- If count is given,only the first count occurrences are replaced.
- If count is not specified or -1, then all occurrences are replaced.
- str.replace(old, new, /, count=-1)

In [59]:
text = "hello world, hello python"
new_text = text.replace("hello", "hi")
print(new_text)

# Removing a character by replacing with an empty string
data = "data-set"
cleaned_data = data.replace("-", "")
print(cleaned_data)

hi world, hi python
dataset

### rfind
- Return the highest index in the string where substring sub is found, such that sub is contained within s[start:end]
- Optional arguments start and end are interpreted as in slice notation. Return -1 on failure.

### rindex

### rindex

### rjust

### rpartition

In [56]:
file_name = "archive.2024.01.report.pdf"

# Using rpartition() to find the LAST dot from the right
name_base, dot, extension = file_name.rpartition(".")

if dot:
    print(f"Base Name: {name_base}")
    print(f"Extension: .{extension}")
else:
    # Handles cases like just ".bashrc" or files with no extension
    print(f"File has no standard extension or starts with a dot: {name_base}")

Base Name: archive.2024.01.report
Extension: .pdf

### rsplit
- Return a list of the words in the string, using sep as the delimiter string. 
- If maxsplit is given, at most maxsplit splits are done, the rightmost ones. 
- If sep is not specified or None, any whitespace string is a separator. 
- Except for splitting from the right, rsplit() behaves like split() which is described in detail below.
- string.rsplit(separator, maxsplit)

In [61]:
text = "This is a sample string"
result = text.rsplit()
print(result)

path = "/usr/local/bin/python"
result = path.rsplit('/', 1) # Split only once from the right
print(result)

['This', 'is', 'a', 'sample', 'string']
['/usr/local/bin', 'python']

### rstrip
- Return a copy of the string with trailing characters removed. 
- The chars argument is a string specifying the set of characters to be removed. 
- If omitted or None, the chars argument defaults to removing whitespace. 
- The chars argument is not a suffix; rather, all combinations of its values are stripped:

In [62]:
print('   spacious   '.rstrip())
print('mississippi'.rstrip('ipz'))

   spacious
mississ

### split
- Return a list of the words in the string, using sep as the delimiter string. 
- If maxsplit is given, at most maxsplit splits are done (thus, the list will have at most maxsplit+1 elements). 
- If maxsplit is not specified or -1, then there is no limit on the number of splits (all possible splits are made).

- If sep is given, consecutive delimiters are not grouped together and are deemed to delimit empty strings (for example, '1,,2'.split(',') returns ['1', '', '2']). 
- The sep argument may consist of multiple characters as a single delimiter (to split with multiple delimiters, use re.split()). 
- Splitting an empty string with a specified separator returns ['']
- str.split(sep=None, maxsplit=-1

In [63]:
print('1,2,3'.split(','))
print('1,2,3'.split(',', maxsplit=1))
print('1,2,,3,'.split(','))
print('1<>2<>3<4'.split('<>'))

['1', '2', '3']
['1', '2,3']
['1', '2', '', '3', '']
['1', '2', '3<4']

### splitlines
- Return a list of the lines in the string, breaking at line boundaries. 
- Line breaks are not included in the resulting list unless keepends is given and true.
- This method splits on the following line boundaries.
- str.splitlines(keepends=False)

In [64]:
print('ab c\n\nde fg\rkl\r\n'.splitlines())
print('ab c\n\nde fg\rkl\r\n'.splitlines(keepends=True))

['ab c', '', 'de fg', 'kl']
['ab c\n', '\n', 'de fg\r', 'kl\r\n']

### startswith
- Return True if string starts with the prefix, otherwise return False. prefix can also be a tuple of prefixes to look for. 
- With optional start, test string beginning at that position. 
- With optional end, stop comparing string at that position.

In [65]:
print("I am the ghost of".startswith("I"))

True

### strip
- Return a copy of the string with the leading and trailing characters removed. 
- The chars argument is a string specifying the set of characters to be removed. 
- If omitted or None, the chars argument defaults to removing whitespace. 
- The chars argument is not a prefix or suffix; rather, all combinations of its values are stripped:

In [67]:
print('   spacious   '.strip())
print('www.example.com'.strip('cmowz.'))

spacious
example

### swapcase
- Return a copy of the string with uppercase characters converted to lowercase and vice versa. 
- Note that it is not necessarily true that s.swapcase().swapcase() == s.

In [68]:
my_string = "Hello, World! 123"
swapped_string = my_string.swapcase()

print(f"Original string: {my_string}")
print(f"Swapped string: {swapped_string}")

Original string: Hello, World! 123
Swapped string: hELLO, wORLD! 123

### title
- Return a titlecased version of the string where words start with an uppercase character and the remaining characters are lowercase.

In [69]:
print('Hello world'.title())
print('python world'.title())

Hello World
Python World

### translate
- Return a copy of the string in which each character has been mapped through the given translation table.
- The table must be an object that implements indexing via __getitem__(), typically a mapping or sequence.
- When indexed by a Unicode ordinal (an integer), the table object can do any of the following: return a Unicode ordinal or a string, to map the character to one or more other characters; return None, to delete the character from the return string; or raise a LookupError exception, to map the character to itself.

- You can use str.maketrans() to create a translation map from character-to-character mappings in different formats.

In [70]:
original_string = "hello world"
translation_table = str.maketrans("aeiou", "12345")
translated_string = original_string.translate(translation_table)
print(translated_string)

h2ll4 w4rld

### upper
- Return a copy of the string with all the cased characters [4] converted to uppercase. 
- Note that s.upper().isupper() might be False if s contains uncased characters or if the Unicode category of the resulting character(s) is not “Lu” (Letter, uppercase), but e.g. “Lt” (Letter, titlecase).

In [71]:
print("This is some line".upper())

THIS IS SOME LINE

### zfill
- Return a copy of the string left filled with ASCII '0' digits to make a string of length width. 
- A leading sign prefix ('+'/'-') is handled by inserting the padding after the sign character rather than before. 
- The original string is returned if width is less than or equal to len(s).

In [72]:
print("42".zfill(5))
print("-42".zfill(5))

00042
-0042

## dict - dictionary - hashmap
- python default dict or hashmap with key pair

### clear
- empty the dict

In [73]:
temp = {"key": "value"}
print(temp)
temp.clear()
print(temp)

{'key': 'value'}
{}

### copy
- create a new dict but it is a shallow copy of the dict
- shallow means it doesn't go nested

In [ ]:
temp = {"key": [1, 2, 3, 4, 5], "key2": {"nested_key": "some value"}}
print(temp)
copy_temp = temp.copy()
print(copy_temp)

temp["key2"]["nested_key"] = "updated value" # will update nested values for both dict
print(temp)
print(copy_temp)

{'key': [1, 2, 3, 4, 5], 'key2': {'nested_key': 'some value'}}
{'key': [1, 2, 3, 4, 5], 'key2': {'nested_key': 'some value'}}
{'key': [1, 2, 3, 4, 5], 'key2': {'nested_key': 'updated value'}}
{'key': [1, 2, 3, 4, 5], 'key2': {'nested_key': 'updated value'}}

### fromkeys
- Create a new dictionary with keys from iterable and values set to value.
- class method

In [78]:
print(temp)
new_temp = dict.fromkeys(["new", "shiny"])
print(new_temp)

{'key': [1, 2, 3, 4, 5], 'key2': {'nested_key': 'updated value'}}
{'new': None, 'shiny': None}

### get 
- Return the value for key if key is in the dictionary, else default. 
- If default is not given, it defaults to None, so that this method never raises a KeyError.

In [ ]:
print(new_temp.get("shiny", "15")) # the nuance is that if the value is none, then it will return that

print(temp.get("key", "default_value"))
print(temp.get("not_exist", "default_value")) # if key doesn't exist, then it will return the default value

None
[1, 2, 3, 4, 5]
default_value

### items
- Return a new view of the dictionary’s items ((key, value) pairs).

In [85]:
for key, value in temp.items():
    print(key)

key
key2

### keys
- Return a new view of the dictionary’s keys.

In [87]:
for key in temp.keys():
    print(key)

key
key2

### pop.
- If key is in the dictionary, remove it and return its value, else return default. 
- If default is not given and key is not in the dictionary, a KeyError is raised.
- pop(key, /)
- pop(key, default, /)

In [89]:
print(temp)
temp.pop("key")
print(temp)

{'key': [1, 2, 3, 4, 5], 'key2': {'nested_key': 'updated value'}}
{'key2': {'nested_key': 'updated value'}}

### popitem
- Remove and return a (key, value) pair from the dictionary. Pairs are returned in LIFO order.
- popitem()

In [90]:
print(temp)
temp.popitem()
print(temp)

{'key2': {'nested_key': 'updated value'}}
{}

### setdefault
- If key is in the dictionary, return its value. 
- If not, insert key with a value of default and return default. default defaults to None.

In [96]:
new_temp = {1: "first", 3: "third", 2: "second"}
new_temp.setdefault(100, "empty")
print(new_temp)

{1: 'first', 3: 'third', 2: 'second', 100: 'empty'}

### update
- Update the dictionary with the key/value pairs from mapping or iterable and kwargs, overwriting existing keys. Return None.
- update() accepts either another object with a keys() method (in which case __getitem__() is called with every key returned from the method) or an iterable of key/value pairs (as tuples or other iterables of length two). 
- If keyword arguments are specified, the dictionary is then updated with those key/value pairs: d.update(red=1, blue=2).

In [100]:
new_temp.update({100: "one hundred"})
print(new_temp)

{1: 'first', 3: 'third', 2: 'second', 100: 'one hundred'}

### values
- Return a new view of the dictionary’s values

In [101]:
for value in new_temp.values():
    print(value)

first
third
second
one hundred

## set
- A set object is an unordered collection of distinct hashable objects. 
- Common uses include membership testing, removing duplicates from a sequence, and computing mathematical operations such as intersection, union, difference, and symmetric difference.
- (For other containers see the built-in dict, list, and tuple classes, and the collections module.)

### creation
- Use a comma-separated list of elements within braces: **{'jack', 'sjoerd'}**
- Use a set comprehension: {c for c in 'abracadabra' if c not in 'abc'}
- Use the type constructor: set(), set('foobar'), set(['a', 'b', 'foo'])

In [5]:
a_set = {'jack', 'sjoerd'}
print(type(a_set))

<class 'set'>

### Misc Usage (len, in, and not in)
- len(s): Return the number of elements in set s (cardinality of s).
- x in s: Test x for membership in s.
- x not in s: Test x for non-membership in s.

In [7]:
print("a_set: ", a_set)
print(len(a_set))
print("jack in a_set: ", "jack" in a_set)
print("jack not in a_set", "jack" not in a_set)

a_set:  {'sjoerd', 'jack'}
2
jack in a_set:  True
jack not in a_set False

### add
- Add element elem to the set.

In [8]:
a_set.add("john")
print("a_set: ", a_set)

a_set:  {'sjoerd', 'john', 'jack'}

### clear
- Remove all elements from the set.

In [9]:
a_set.clear()
print("a_set: ", a_set)

a_set:  set()

### difference
- Returns a set containing the difference between two or more sets
- Could use the minus symbol "-" instead

In [12]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

## shortcut is to use the minus symbol

print("difference between x - y using the minus symbol: ", x - y)

{'cherry', 'banana'}
difference between x - y using the minus symbol:  {'cherry', 'banana'}

### difference_update
- Removes the items in this set that are also included in another, specified set
- Could use the minus equal symbol "-=" instead

In [14]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

x -= y

print("difference between x - y using the minus symbol: ", x)

{'cherry', 'banana'}
difference between x - y using the minus symbol:  {'cherry', 'banana'}

### discard
- Remove the specified item

In [16]:
fruits = {"apple", "banana", "cherry"}

fruits.discard("banana")

print("fruits after discard banana: ", fruits)

fruits after discard banana:  {'cherry', 'apple'}

### intersection
- Returns a set, that is the intersection of two other sets
- Could use the "&" ampersand symbol instead

In [18]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)
print("with shortcut &: ", x & y)

{'apple'}
with shortcut &: {'apple'}

### instersection_update
- Removes the items in this set that are not present in other, specified set(s)
- Could use the "&=" ampersand equal symbol instead

In [20]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple", "banana"}

x.intersection_update(y)

print(x)

x &= y
print("with shortcut &=: ", x)

{'banana', 'apple'}
with shortcut &=:  {'banana', 'apple'}

### isdisjoint
- Returns whether two sets have a intersection or not

In [23]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print("is x disjoint from y: ", z)

is x disjoint from y:  True

### issubset
- Returns True if all items of this set is present in another set
- Could use the "<" less than or "<=" less than equal symbol instead
- **Note**: issubset is equivalent to <=; NOT <

In [24]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

print("x issubset of y: ", x <= y)

True
x issubset of y:  True

### issuperset
- Returns True if all items of another set is present in this set
- Could use ">" greater than or ">=" greater than equal symbol instead
- **Note**: issubset is equivalent to >=; NOT >

In [25]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

print("x >= y: ", x >= y)

True
x >= y:  True

### pop
- Removes an **random** element from the set

In [26]:
fruits = {"apple", "banana", "cherry"}

fruits.pop()

print(fruits)

{'banana', 'apple'}

### remove
- Removes the specified element

In [27]:
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'cherry', 'apple'}

### symmetric_difference
- Returns a set with the symmetric differences of two sets
- Could use the "^" caret symbol instead.

In [28]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

print("x ^ y: ", x ^ y)

{'microsoft', 'cherry', 'google', 'banana'}
x ^ y:  {'microsoft', 'cherry', 'google', 'banana'}

### symmetric_difference_update
- Inserts the symmetric differences from this set and another
- Could you the "^=" caret equal symbol instead.

In [29]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

x ^= y
print("x ^= y", x)

{'cherry', 'banana', 'microsoft', 'google'}
x ^= y {'apple', 'cherry', 'banana'}

### union
- Return a set containing the union of sets
- Could you the "|" pipe symbol instead.

In [30]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

print("x | y: ", x | y)

{'cherry', 'microsoft', 'google', 'banana', 'apple'}
x | y:  {'cherry', 'microsoft', 'google', 'banana', 'apple'}

### update
- Update the set with the union of this set and others
- Could use the "|=" pipe equal symbol instead.

In [31]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

x |= y
print("x |= y: ", x)

{'cherry', 'microsoft', 'google', 'banana', 'apple'}
x |= y:  {'cherry', 'microsoft', 'google', 'banana', 'apple'}

## Deque - queue
- A standard FIFO data structure.
- one of the collections module class
- short for “double-ended queue

### append
- Adds a single element to the right end of the queue.

In [32]:
from collections import deque

queue = deque([10, 20, 30])
print(queue)
queue.append(50)
print("after appending 50: ", queue)

deque([10, 20, 30])
after appending 50:  deque([10, 20, 30, 50])

### appendleft
- Adds a single element to the left end of the queue.

In [34]:
queue.appendleft(5)
print(f"After appendleft(5): {queue}")

After appendleft(5): deque([5, 5, 10, 20, 30, 50])

### clear
- Removes all elements from the queue, making it empty.

In [35]:
queue.clear()
print("queue after clear: ", queue)

queue after clear:  deque([])

### copy
- Returns a shallow copy of the queue.

In [36]:
queue2 = deque([11, 22, 33, 44])
print("queue2: ", queue2)
queue3 = queue2.copy()
print("queue3: ", queue3)

queue2:  deque([11, 22, 33, 44])
queue3:  deque([11, 22, 33, 44])

### count(element)
- Returns the number of elements with the specified value.

In [38]:
print("count of queue2: ", queue2.count(11))

count of queue2:  1

### extend
- Adds elements of an iterable to the right end of the queue.

In [39]:
queue2.extend([50, 60])
print("After extending 50 and 60: ", queue2)

After extending 50 and 60:  deque([11, 22, 33, 44, 50, 60])

### extendleft
- Adds elements of an iterable to the left end of the queue.

In [41]:
queue3.extendleft([0, 2])
print("After extendingleft queue3 with 0, 2: ", queue3)

After extendingleft queue3 with 0, 2:  deque([2, 0, 2, 0, 11, 22, 33, 44])

### index
- Returns the position of the first occurrence of value within the deque, searching between start and end if provided. Raises ValueError if value is not found.

In [44]:
print("get index of 30: ", queue2.index(22))

get index of 30:  1

### insert(index, element)
-  Inserts element into the deque at position index

In [45]:
queue2.insert(2, 25)
print("queue2 after insert 25 at index 2: ", queue2)

queue2 after insert 25 at index 2:  deque([11, 22, 25, 33, 44, 50, 60])

### maxlen
- Returns the maximum size of the queue or None if unbounded.

In [ ]:
print("maxlen for queue2: ", queue2.maxlen)
#

maxlen for queue2:  None

### pop
- Removes and returns the element from the right end of the queue.

In [50]:
print("get pop element from queue2: ", queue2.pop())

get pop element from queue2:  60

### popleft
- Removes and returns the element from the left end of the queue.

In [51]:
print(queue2)
print("get popleft element from queue2: ", queue2.popleft())

deque([11, 22, 25, 33, 44, 50])
get popleft element from queue2:  11

### remove
- Removes the first occurrence of the specified value.

In [56]:
queue2.remove(22)
print("queue2 after removing element 22: ", queue2)

queue2 after removing element 22:  deque([25, 33, 44, 50])

### reverse
- Reverses the order of the queue.

In [57]:
queue2.reverse()
print("queue2 reverse: ", queue2)

queue2 reverse:  deque([50, 44, 33, 25])

### rotate
- Rotates the elements in the queue.

In [58]:
print("queue2: ", queue2)
queue2.rotate(3)
print("queue2 after rotating 3: ", queue2)

queue2:  deque([50, 44, 33, 25])
queue2 after rotating 3:  deque([44, 33, 25, 50])

## heapq
- Min-heaps are binary trees for which every parent node has a value less than or equal to any of its children. We refer to this condition as the heap invariant.
- For min-heaps, this implementation uses lists for which heap[k] <= heap[2*k+1] and heap[k] <= heap[2*k+2] for all k for which the compared elements exist. Elements are counted from zero. The interesting property of a min-heap is that its smallest element is always the root, heap[0].
- **NOTE**: python 3.14 add support for max-heap

### heapify
- Transform list x into a min-heap, in-place, in linear time.

In [66]:
import heapq

my_heap = [3, 4, 3, 2, 4, 11, 33, 22, 44]
heapq.heapify(my_heap)
print("after heapify my_heap: ", my_heap)

after heapify my_heap:  [2, 3, 3, 4, 4, 11, 33, 22, 44]

### heappop
- Pop and return the smallest item from the heap, maintaining the min-heap invariant. If the heap is empty, IndexError is raised. To access the smallest item without popping it, use heap[0].

In [67]:
heapq.heappop(my_heap)
print("my_heap after heappop: ", my_heap)

my_heap after heappop:  [3, 3, 11, 4, 4, 44, 33, 22]

### heappush
- Push the value item onto the heap, maintaining the min-heap invariant.

In [68]:
heapq.heappush(my_heap, 100)
print("my_heap after heappush: ", my_heap)

my_heap after heappush:  [3, 3, 11, 4, 4, 44, 33, 22, 100]

### heappushpop
- Push item on the heap, then pop and return the smallest item from the heap. The combined action runs more efficiently than heappush() followed by a separate call to heappop().

In [69]:
heapq.heappushpop(my_heap, 300)
print("my_heap after heappush: ", my_heap)

my_heap after heappush:  [3, 4, 11, 4, 300, 44, 33, 22, 100]

### merge
- Merge multiple sorted inputs into a single sorted output (for example, merge timestamped entries from multiple log files). Returns an iterator over the sorted values.
- **merge(*iterables, key=None, reverse=False)**

In [76]:
nums1 = [1, 3, 5, 7, 9, 11]
nums2 = [0, 2, 4, 6, 8, 10]

# Merge the lists
merged_iterator = heapq.merge(nums1, nums2)

# Convert the resulting iterator to a list for printing
merged_list = list(merged_iterator)

print("Original sorted lists:")
print(f"List 1: {nums1}")
print(f"List 2: {nums2}")
print("\nAfter merging the two sorted lists:")
print(merged_list)

Original sorted lists:
List 1: [1, 3, 5, 7, 9, 11]
List 2: [0, 2, 4, 6, 8, 10]

After merging the two sorted lists:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

### nlargest
- Return a list with the n largest elements from the dataset defined by iterable. key, if provided, specifies a function of one argument that is used to extract a comparison key from each element in iterable (for example, key=str.lower). Equivalent to: sorted(iterable, key=key, reverse=True)[:n].

In [78]:
print("my_heap: ", my_heap)
print("nlargest 4: ", heapq.nlargest(4, my_heap))

my_heap:  [3, 4, 11, 4, 300, 44, 33, 22, 100]
nlargest 4:  [300, 100, 44, 33]

### nsmallest
- Return a list with the n smallest elements from the dataset defined by iterable. key, if provided, specifies a function of one argument that is used to extract a comparison key from each element in iterable (for example, key=str.lower). Equivalent to: sorted(iterable, key=key)[:n].

In [79]:
print("my_heap: ", my_heap)
print("nsmallest 4: ", heapq.nsmallest(4, my_heap))

my_heap:  [3, 4, 11, 4, 300, 44, 33, 22, 100]
nsmallest 4:  [3, 4, 4, 11]

### heapsort
- use the heap to return a sorted list

In [82]:
# push all values in a heap and then pop it
def heapsort(iterable):
    h = []
    for value in iterable:
        heapq.heappush(h, value)
    return [heapq.heappop(h) for i in range(len(h))]

print(heapsort([44, 33, 66, 2, 1, 3, 18, 9]))

[1, 2, 3, 9, 18, 33, 44, 66]

## Counter
- a dict subclass for counting hashable object.
- elements stored as dictionary keys and their counts are values

In [1]:
from collections import Counter 
c = Counter(a=4, b=2, c=0, d=-2)
print(c)

Counter({'a': 4, 'b': 2, 'c': 0, 'd': -2})

### clear
- clear() - no argument
- remove all elements

In [2]:
c.clear()
print(c)

Counter()

### copy
- copy() - no argument
- Returns a shallow copy of the Counter. 
- Shallow means only go 1 level, but it is a new Counter.

In [8]:
c =Counter('abracadabra')
print(c)
shallow_copy = c.copy()
print(shallow_copy)
c['a'] += 1
print("c:", c)
print("shallow_copy: ", shallow_copy)

Counter({'a': 5, 'b': 2, 'r': 2, 'c': 1, 'd': 1})
Counter({'a': 5, 'b': 2, 'r': 2, 'c': 1, 'd': 1})
c: Counter({'a': 6, 'b': 2, 'r': 2, 'c': 1, 'd': 1})
shallow_copy:  Counter({'a': 5, 'b': 2, 'r': 2, 'c': 1, 'd': 1})

### elements
- elements() - no argument
- Returns an iterator over elements, repeating each element as many times as its count. Elements with counts less than or equal to zero are not included.

In [10]:
for ele in c.elements():
    print("each element: ", ele)

each element:  a
each element:  a
each element:  a
each element:  a
each element:  a
each element:  a
each element:  b
each element:  b
each element:  r
each element:  r
each element:  c
each element:  d

### get
- get(key, default=None): Returns the value for key if key is in the dictionary, else default.

In [12]:
c.get('a')

6

### items
- items() - no argument
- Returns a new view of the Counter's items (key-value pairs).

In [14]:
for key, count in c.items():
    print("key: {}, value: {}".format(key, count))

key: a, value: 6
key: b, value: 2
key: r, value: 2
key: c, value: 1
key: d, value: 1

### keys
- keys() - no argument
- Returns a new view of the Counter's keys.

In [17]:
for key in c.keys():
    print("key: {}".format(key))

key: a
key: b
key: r
key: c
key: d

### most_common
- most_common(n): Returns a list of the n most common elements and their counts, from the most common to the least. If n is omitted or None, it returns all elements.

In [21]:
c.most_common(1)

[('a', 6)]

### pop
- pop(key, default=None)
- Removes and returns the values associated with key.

In [25]:
print(c)
c.pop('c')
print(c)

Counter({'a': 6, 'b': 2, 'r': 2, 'c': 1})
Counter({'a': 6, 'b': 2, 'r': 2})

### popitem
- popitem() - no argument
- Removes and returns an arbitrary (key, value) pair.

In [26]:
print(c)
c.popitem()

Counter({'a': 6, 'b': 2, 'r': 2})

('r', 2)

### setdefault
- setdefault(key, default=None): 
- If key is in the dictionary, return its value. If not, insert key with a value of default and return default.

In [27]:
c.setdefault('c', 10)
print(c)

Counter({'c': 10, 'a': 6, 'b': 2})

### subtract
- subtract([iterable-or-mapping]): 
- Decreases the counts in the Counter based on elements in the given iterable or mapping. This is similar to update(), but it subtracts counts. 
- decrement while update is increment

In [28]:
print(c)
c.subtract(['a', 'c'])
print(c)

Counter({'c': 10, 'a': 6, 'b': 2})
Counter({'c': 9, 'a': 5, 'b': 2})

### total
- total() - no argument
- Returns the sum of all counts in the Counter.

In [30]:
print(c)
c.total()

Counter({'c': 9, 'a': 5, 'b': 2})

16

### update
- update([iterable-or-mapping]): 
- Like dict.update(), but for Counter objects, it adds counts instead of replacing them
- Like increment while subtract is decrement

In [31]:
print(c)
c.update(['b', 'r'])
print(c)

Counter({'c': 9, 'a': 5, 'b': 2})
Counter({'c': 9, 'a': 5, 'b': 3, 'r': 1})

### values
- values() - no argument
- Returns a new view of the Counter's values (counts).

In [34]:
print(c)
for value in c.values():
    print("value: {}".format(value), end=", ")

Counter({'c': 9, 'a': 5, 'b': 3, 'r': 1})
value: 5, value: 3, value: 9, value: 1,

## math

### acos

### acosh


### asin

### asinh

### atan

### atan2

### atanh

### ceil

### comb

### copysign

### cos

### cosh

### degrees

### dist

### e

### erf

### erfc

### exp

### expm1

### fabs

### factorial

### floor

### fmod

### frexp

### fsum

### gamma

### gcd

### hypot

### inf

### isclose

### isfinite

### isinf

### isnan

### isqrt

### lcm

### ldexp

### lgamma

### log

### log10

### log1p

### modf

### nan

### nextafter

### perm

### pi

### pow

### prod

In [4]:
from math import prod

print(prod((2, 3, 1)))

6

### radian

### remainder

### sin

### sinh

### sqrt

### tan

### tanh

### tau

### trunc

### ulp